<div class="card">
    <div class="card-header card-title">Present in Child</div>
    <div class="card-block">
        <div class="btn-group btn-group-sm">
            <button (click)="selectAll()"
                class="btn btn-default">All</button>
            <button (click)="selectNone()"
                class="btn btn-default">None</button>
        </div>
        <div class="checkbox">
          <label>
            <input #affectedOnlyCheckbox
                type="checkbox"
                [checked]="affectedOnly"
                (change)="presentInChildCheckValue('affected only',affectedOnlyCheckbox.checked)">
            affected only
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input
                #unaffectedOnlyCheckbox
                type="checkbox"
                [checked]="unaffectedOnly"
                (change)="presentInChildCheckValue('unaffected only',unaffectedOnlyCheckbox.checked)">
            unaffected only
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input
                #affectedUnaffectedCheckbox
                type="checkbox"
                [checked]="affectedUnaffected"
                (change)="presentInChildCheckValue('affected and unaffected',affectedUnaffectedCheckbox.checked)">
            affected and unaffected
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input
                #neitherCheckbox
                type="checkbox"
                [checked]="neither"
                (change)="presentInChildCheckValue('neither',neitherCheckbox.checked)">
            neither
          </label>
        </div>
    </div>
    <div *ngIf="errors?.length > 0" class="alert alert-danger" [class.flashing]="flashingAlert">
      <ul>
        <li *ngFor="let error of errors">
          {{ error }}
        </li>
      </ul>
    </div>
</div>
