<div class="card">
    <div class="card-header card-title">Present in Child</div>
    <div class="card-block">
        <div class="btn-group btn-group-sm">
            <button (click)="selectAll()"
                class="btn btn-default">All</button>
            <button (click)="selectNone()"
                class="btn btn-default">None</button>
        </div>
        <div class="checkbox">
          <label>
            <input #affectedOnlyCheckbox
                type="checkbox"
                [checked]="presentInChild.selected.has('affected only')"
                (change)="presentInChildCheckValue('affected only', affectedOnlyCheckbox.checked)">
            affected only
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input #unaffectedOnlyCheckbox
                type="checkbox"
                [checked]="presentInChild.selected.has('unaffected only')"
                (change)="presentInChildCheckValue('unaffected only', unaffectedOnlyCheckbox.checked)">
            unaffected only
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input #affectedUnaffectedCheckbox
                type="checkbox"
                [checked]="presentInChild.selected.has('affected and unaffected')"
                (change)="presentInChildCheckValue('affected and unaffected', affectedUnaffectedCheckbox.checked)">
            affected and unaffected
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input #neitherCheckbox
                type="checkbox"
                [checked]="presentInChild.selected.has('neither')"
                (change)="presentInChildCheckValue('neither', neitherCheckbox.checked)">
            neither
          </label>
        </div>
    </div>

    <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
</div>
