<div class="card">
    <div class="card-header card-title">Present in Child</div>
    <div class="card-block">
        <div class="btn-group btn-group-sm">
            <button (click)="selectAll()"
                class="btn btn-default">All</button>
            <button (click)="selectNone()"
                class="btn btn-default">None</button>
        </div>
        <div class="checkbox">
          <label>
            <input #probandOnlyCheckbox
                type="checkbox"
                [checked]="presentInChild.selected.has('proband only')"
                (change)="presentInChildCheckValue('proband only', probandOnlyCheckbox.checked)">
            proband only
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input #siblingOnlyCheckbox
                type="checkbox"
                [checked]="presentInChild.selected.has('sibling only')"
                (change)="presentInChildCheckValue('sibling only', siblingOnlyCheckbox.checked)">
            sibling only
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input #probandSiblingCheckbox
                type="checkbox"
                [checked]="presentInChild.selected.has('proband and sibling')"
                (change)="presentInChildCheckValue('proband and sibling', probandSiblingCheckbox.checked)">
            proband and sibling
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input #neitherCheckbox
                type="checkbox"
                [checked]="presentInChild.selected.has('neither')"
                (change)="presentInChildCheckValue('neither', neitherCheckbox.checked)">
            neither
          </label>
        </div>
    </div>

    <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
</div>
