<div class="genotype-block form-block">
	<div class="row row-eq-height">

    <div *ngIf="dataset.genotypeBrowserConfig.hasPedigreeSelector" class="col-lg-3">
			<gpf-pedigree-selector [pedigrees]="dataset.peopleGroupConfig.pedigreeSelectors"></gpf-pedigree-selector>
		</div>

		<div *ngIf="true" class="col-lg-3">
			<gpf-present-in-child></gpf-present-in-child>
		</div>

		<div *ngIf="true" class="col-lg-3">
			<gpf-present-in-parent></gpf-present-in-parent>
		</div>

		<div class="col-lg-6 panel-row">
			<gpf-effecttypes
        [variantTypes]="dataset.genotypeBrowserConfig.variantTypes">
      </gpf-effecttypes>
		</div>

		<div class="col-lg-3 panel-row">
			<gpf-gender></gpf-gender>
		</div>

		<div class="col-lg-3 panel-row">
			<gpf-varianttypes
        [variantTypes]="dataset.genotypeBrowserConfig.variantTypes"
        [selectedVariantTypes]="dataset.genotypeBrowserConfig.selectedVariantTypes">
      </gpf-varianttypes>
		</div>

		<div *ngIf="true" class="col-lg-3">
			<gpf-study-types></gpf-study-types>
    </div>

		<gpf-family-type-filter></gpf-family-type-filter>

		<div class="col-lg-3 panel-row">
			<gpf-inheritancetypes
        *ngIf="inheritanceTypes"
				[inheritanceTypes]="inheritanceTypes"
				[selectedValues]="selectedInheritanceTypes">
			</gpf-inheritancetypes>
		</div>
	</div>
</div>
