.fullscreen {
	position: absolute !important;
	left: 2%;
	margin: 0 auto;
	max-width: 96%;
	max-height: 96%;
    overflow: auto;
    background: white;
    height: auto;
    border: 1px solid #dddddd;
	padding: 10px;
	z-index: 1;
}