svg {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.svg-container {
  margin: 0 auto;
}

.family-panel {
  max-height: 100px;
  overflow: auto;
  overflow-wrap: break-word;
}

.btn-close {
  box-shadow: none;
  opacity: 0.5;
}
