.fullscreen {
  position: absolute !important;
  left: 50%;
  margin: 0 auto;
  height: initial !important;
  width: initial !important;
  max-width: 96%;
  max-height: 96%;
  min-width: 40%;
  overflow: auto;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 1;
  transform: translateX(-50%);
}

.fullscreen-div {
  opacity: 0%;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

svg {
  max-height: 73px;
  margin: auto;
}

.fullscreen-pedigree {
  max-height: unset;
}
