<ng-template #pedigree>
  <svg [attr.viewBox]="getViewBox()">
    <svg:line
      *ngFor="let straightLine of straightLines"
      [attr.x1]="straightLine.startX"
      [attr.y1]="straightLine.startY"
      [attr.x2]="straightLine.endX"
      [attr.y2]="straightLine.endY"
      stroke="black"
      stroke-width="1" />

    <svg:path
      *ngFor="let curveLine of curveLines"
      [attr.d]="curveLine.path"
      fill="none"
      stroke="black"
      stroke-width="1" />

    <svg:g
      gpf-pedigree-chart-member
      *ngFor="let pedigree of pedigreeDataWithLayout"
      [attr.transform]="
        'translate(' +
        pedigree.xUpperLeftCorner +
        ' ' +
        pedigree.yUpperLeftCorner +
        ') scale(' +
        pedigree.scaleFactor +
        ')'
      "
      [pedigreeData]="pedigree.individual.pedigreeData" />
  </svg>
</ng-template>

<ng-template #pedigreeModal let-modal>
  <div class="svg-container" [style.width.px]="width * popoverScale" style="margin-top: 8px">
    <ng-container *ngTemplateOutlet="pedigree"></ng-container>
  </div>

  <div style="padding-right: 8px">
    <form
      (ngSubmit)="onSubmit($event)"
      action="{{ configService.baseUrl }}common_reports/family_counters/download"
      method="post"
      style="float: right">
      <input ngbAutofocus name="queryData" type="hidden" />
      <button class="btn btn-md btn-primary" id="download-button">
        <i class="fa fa-download fa-lg"></i>
      </button>
    </form>
  </div>

  <hr style="margin-top: 8px" />

  <div id="family-ids-list-wrapper" style="height: 100px">
    <div *ngIf="familyIdsList" id="family-ids-list">
      <div>{{ familyIdsList | join: ', ' }}</div>
    </div>
  </div>
</ng-template>

<div (click)="openModal(pedigreeModal)" class="svg-container" [style.width.px]="width * scale">
  <ng-container *ngTemplateOutlet="pedigree"></ng-container>
</div>
