@for (i of subheadersCount; track i) {
  <div style="display: table-row">
    @for (column of columns; track column) {
      <gpf-table-view-header-cell
        #cell
        [columnInfo]="column.headerChildren.toArray()[i]"
        [sortingInfo]="sortingInfo"
        [style.width]="column.columnWidth || null"
        [style.min-width]="column.columnWidth || null"
        [style.max-width]="column.columnWidth || null"
        (sortingInfoChange)="sortingInfoChange.emit($event)"
        style="vertical-align: middle">
      </gpf-table-view-header-cell>
    }
  </div>
}
