<div class="family-filters-block form-block">
  <div class="card">
    <gpf-tabset #tabset (tabChange)="resetFiltersIfAllFamilies($event)">
      <div class="gpf-tabset-left">
        Families
      </div>
      <ngb-tab id="all-families" title="All">
      </ngb-tab>
      <ngb-tab id="family-ids" title="Family Ids">
          <ng-template ngbTabContent>
              <gpf-family-ids></gpf-family-ids>
          </ng-template>
      </ngb-tab>
      <ngb-tab *ngIf="datasetConfig.genotypeBrowser.phenoFilters"
               id="pheno-filters" title="Advanced">
          <ng-template ngbTabContent>
              <gpf-pheno-filters [datasetConfig]="datasetConfig">
              </gpf-pheno-filters>
          </ng-template>
      </ngb-tab>
    </gpf-tabset>
    <gpf-family-counters
        *ngIf="genotypeBrowserState"
        [genotypeBrowserState]="genotypeBrowserState"
        class="family-counters"
    ></gpf-family-counters>
  </div>
</div>
