<div class="family-filters-block form-block">
  <div class="card">
    <gpf-tabset #tabset>
      <div class="gpf-tabset-left">
        Families
      </div>
      <ngb-tab id="all-genes" title="All">
      </ngb-tab>
      <ngb-tab id="gene-symbols" title="Family Ids">
          <template ngbTabContent>
              <p>IDs</p>
          </template>
      </ngb-tab>
      <ngb-tab id="gene-sets" title="Advanced">
          <template ngbTabContent>
              <gpf-pheno-filters
                [phenoFilters]="advancedFilters"
                [datasetId]=datasetId>
              </gpf-pheno-filters>
          </template>
      </ngb-tab>
    </gpf-tabset>
  </div>
</div>
