<gpf-table noScrollOptimization="true" [dataSource]="(groups$ | async)">
      <gpf-table-column columnWidth="25px" columnMaxWidth="35px">
        <gpf-table-header caption="Group" field="name"></gpf-table-header>
        <gpf-table-content>
          <gpf-table-subcontent field="name">
          </gpf-table-subcontent>
        </gpf-table-content>
      </gpf-table-column>
      <gpf-table-column columnWidth="45px" columnMaxWidth="45px">
        <gpf-table-header caption="Users"></gpf-table-header>
        <gpf-table-content>
          <gpf-table-subcontent>
            <span *gpfTableCellContent="let data">
              <div *ngFor="let user of data.users">
                {{ user }}
              </div>
            </span>
          </gpf-table-subcontent>
        </gpf-table-content>
      </gpf-table-column>
      <gpf-table-column columnWidth="35px" columnMaxWidth="45px">
        <gpf-table-header caption="Datasets"></gpf-table-header>
        <gpf-table-content>
          <gpf-table-subcontent>
            <span *gpfTableCellContent="let data">
              <div *ngFor="let dataset of data.datasets">
                {{ dataset }}
              </div>
            </span>
          </gpf-table-subcontent>
        </gpf-table-content>
      </gpf-table-column>
</gpf-table>
<!--

  columnWidth="35px" columnMaxWidth="45px"

-->