<div class="studytypes-card card">
  <div class="card-header card-title">Study Types</div>
  <div class="card-block">
    <div class="btn-group btn-group-sm">
      <button
        (click)="selectAll()"
        class="btn btn-default">All</button>
      <button
        (click)="selectNone()"
        class="btn btn-default">None</button>
    </div>
    <div *ngIf="studytypes">
      <div
        *ngFor="let studytype of studytypes let i=index"
        class="checkbox">
        <label> <input
          type="checkbox"
          [(ngModel)]="studytypesCheck[i]"> {{studytype.id}}
        </label>
      </div>
    </div>
  </div>
</div>