<div class="studytypes-card panel panel-default">
  <div class="panel-heading">Study Types</div>
  <div class="panel-body">
    <div class="btn-group btn-group-xs">
      <button
        (click)="selectAll()"
        class="btn btn-default">All</button>
      <button
        (click)="selectNone()"
        class="btn btn-default">None</button>
    </div>
    <div *ngIf="studytypes">
      <div
        *ngFor="let studytype of studytypes let i=index"
        class="checkbox">
        <label> <input
          type="checkbox"
          [(ngModel)]="studytypesCheck[i]"> {{studytype.id}}
        </label>
      </div>
    </div>
  </div>
</div>