<div id="filters" class="row" style="margin-left: 0px">
  <div class="effect-card card" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="card-header card-title" style="font-family: Roboto; font-weight: 500;">Affected Status</div>
    <div class="card-block">
      <div style="display: inline" *ngFor="let affectedStatus of affectedStatusValues; let i=index" class="checkbox">
        <label style="padding: 15px; user-select: none">
          <input #affectedStatusCheckbox checked type="checkbox" id="affectedStatus{{affectedStatus}}-checkbox"
          (change)="checkAffectedStatus(affectedStatus, affectedStatusCheckbox.checked)">
          <span class="pedigree-icon" [style.background-color]="'#aaaaaa'" style="opacity: 0.75;"></span>
          <span style="display: inline-block;vertical-align: middle;line-height: 95%;"
            [ngStyle]="{width: affectedStatus === 'Affected only' ? '70px' : 
                               affectedStatus === 'Unaffected only' ? '80px' :
                               affectedStatus === 'Affected and unaffected' ? '100px': {}}">
            {{ affectedStatus }}
          </span>
        </label>
      </div>
    </div>
  </div>

  <div class="effect-card card" style="margin-top: 40px; margin-bottom: 40px; margin-left: 30px">
    <div class="card-header card-title" style="font-family: Roboto; font-weight: 500;">Effect Types</div>
    <div class="card-block">
      <div style="display: inline" *ngFor="let effect of ['LGDs', 'Missense', 'Synonymous', 'CNV+', 'CNV-', 'Other']; let i=index" class="checkbox">
        <label style="padding: 15px; user-select: none">
          <input #effectTypeCheckbox checked type="checkbox"
            (change)="checkEffectType(effect, effectTypeCheckbox.checked)">
          {{ effect }}
        </label>
      </div>
    </div>
  </div>

  <div class="effect-card card" style="margin-top: 40px; margin-bottom: 40px; margin-left: 30px">
    <div class="card-header card-title" style="font-family: Roboto; font-weight: 500;">Inheritance Types</div>
    <div class="card-block">
      <div style="display: inline">
        <label style="padding: 15px; user-select: none">
          <input style="margin-right: 5px;" #denovoCheckbox checked type="checkbox"
            (click)="checkShowDenovo(denovoCheckbox.checked)">
          <span style="margin-left: 10px">Denovo</span>
        </label>
      </div>
      <div style="display: inline">
        <label style="padding: 15px; user-select: none">
          <input #transmittedCheckbox checked type="checkbox"
            (click)="checkShowTransmitted(transmittedCheckbox.checked)">
          <span style="margin-left: 10px">Transmitted</span>
        </label>
      </div>
    </div>
  </div>

  <div class="effect-card card" style="margin-top: 40px; margin-bottom: 40px; margin-left: 30px">
    <div class="card-header card-title" style="font-family: Roboto; font-weight: 500;">Variant Types</div>
    <div class="card-block">
      <div style="display: inline" *ngFor="let variantType of ['sub', 'ins', 'del', 'CNV+', 'CNV-']; let i=index" class="checkbox">
        <label style="padding: 15px; user-select: none">
          <input #variantTypeCheckbox checked type="checkbox"
            (change)="checkVariantType(variantType, variantTypeCheckbox.checked)">
          {{ variantType }}
        </label>
      </div>
    </div>
  </div>
</div>
