:host /deep/ gpf-table {
	display: inline-block;
	width: 100%;
	margin-bottom: 50px;
}

:host /deep/ gpf-table-cell {
  height: 80px;
  max-height: 80px;
  border: 1px solid #dddddd;
  width: 50px;
  /*max-width: 250px;*/
  overflow: auto;
  text-align: center;
}

:host /deep/ gpf-table-header {
  width: 50px;
  height: 100px;
  border: 1px solid #dddddd;
  padding: 8px;
  font-size: 0.9em;
  background: #eee;
  font-weight: 500;
}

.container {
  font-size: 0.9em;
}
