<div class="container">
  <gpf-table noScrollOptimization="true" [dataSource]="(studiesSummaries$ | async)?.studiesSummaries">

    <ng-container *ngFor="let column of (studiesSummaries$ | async)?.columnsOrder">

      <gpf-table-column [ngSwitch]="column">

        <ng-container *ngSwitchCase="'denovo'">
            <gpf-table-header caption="{{ column }}" field="{{ columnNameToFieldName(column) }}">
            </gpf-table-header>
            <gpf-table-content>
                <span *gpfTableCellContent="let data">
                  <span *ngIf="data[column] === true" class="fa fa-check"></span>
                </span>
            </gpf-table-content>
        </ng-container>

        <ng-container *ngSwitchCase="'transmitted'">
            <gpf-table-header caption="{{ column }}" field="{{ columnNameToFieldName(column) }}">
            </gpf-table-header>
            <gpf-table-content>
                <span *gpfTableCellContent="let data">
                  <i *ngIf="data[columnNameToFieldName(column)] === true" class="fa fa-check"></i>
                </span>
            </gpf-table-content>
        </ng-container>

        <ng-container *ngSwitchCase="'study name'">
            <gpf-table-header caption="{{ column }}" field="{{ columnNameToFieldName(column) }}">
            </gpf-table-header>
            <gpf-table-content>
                <span *gpfTableCellContent="let data">
                  <a target="_blank"
                    [routerLink]="'/datasets/' + data['id'] + '/commonReport'">
                    {{ data[columnNameToFieldName(column)] }}
                  </a>
                </span>
            </gpf-table-content>
        </ng-container>

        <ng-container *ngSwitchDefault>
            <gpf-table-header caption="{{ column }}" field="{{ columnNameToFieldName(column) }}">
            </gpf-table-header>
            <gpf-table-content field="{{ columnNameToFieldName(column) }}">
            </gpf-table-content>
        </ng-container>

      </gpf-table-column>

    </ng-container>

  </gpf-table>
</div>
