<div class="container">
  <gpf-table [dataSource]="(studiesSummaries$ | async)?.studiesSummaries">

    <ng-container *ngFor="let column of (studiesSummaries$ | async)?.columnsOrder">

      <gpf-table-column [ngSwitch]="column">

        <ng-container *ngSwitchCase="'denovo'">
          <gpf-table-subcolumn header="{{ column }}"
            field="{{ columnNameToFieldName(column) }}">
            <span *gpf-table-cell-content="let data">
              <span *ngIf="data[column] === true" class="fa fa-check"></span>
            </span>
          </gpf-table-subcolumn>
        </ng-container>

        <ng-container *ngSwitchCase="'transmitted'">
          <gpf-table-subcolumn header="{{ column }}"
            field="{{ columnNameToFieldName(column) }}">
            <span *gpf-table-cell-content="let data; let data2 = column">
              <i *ngIf="data[column] === true" class="fa fa-check"></i>
            </span>
          </gpf-table-subcolumn>
        </ng-container>

        <ng-container *ngSwitchDefault>
            <gpf-table-subcolumn
              header="{{ column }}"
              field="{{ columnNameToFieldName(column) }}">
            </gpf-table-subcolumn>
        </ng-container>

      </gpf-table-column>

    </ng-container>

  </gpf-table>
</div>
