@if (pedigreeSelectorSwitch()) {
  <div class="pedigree-selector-card card">
    @if (pedigreeSelectorSwitch() === 'single') {
      <div class="card-header card-title">{{ selectedCollection?.name }}</div>
    }
    @if (pedigreeSelectorSwitch() === 'multi') {
      <div class="card-header card-title">
        <div class="btn-group">
          <div class="dropdown">
            <button
              class="btn btn-sm dropdown-toggle"
              type="button"
              id="pedigree-dropdown-menu-button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              <span>{{ selectedCollection?.name }}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="pedigree-dropdown-menu-button">
              @for (collection of collections; track collection; let i = $index) {
                <a class="dropdown-item" (click)="selectPedigreeClicked(i, $event)" href="#">{{ collection.name }}</a>
              }
            </div>
          </div>
        </div>
      </div>
    }
    <div class="card-block">
      <div class="btn-group btn-group-sm">
        <button (click)="selectAll()" class="btn btn-default">All</button>
        <button (click)="selectNone()" class="btn btn-default">None</button>
      </div>
      @for (selectorValue of selectedCollection?.domain; track selectorValue) {
        <div class="checkbox">
          <label>
            <input
              #checkbox
              type="checkbox"
              [checked]="selectedValues.has(selectorValue.id)"
              (change)="pedigreeCheckValue(selectorValue, checkbox.checked)" />
            <span class="pedigree-icon" [style.background-color]="selectorValue.color"></span>
            <span>{{ selectorValue.name }}</span>
          </label>
        </div>
      }
    </div>
    <gpf-errors-alert [errors]="errors" style="margin: initial"></gpf-errors-alert>
    @if (hasZygosity) {
      <gpf-zygosity-filter [parentComponent]="'pedigreeSelector'"></gpf-zygosity-filter>
    }
  </div>
}
