.grid-container {
  grid-template-columns: 25% 35% 25%;
  margin-left: 120px;
}

.table-toolbar {
  padding-top: 15px;
  display: flex;
  justify-content: start;
}

.search-input {
  padding-right: 8px;
  border-radius: 0;
}

#credential-name-box {
  width: 250px;
}

#create-credential-button,
#create-credential-form-button,
.creation-error,
.search-input {
  margin-left: 10px;
  margin-bottom: 15px;
  height: 38px;
}

.creation-error {
  width: fit-content;
  text-align: center;
  padding: 8px;
  margin-top: 0;
}

input:invalid:focus {
  outline: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
  box-shadow: 0 0 0 4px rgba(244, 15, 15, 30%);
}

#credential-modal-title-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

#credential-modal-title,
#credential-modal-content {
  padding: 15px;
}

#credential-modal-title {
  font-weight: bold;
  font-size: 18px;
}

#credential-modal-content {
  word-break: break-all;
}

#copy-credentials-button {
  margin-right: 20px;
}

#cancel-button {
  background-color: transparent;
  border: none;
}

#cancel-button > i {
  color: red;
}

#cancel-button > i:hover {
  color: rgb(255, 110, 110);
}

#edit-icon {
  font-size: 12px;
  padding-bottom: 5px;
}

#edit-icon:hover {
  cursor: pointer;
}

#edit-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#add-description {
  font-style: italic;
  opacity: 50%;
  margin-right: 5px;
}

.description-field {
  font-size: 15px;
  height: 75px;
  border-radius: 0.375rem;
}
