.grid-container {
  grid-template-columns: 25% 25% 25% 25%;
}

.table-toolbar {
  padding-top: 15px;
  display: flex;
  justify-content: start;
}

.search-input {
  padding-right: 8px;
}

#credential-name-box {
  width: 250px;
  height: 38px;
}

#create-credential-button,
#create-credential-form-button,
.creation-error,
.search-input {
  margin-left: 10px;
  margin-bottom: 15px;
}

.creation-error {
  width: fit-content;
  text-align: center;
  padding: 10px;
  margin-top: 0;
}

input:invalid:focus {
  outline: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
  box-shadow: 0 0 0 4px rgba(244, 15, 15, 30%);
}

#credential-modal-title,
#credential-modal-content {
  padding: 15px;
}

#credential-modal-title {
  font-weight: bold;
  font-size: 18px;
}

#credential-modal-content {
  word-break: break-all;
}
