<div class="table-toolbar">
  <input
    #credentialNameBox
    placeholder="New credential"
    autocomplete="off"
    id="credential-name-box"
    class="search-input form-control my-0 py-1"
    type="search"
    pattern=".{3,}"
    (focusout)="creationError = ''"
    required
    spellcheck="false" />
  <button #createButton id="create-credential-button" class="btn btn-primary">Create</button>
  <div *ngIf="creationError" class="creation-error alert alert-danger">{{ creationError }}</div>
</div>

<ng-template #credentialModal let-modal id="credential-modal">
  <div id="credential-modal-title-wrapper">
    <div id="credential-modal-title">Credentials: shown only once, copy before closing.</div>
    <button
      [cdkCopyToClipboard]="temporaryShownCredentials"
      title="Copy credentials"
      id="copy-credentials-button"
      class="action-button">
      <i class="fa fa-clone" aria-hidden="true"></i>
      Copy
    </button>
  </div>
  <div class="card-block" id="credential-modal-content">{{ temporaryShownCredentials }}</div>
</ng-template>

<div class="grid-container" *ngIf="credentials">
  <div class="grid-header">Name</div>
  <div class="grid-header">Description</div>
  <div class="grid-header">Actions</div>
  <ng-container *ngFor="let credential of credentials">
    <div class="grid-cell" [attr.id]="credential.name + '-name-cell'">{{ credential.name }}</div>

    <div class="grid-cell" [attr.id]="credential.name + '-description-cell'">
      <div>
        <!-- <span *ngIf="credential.description === '' && currentCredentialEdit !== credential.name" id="add-description">Add description</span> -->
        <!-- <span *ngIf="credential.description !== '' && currentCredentialEdit !== credential.name" id="description">{{ credential.description }}</span> -->
        <span *ngIf="currentCredentialEdit !== credential.name" id="add-description">Add description</span>
        <i
          *ngIf="currentCredentialEdit !== credential.name"
          (click)="currentCredentialEdit = credential.name"
          id="edit-icon"
          class="fa fa-pencil fa-lg"
          title="Edit"></i>
        <div *ngIf="currentCredentialEdit === credential.name" id="edit-wrapper">
          <textarea
            #descriptionBox
            type="text"
            [value]="credential.description"
            class="description-field search-input form-control my-0 py-1"
            [attr.id]="credential.name + '-new-name-input'"
            (keydown.escape)="currentCredentialEdit = ''">
          </textarea>
          <button id="cancel-button" (click)="currentCredentialEdit = ''" title="Cancel">
            <i class="fa fa-thin fa-times" aria-hidden="true"></i
          ></button>
        </div>
      </div>
    </div>

    <div class="grid-cell" [attr.id]="credential.name + '-actions-cell'">
      <gpf-confirm-button
        [attr.id]="credential.name + '-delete-credential-button'"
        (clicked)="deleteCredential(credential.name)"
        confirmText="Delete"
        title="Delete credential"
        [message]="'Credential \'' + credential.name + '\' will be deleted. This action is irrevertible!'"
        [iconStyle]="['fa', 'fa-lg', 'fa-times']">
      </gpf-confirm-button>
    </div>
  </ng-container>
</div>
