<gpf-fullscreen-loading></gpf-fullscreen-loading>
<div>
  <div class="container-fluid" id="logo">
    <div class="row">
      <div class="col-10">
        <span class="navbar-button">
          <button id="sidenav-toggle-button" class="navbar-toggler" (click)="toggleSidenav()">
            <span class="material-symbols-outlined navbar-toggler-icon">menu</span>
          </button>
        </span>
        <img src="{{ imgPathPrefix }}logo-64x64.png" />
        <h3 id="title">{{ title }}</h3>
      </div>
      <div class="col-2">
        <gpf-users></gpf-users>
      </div>
    </div>
  </div>

  <div class="sidenav-container">
    <div *ngIf="showSidenav" class="sidenav flex-column" [@fromLeft]="showSidenav">
      <ul class="nav navbar-nav navbar-custom">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/datasets"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }"
            (click)="hideSidenav()"
            >Datasets</a
          >
        </li>
        <li class="nav-item" *ngIf="agpConfig">
          <a
            class="nav-link"
            routerLink="/autism-gene-profiles"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }"
            (click)="hideSidenav()"
            >Autism gene profiles</a
          >
        </li>
        <li class="nav-item" *ngIf="('' | userInfo)?.loggedIn">
          <a
            class="nav-link"
            routerLink="/user-profile"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }"
            (click)="hideSidenav()"
            >User profile</a
          >
        </li>
        <li class="nav-item" *ngIf="('' | userInfo)?.isAdministrator">
          <a
            class="nav-link"
            routerLink="/management"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }"
            (click)="hideSidenav()"
            >Management</a
          >
        </li>
      </ul>
      <div id="version-container">
        <span *ngIf="gpfVersion && gpfVersion === gpfjsVersion">
          <span class="version-text">GPF version:</span> {{ gpfVersion }}
        </span>
        <span *ngIf="gpfVersion && gpfVersion !== gpfjsVersion">
          <span class="version-text">GPF version:</span> {{ gpfVersion }} / {{ gpfjsVersion }}
        </span>
      </div>
    </div>

    <div *ngIf="showSidenav" (click)="hideSidenav()" [@fadeInOut]="showSidenav" class="blackscreen"></div>

    <router-outlet style="display: flex; flex-direction: row"></router-outlet>
  </div>
  <router-outlet name="popup"></router-outlet>
</div>
