.git/
.venv/
**/.venv/
**/__pycache__/
**/*.pyc
**/*.egg-info/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/

containers/
coverage/
*.tar.gz
*.log
test_results/
test-results/
data/
data-hg19-startup/
gpf_remote/
downloads/
import/
results/
cache/
work/
temp/
.vagrant
.DS_Store
._.DS_Store
