*.pyc
.cache
*.log
*.cache
*.db
wdae.sql
.project
.pydevproject
.settings
.ipynb_checkpoints
.vagrant
.ipynb_checkpoints
.coverage
htmlcov
coverage.xml
junit.xml
logs
output
/gpf-html.tar.gz
.pytest_cache
metastore_db
setenv.sh
_build/
test_data/
/test_data/
.vscode/
wdae/docs/_build
gpf-dist.tar.gz
test_data
annotation.tmp
