*.pyc
.cache
*.log
*.cache
*.db
wdae.sql
.project
.pydevproject
.settings
.ipynb_checkpoints
.vagrant
.coverage
htmlcov
coverage.xml
junit.xml
logs
output
*.tmp
*.swp
gpf-html.tar.gz
.pytest_cache
# *.parquet
/gpf-html.tar.gz
.pytest_cache
metastore_db
setenv.sh
_build/
test_data/
/test_data/
.vscode/
.idea/
*.temp
wdae/docs/_build
gpf-dist.tar.gz
DAE/*.json
.coverage*
coverage/
tmp/
DAE/pyflakes.report
test_data
denovo-cache
data-hg19-startup.tar.gz
data-hg19-startup-*latest.tar.gz
data-hg19-startup
__pycache__
.mypy_cache
test_results
scripts/gpf_remote/
scripts/iossifov_2014/
scripts/genotype-iossifov_2014-latest.tar.gz
gpf_remote/
iossifov_2014/
genotype-iossifov_2014-*latest.tar.gz
dae/Makefile
dae/Snakefile
genotype-comp-*latest.tar.gz
phenotype-comp-data-*latest.tar.gz
comp-data/
comp
dae_conftests/dae_conftests/tests/fixtures/agpdb
builds
data
downloads
results
dae/dae/gene/tests/fixtures/datasets/f1_group/denovo-cache-phenotype.json
dae/dae/gene/tests/fixtures/datasets/f2_group/denovo-cache-phenotype.json
dae/dae/gene/tests/fixtures/datasets/f3_group/denovo-cache-phenotype.json
dae/dae/gene/tests/fixtures/studies/f4_trio/denovo-cache-phenotype.json
dae_conftests/dae_conftests/tests/fixtures/datasets/denovo-cache-phenotype.json
dae_conftests/dae_conftests/tests/fixtures/studies/Study1/common_report.json
common_report.json
/build-env/
test-results/
Jenkinsfile.generated-stages
/import
/test-results
Jenkinsfile.generated-stages.all
/.build-scripts-tmp-sessions
