services:

  minio:
    image: minio/minio:latest
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 5

  minio-client:
    image: minio/mc:latest
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set local http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb local/test-bucket;  # Create bucket
      # /usr/bin/mc policy set public local/test-bucket;  # Make it public
      "
    depends_on:
      minio:
        condition: service_healthy


  apache:
    image: httpd:latest
    container_name: http-fixture
    ports:
    - '28080:80'
    volumes:
      - ./dae/tests/.test_grr:/usr/local/apache2/htdocs/
