/* You can add global styles to this file, and also import other style files */

html, body, material-app {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
}

#logo {
	padding: 10px 20px;
}

#logo h3 {
   font-size: 20px;
   display: inline;
   vertical-align: -3px;
}

#logo img {
	display: inline-block;
	height: 30px;
	width: auto;
	margin-right: 10px;
}

a {
	color: #2a6395;
}

input, button {
    font-family: 'Roboto', sans-serif;
}


@keyframes example {
    from {background-color: red;}
    to {background-color: inherit;}
}

/* The element to apply the animation to */
.flashing {
	animation: example 0.3s linear infinite alternate;
}

label {
	margin-bottom: 0px;
}
.checkbox {
	margin-top: 4px;
	margin-bottom: 4px;
}
.checkbox+.checkbox {
	margin-top: -2px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.card {
	height: 100%;
}

.card-row {
	margin-left: -15px;
}

.form-block {
    margin-top: 20px;
    border-radius: 3px;
}

.form-block-title {
	font-weight: 500;
	width: 120px;
}

.form-block .nav-item {
	font-size: 0.9em;
}


.form-block .navbar {
    padding: 10px 20px;
}

.form-block .tab-content {
  font-size: 0.9em;
}

.panel {
  padding: 20px;
  border-top: 1px solid rgba(0,0,0,.125);
}

.nav-pills .nav-link.active {
	background-color: #2a6395;
}

.btn {
	cursor: pointer;
}

.btn-primary {
    background-color: #2a6395;
}

.btn-group {
  flex-wrap: wrap;
}

.btn-primary,
.btn-outline-primary {
    border-color: #2a6395;
}

.btn-primary:hover {
    background-color: #173f62;
}

.btn-right {
	float: right;
}

.btn:disabled,
.btn-primary:disabled {
  cursor: not-allowed;
}

.btn-primary:disabled {
  background-color: #3e5d7e;
  border-color: #3e5d7e;
}

.btn-primary:disabled:hover {
  background-color: #3e5d7e;
}

.form-block .alert {
    margin-bottom: 0px;
    margin-top: 20px;
}

.form-block .alert ul {
    margin: 0;
    padding-left: 1em;
}

.btn-default {
	background-color: #eee;
	border: 1px solid #ddd;
}

#search-box, #selected-value {
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
  line-height: 34px;
}

.username-field {
	font-size: 0.9em;
	margin-right: 5px;
}

.modal-fullscreen .modal-dialog {
  max-width: 1200px;
}

.modal-fullscreen .pheno-browser-fullscreen-image {
  max-width: 100%;
}

.clickable {
  cursor: pointer;
}

.navbar.navbar-custom .nav-link,
.navbar-nav.navbar-custom .nav-link {
  color: rgba(0,0,0,.5);
}
.navbar.navbar-custom .nav-link.active,
.navbar-nav.navbar-custom .nav-link.active {
	background-color: #2a6395;
  color: #fff;
  border-radius: .25rem;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #2a6395;
}

.popover {
  max-width: 500px;
}

gpf-global-error-display {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 20%;
}

.modal-backdrop.fade {
  transition: none;
}

.nav-title-custom {
  font-family: Roboto;
  font-weight: 500;
  width: 100px;
}
