/* You can add global styles to this file, and also import other style files */


@keyframes example {
    from {background-color: red;}
    to {background-color: inherit;}
}

/* The element to apply the animation to */
.flashing {
	animation: example 0.3s linear infinite alternate;
}

label {
	margin-bottom: 0px;
}
.checkbox {
	margin-top: 4px;
	margin-bottom: 4px;
}
.checkbox+.checkbox {
	margin-top: -4px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.card {
	height: 100%;
}

.card-row {
	margin-left: -15px;
}
