<div class="container">
  <gpf-genes-block [showAllTab]="true"></gpf-genes-block>
  <gpf-pheno-tool-measure [datasetId]="selectedDatasetId"></gpf-pheno-tool-measure>
  <gpf-pheno-tool-genotype-block></gpf-pheno-tool-genotype-block>

  <gpf-family-filters-block
    *ngIf="selectedDataset?.genotypeBrowser?.hasFamilyFilters"
    [datasetConfig]="selectedDataset">
  </gpf-family-filters-block>


  <div class="form-block">
    <input class="btn btn-md btn-primary" type="button" value="Report" (click)="submitQuery()">
  </div>

  <gpf-pheno-tool-results-chart *ngIf="phenoToolResults" [phenoToolResults]="phenoToolResults">
  </gpf-pheno-tool-results-chart>
</div>
