<ng-template #confirmation let-options="options">
  <div [ngClass]="[
    'popover',
    'show',
    'bs-popover-' + options.placement,
    options.popoverClass
  ]">
    <div style="left: calc(50% - 5px)" class="arrow"></div>
    <h3 class="popover-header" [innerHTML]="options.title"></h3>
    <div class="popover-body">
      <p [innerHTML]="options.popoverMessage"></p>
      <div class="row">
        <div
          class="col-xs-12 col-12 text-center">
          <button
            *ngIf="!options.hideConfirmButton"
            [mwlFocus]="options.focusButton === 'confirm'"
            [class]="'btn btn-' + options.confirmButtonType"
            (click)="options.onConfirm({clickEvent: $event})"
            [innerHtml]="options.confirmText">
          </button>
          <button
            *ngIf="!options.hideCancelButton"
            [mwlFocus]="options.focusButton === 'cancel'"
            [class]="'btn btn-' + options.cancelButtonType"
            (click)="options.onCancel({clickEvent: $event})"
            [innerHtml]="options.cancelText">
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<a role="button" tabindex="0" class="btn btn-outline-primary btn-sm"
  mwlConfirmationPopover
  confirmText="Reset password"
  title="Reset password"
  appendToBody="true"
  [customTemplate]="confirmation"
  [popoverMessage]="resetPasswordPopoverMessage(user)"
  (confirm)="resetPassword(user)">
  <i class="fa fa-refresh fa-lg" aria-hidden="true"></i>
</a>
<a
  #ele
  role="button"
  tabindex="0"
  class="btn btn-sm btn-outline-primary"
  mwlConfirmationPopover
  confirmText="Delete"
  title="Delete user"
  appendToBody="true"
  [customTemplate]="confirmation"
  [popoverMessage]="deleteUserPopoverMessage(user)"
  (confirm)="deleteUser(user)">
  <i class="fa fa-times fa-lg" aria-hidden="true"></i>
</a>
