<ng-template #confirmation let-options="options">
  <div [ngClass]="[
    'popover',
    options.placement,
    'popover-' + options.placement,
    'bs-popover-' + options.placement,
    options.popoverClass
  ]">
    <div class="popover-arrow arrow"></div>
    <h3 class="popover-title popover-header" [innerHTML]="options.title"></h3>
    <div class="popover-content popover-body">
      <p [innerHTML]="options.message"></p>
      <div class="row">
        <div
          class="col-xs-6 col-6"
          [ngClass]="{'col-xs-offset-3 col-offset-3': options.hideCancelButton}"
          *ngIf="!options.hideConfirmButton">
          <button
            [mwlFocus]="options.focusButton === 'confirm'"
            [class]="'btn btn-' + options.confirmButtonType"
            (click)="options.onConfirm({clickEvent: $event})"
            [innerHtml]="options.confirmText">
          </button>
        </div>
        <div
          class="col-xs-6 col-6"
          [ngClass]="{'col-xs-offset-3 col-offset-3': options.hideConfirmButton}"
          *ngIf="!options.hideCancelButton">
          <button
            [mwlFocus]="options.focusButton === 'cancel'"
            [class]="'btn btn-' + options.cancelButtonType"
            (click)="options.onCancel({clickEvent: $event})"
            [innerHtml]="options.cancelText">
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<span style="display: inline-block" ngbTooltip="Remove password" placement="bottom">
  <a role="button" tabindex="0" class="btn btn-outline-primary btn-sm"
    container="body"
    mwlConfirmationPopover
    confirmText="Remove password"
    title="Are you sure?"
    [customTemplate]="confirmation"
    message="{{ user.name }}'s ({{ user.email }}) password will be removed. They won't be able to login."
    (confirm)="removePassword(user)">
    <i class="fa fa-ban fa-lg" aria-hidden="true"></i>
  </a>
</span>
<span style="display: inline-block" ngbTooltip="Reset password" placement="bottom">
  <a role="button" tabindex="0" class="btn btn-outline-primary btn-sm"
    container="body"
    mwlConfirmationPopover
    confirmText="Reset password"
    title="Are you sure?"
    [customTemplate]="confirmation"
    message="{{ user.name }}'s ({{ user.email }}) password will be reset. An email with reset instructions will be sent and they won't be able to login until they set a new password."
    (confirm)="resetPassword(user)">
    <i class="fa fa-refresh fa-lg" aria-hidden="true"></i>
  </a>
</span>
<span style="display: inline-block" ngbTooltip="Delete user" placement="bottom">
  <a
    role="button"
    tabindex="0"
    class="btn btn-sm btn-outline-primary"
    mwlConfirmationPopover
    confirmText="Delete"
    title="Are you sure?"
    [customTemplate]="confirmation"
    message="{{ user.name }} ({{ user.email }}) will be deleted. This action is irrevertible!"
    (confirm)="deleteUser(user)">
    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
  </a>
</span>
