<div class="histogram">
	<svg [attr.width]="width" [attr.height]="height">
	  <g [attr.transform]="'translate(' + marginLeft +',' + marginTop + ')'">
	    <g #histogramContainer transform="translate(0, 50)"> </g>
		<g gpf-histogram-range-selector-line [(index)]="selectedStartIndex" [scale]="xScale" [textOnRight]="false" [text]=beforeRangeText></g>
		<g gpf-histogram-range-selector-line [(index)]="selectedEndIndex" [scale]="xScale" [textOnRight]="true" [text]=afterRangeText></g>
	    <text y=0 [attr.x]="(xScale(selectedStartIndex) + xScale(selectedEndIndex)) / 2" dy=".35em" text-anchor="middle" class="partitions-text">{{ insideRangeText }}</text>
	  </g>
	</svg>

	<div class="histogram-controls">
	<div class="histogram-to">
	        <label>To (Max: {{ domainMax }})</label>
			<div class="stepper">
		        <input
		          class="steps form-control"
		          required type="text"
		          #inputRangeEnd="ngModel"
		          [(ngModel)]="rangeEnd"
		          placeholder="end">
				<button type="button" class="step up" (click)="endStepUp($event)">&#x25B2;</button>
				<button type="button" class="step down" (click)="endStepDown($event)">&#x25BC;</button>
			</div>
	    </div>
	    <div class="histogram-from">
	        <label>From (Min: {{ domainMin }})</label>
			<div class="stepper">
		        <input
		          class="steps form-control"
		          required type="text"
		          #inputRangeStart="ngModel"
		          [(ngModel)]="rangeStart"
		          placeholder="start">
			  <button type="button" class="step up" (click)="startStepUp($event)">&#x25B2;</button>
			  <button type="button" class="step down" (click)="startStepDown($event)">&#x25BC;</button>
			</div>
	    </div>
	</div>
</div>
