.partitions-text {
	font-size: 11px;
}

.histogram {
	text-align: center;
}

.histogram-controls {
	text-align: left;
	max-width: 520px;
	margin: 0 auto;
	width: 100%;
}

.histogram-controls label {
	display: inline-block;
	margin-right: 5px;
}

.histogram-controls input {
    display: inline-block;
    width: 100px;
}

.histogram-to {
	float: right;
}