<svg:g #draggable [attr.transform]="'translate(' + x + ' ' + y + ')'" cursor="ew-resize">
  <svg:line x1=0 y1=0 x2=0 [attr.y2]=height stroke="green" stroke-width=5 />
  <svg:path #triangle transform="translate(6, 15) rotate(90) scale(0.5)" stroke="black" fill="green" />
  <svg:path #triangle transform="translate(-6, 15) rotate(-90) scale(0.5)" stroke="black" fill="green" />
  <svg:text *ngIf="!textOnRight" x="-10" y="15" dy=".35em" class="partitions-text" text-anchor="end">{{ text }}</svg:text>
  <svg:text *ngIf="textOnRight" x="10" y="15" dy=".35em" class="partitions-text" text-anchor="start">{{ text }}</svg:text>
</svg:g>
