@if (field === 'pedigree') {
  <div>
    <gpf-pedigree [family]="value" [pedigreeMaxHeight]="pedigreeMaxHeight"> </gpf-pedigree>
  </div>
}

@if (field === 'location') {
  <span>
    <a target="_blank" [attr.href]="UCSCLink">{{ formattedValue }}</a>
  </span>
}

@if (field === 'full_effect_details') {
  <span>
    <gpf-helper-modal
      title="Full effect details"
      [modalContent]="effectDetailsModal"
      [buttonText]="'Show details'"></gpf-helper-modal>
    <ng-template #effectDetailsModal>
      <span class="details-header">{{ 'Family id: ' + fullEffectDetails.familyId }}</span>
      <span class="details-header">{{ 'Location: ' + fullEffectDetails.location }}</span>
      @if (fullEffectDetails.areIncomplete) {
        <div class="grid-container" style="grid-template-columns: repeat(2, auto)">
          <div class="grid-header">Gene</div>
          <div class="grid-header">Effect</div>
          @for (geneEffect of fullEffectDetails.geneEffects; track geneEffect) {
            <div class="grid-cell">{{ geneEffect.gene }}</div>
            <div class="grid-cell">{{ geneEffect.effect }}</div>
          }
        </div>
      }
      <div
        class="grid-container"
        [ngStyle]="fullEffectDetails.areIncomplete ? { 'grid-template-columns': 'repeat(2, auto)' } : {}">
        @if (!fullEffectDetails.areIncomplete) {
          <div class="grid-header">Gene</div>
        }
        <div class="grid-header">Transript</div>
        @if (!fullEffectDetails.areIncomplete) {
          <div class="grid-header">Effect</div>
        }
        <div class="grid-header">Details</div>
        @for (effectDetails of fullEffectDetails.effectDetails; track effectDetails) {
          @if (!fullEffectDetails.areIncomplete) {
            <div class="grid-cell">{{ effectDetails.gene }}</div>
          }
          <div class="grid-cell">{{ effectDetails.transcript }}</div>
          @if (!fullEffectDetails.areIncomplete) {
            <div class="grid-cell">{{ effectDetails.effect }}</div>
          }
          <div class="grid-cell">{{ effectDetails.details }}</div>
        }
      </div>
    </ng-template>
  </span>
}

@if (field !== 'pedigree' && field !== 'location' && field !== 'full_effect_details') {
  <span>{{ formattedValue }}</span>
}
