.add-button {
  border: none;
  background: none;
  color: blue;
}

.menu {
  padding: 10px;
  display: grid;
  position: absolute;
  border: 1px solid black;
  background: #fff;
}

tr {
  height: 30px;
}

tr > td {
  padding-top: 8px;
}

.item {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  border: 1px solid #dedede;
  background-color: #fff;
}

.item-text {
  padding-left: 10px;
}

.add-item-button {
  border: none;
  background: none;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}