<button class="add-button" (click)="showMenu = !showMenu; resetSearch()">Add</button>

<div class="menu" *ngIf="showMenu">
  <div class="search">
    <div class="search-input-wrapper">
      <input
        #searchInput
        class="search-input form-control"
        type="text"
        name="search"
        placeholder="Search"
        (ngModel)="(searchText)"
        (ngModelChange)="filterItems($event)"
        autocomplete="off"
        spellcheck="false" />
      <span class="search-clear-icon" *ngIf="searchInput.value !== ''" (click)="resetSearch(); searchText = ''"> </span>
    </div>
  </div>

  <div class="table-container">
    <table>
      <tr *ngFor="let item of filteredItems">
        <td>
          <button class="add-item-button" [attr.title]="item" (click)="addItem(id, item)">{{ item }}</button>
        </td>
      </tr>
    </table>
  </div>
</div>
