<span style="font-weight: bold;">
  <div style="width: 100%; ; height: 100%;">
    <div style="width: 100%; height: 100%; display: table; ">
      <div style="width: 100%; height: 100%; display: table-cell; vertical-align: middle;">
        <div (click)="onSortClick(columnInfo)" [class.clickable]="columnInfo.sortable"
          style="width: 100%; display: table-cell; vertical-align: middle; text-align: center">
          <ng-template *ngIf="columnInfo.contentTemplateRef" [ngTemplateOutlet]="columnInfo.contentTemplateRef">
          </ng-template>
          <span *ngIf="columnInfo.caption">{{ columnInfo.caption }}</span>
        </div>
        <div (click)="onSortClick(columnInfo)" [class.clickable]="columnInfo.sortable"
          style="display: table-cell; vertical-align: middle; text-align: right; padding-left: 5px">
          <img *ngIf="columnInfo.sortable && sortingInfo?.sortBySubcolumn != columnInfo"
            src="{{imgPathPrefix}}bg.gif" style="height: 12px;">
          <img *ngIf="columnInfo.sortable && sortingInfo?.sortBySubcolumn == columnInfo && sortingInfo?.sortOrderAsc"
            src="{{imgPathPrefix}}asc.gif" style="height: 12px;">
          <img *ngIf="columnInfo.sortable && sortingInfo?.sortBySubcolumn == columnInfo && !sortingInfo?.sortOrderAsc"
            src="{{imgPathPrefix}}desc.gif" style="height: 12px;">
        </div>
      </div>
    </div>
  </div>

  <div style="float: left;position: relative;left: 26%;">
    <div style="height: 100%; display: table;">
      <div *ngFor="let child of columnInfo.subcolumnsChildren" style="display: table-row;">
        <div (click)="onSortClick(child)" [class.clickable]="child.sortable"
          style="display: table-cell; vertical-align: middle; text-align: right">
          <ng-template *ngIf="child.contentTemplateRef" [ngTemplateOutlet]="child.contentTemplateRef">
          </ng-template>
          <span *ngIf="!child.contentTemplateRef">{{ child.caption }}</span>
        </div>
        <div (click)="onSortClick(child)" [class.clickable]="child.sortable"
          style="display: table-cell; vertical-align: middle; text-align: right; padding-left: 5px">
          <img *ngIf="child.sortable && sortingInfo?.sortBySubcolumn != child"
            src="{{imgPathPrefix}}bg.gif" style="height: 12px;">
          <img *ngIf="child.sortable && sortingInfo?.sortBySubcolumn == child && sortingInfo?.sortOrderAsc"
            src="{{imgPathPrefix}}asc.gif" style="height: 12px;">
          <img *ngIf="child.sortable && sortingInfo?.sortBySubcolumn == child && !sortingInfo?.sortOrderAsc"
            src="{{imgPathPrefix}}desc.gif" style="height: 12px;">
        </div>
      </div>
    </div>
  </div>
</span>
