<span style="font-weight: bold;">
    <div style="float: left; clear: left; height: 100%;">
        <div style="height: 100%; display: table; ">
            <div style="height: 100%; display: table-cell; vertical-align: middle; ">
                <div [class.clickable]="columnInfo.field" style="display: table-cell; vertical-align: middle; text-align: right" (click)="columnInfo.field && onSortClick(columnInfo)">
                    <ng-template *ngIf="columnInfo.contentTemplateRef" [ngTemplateOutlet]="columnInfo.contentTemplateRef">
                    </ng-template>
                    <span *ngIf="columnInfo.caption">{{ columnInfo.caption }}</span>
                    <img *ngIf="columnInfo.field && sortingInfo?.sortBySubcolumn != columnInfo"
                        src="{{imgPathPrefix}}bg.gif" style="height: 12px;">
                    <img *ngIf="columnInfo.field && sortingInfo?.sortBySubcolumn == columnInfo && sortingInfo?.sortOrderAsc"
                        src="{{imgPathPrefix}}asc.gif" style="height: 12px;">
                    <img *ngIf="columnInfo.field && sortingInfo?.sortBySubcolumn == columnInfo && !sortingInfo?.sortOrderAsc"
                        src="{{imgPathPrefix}}desc.gif" style="height: 12px;">
                </div>
            </div>
        </div>
    </div>

    <div style="float: right; clear: right; margin-right: 0px; height: 100%">
        <div style="height: 100%; display: table; ">
            <div *ngFor="let child of columnInfo.subcolumnsChildren" style="display: table-row;">
                <div [class.clickable]="child.field" style="display: table-cell; vertical-align: middle; text-align: right" (click)="child.field && onSortClick(child)">
                    <ng-template *ngIf="child.contentTemplateRef" [ngTemplateOutlet]="child.contentTemplateRef">
                    </ng-template>
                    <span *ngIf="!child.contentTemplateRef">{{ child.caption }}</span>
                    <img *ngIf="child.field && sortingInfo?.sortBySubcolumn != child"
                        src="{{imgPathPrefix}}bg.gif" style="height: 12px;">
                    <img *ngIf="child.field && sortingInfo?.sortBySubcolumn == child && sortingInfo?.sortOrderAsc"
                        src="{{imgPathPrefix}}asc.gif" style="height: 12px;">
                    <img *ngIf="child.field && sortingInfo?.sortBySubcolumn == child && !sortingInfo?.sortOrderAsc"
                        src="{{imgPathPrefix}}desc.gif" style="height: 12px;">
                </div>
            </div>

        </div>
    </div>
</span>
