.holder {
  font-weight: bold;
  user-select: none;
}

#bg,
#asc,
#desc {
  padding-top: 7px;
  font-weight: normal;
}

span.holder {
  display: block;
  overflow-wrap: anywhere;
}

span {
  white-space: pre-line;
  display: inline-block;
}

#sorting-buttons {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding-left: 5px;
}

#sort {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#sort-child {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
