{{ continuousFilterConfig?.name }}:
<div class="input-group" style="width: 100%; max-width: 100%;">
  <input #searchBox id="search-box"
    (keyup)="searchBoxChange(searchBox.value)"
    style="width: 100%"
    value="{{ selectedMeasure?.name }}"
    placeholder="Select or start typing to search"
    (click)="searchBox.value=''; onFocus($event)" />


  <span #inputGroup class="input-group-btn" style="position: static">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" style="width: 100%; overflow-x: hidden; max-height: 300px; overflow-y: scroll;">
      <button *ngFor="let measure of filteredMeasures"
        class="dropdown-item"
        type="button"
        style="cursor: pointer"
        (click)="selectedMeasure = measure">
        <span innerHtml="{{ measure.name | boldMatching: searchString}}" >
        </span>
       </button>
    </div>
  </span>
  <span class="input-group-btn">
    <button class="btn" (click)="clear()">
      &times;
    </button>
  </span>
</div>

<gpf-continuous-filter
  *ngIf=selectedMeasure
  [datasetId]=datasetId
  [filterId]=continuousFilterConfig.name
  [measureName]=selectedMeasure?.name>
</gpf-continuous-filter>
