@if (!modelsLoaded) {
  <div>
    <div class="form-block" style="display: contents">
      <ul ngbNav #nav="ngbNav" class="bg-light nav-pills" style="justify-content: center">
        <li ngbNavItem>
          <span style="opacity: 75%"><i>Loading models...</i></span>
        </li>
      </ul>
    </div>
  </div>
}
@if (backgrounds || countings) {
  <div id="background-models-container">
    @if (backgrounds) {
      <div id="background-models">
        <span>Background Models:</span>
        <div class="select-wrapper">
          <select
            id="background-models-menu"
            class="form-control"
            title="{{ background.name }}"
            [ngModel]="background"
            (ngModelChange)="changeBackground($event)">
            @for (background of backgrounds; track background) {
              <option [ngValue]="background">{{ background.name }}</option>
            }
          </select>
          <span class="material-symbols-outlined select-dropdown-icon">arrow_drop_down</span>
        </div>
      </div>
    }
    @if (background.description) {
      <button
        [id]="background.name + '-description-button'"
        class="description-tooltip"
        [ngbTooltip]="backgroundDescriptionContent"
        [autoClose]="'outside'"
        triggers="manual"
        #instrumentDescription="ngbTooltip"
        (click)="instrumentDescription.open()">
        <span class="material-symbols-outlined info-icon" [id]="background.name + '-description-icon'">info</span>
      </button>
    }
    <ng-template #backgroundDescriptionContent>
      <markdown>{{ background.description }}</markdown>
    </ng-template>
    @if (countings) {
      <div id="counting-models">
        <span>Counting Models:</span>
        <div class="select-wrapper">
          <select
            id="counting-models-menu"
            class="form-control"
            title="{{ counting.description }}"
            [ngModel]="counting"
            (ngModelChange)="changeCounting($event)">
            @for (counting of countings; track counting) {
              <option [ngValue]="counting">{{ counting.name }}</option>
            }
          </select>
          <span class="material-symbols-outlined select-dropdown-icon">arrow_drop_down</span>
        </div>
      </div>
    }
    <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
  </div>
}
