<div class="input-group panel">
    <gpf-searchable-select
        style="width: 50%;"
        (search)="searchBoxChange($event)"
        (selectItem)="geneSymbols.geneSymbols = $event; emitInputClickEvent()"
        [data]="matchingGeneSymbols"
        caption="{{ geneSymbols?.geneSymbols }}"
        [isInGeneBrowser]="true"
    >
        <div *gpf-searchable-select-template="let geneSymbol">
        <span
            data-toggle="tooltip"
            data-placement="bottom"
            innerHtml="{{ geneSymbol | boldMatching: searchString}}">
        </span>
        </div>
    </gpf-searchable-select>
</div>