<div ngbDropdown class="d-inline-block" autoClose="outside" placement="top" (openChange)="saveIfOpened($event)">
  <button
    id="share-query-dropdown-button"
    class="btn btn-default"
    [disabled]="disabled"
    ngbDropdownToggle>Share query</button
  >
  <div id="share-query-dropdown" ngbDropdownMenu aria-labelledby="share-query-dropdown-button">
    <div *ngIf="url">
      <div class="input-group" style="flex-wrap: nowrap">
        <input
          #link
          readonly
          style="border: none; outline: none"
          type="disabled"
          (click)="link.select()"
          value="{{ url }}"
          spellcheck="false"
          width="400px" />
        <span class="input-group-btn">
          <button
            (click)="copyToClipboard(link)"
            id="copy-button"
            style="border-top-left-radius: 0; border-bottom-left-radius: 0"
            class="btn btn-secondary"
            >{{ buttonValue }}</button
          >
        </span>
      </div>
    </div>
  </div>
</div>
