# See http://help.github.com/ignore-files/ for more about ignoring files.

/docs

# compiled output
/dist
/tmp

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
package-lock.json
css-lint-report.xml
ts-lint-report.xml
.angular

#System Files
.DS_Store
Thumbs.db
*.swp

# npm package-lock
package-lock.json

# build scripts
/build-env

# version json
version.json

