.card > ul {
  justify-content: flex-start;
  border-bottom: 1px solid #ddd;
}

.table-toolbar {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}

#name-box,
#email-box,
#group-name-box {
  width: 320px;
  height: 38px;
}

#search-field {
  width: 250px;
}

#create-user-form-button,
#create-group-form-button,
#create-user-button,
#create-group-button,
#cancel-group-creation-button,
#cancel-user-creation-button {
  margin-left: 10px;
}

.creation-error {
  width: 320px;
  margin-top: 5px;
  text-align: center;
  padding: 10px;
}

.search-input {
  padding-right: 8px;
}

input:invalid:focus {
  outline: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
  box-shadow: 0 0 0 4px rgba(244, 15, 15, 30%);
}

.create-container {
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  right: 0;
  position: absolute;
  gap: 10px;
  align-items: center;
}
