<div class="form-block">
  <div class="card">
    <ul ngbNav #nav="ngbNav" class="navbar bg-light nav-pills" style="justify-content: flex-start">
      <div class="nav-title-custom">
        Management
      </div>

      <li ngbNavItem id="users">
        <a ngbNavLink>Users</a>
        <ng-template ngbNavContent>
          <div class="row justify-content-between">
            <div class="col-7 btn-toolbar" style="padding-top: 15px; padding-left: 25px;">
              <div class="input-group md-form form-sm form-1 pl-0">
                <div class="input-group-prepend">
                  <span class="input-group-text purple lighten-3" id="basic-text1">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                </div>
                <input
                  #searchTerm (keyup)="search(searchTerm.value)"
                  id="search-field" class="form-control my-0 py-1"
                  type="text" placeholder="Search" aria-label="Search"
                  [ngModel]="input$ | async"
                >
                {{ searchTerm.focus() }}
              </div>
              <div class="btn-group pull-right" role="group">
                <button
                  ngbTooltip="Add or remove a group from the selected users"
                  container="body"
                  id="btnGroupDrop1"
                  type="button"
                  class="btn btn-outline-secondary dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                    Bulk edit
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <button
                    class="dropdown-item"
                    [disabled]="selectedUsers(usersToShow$ | async).length === 0"
                    [routerLink]="['users', 'add-group']"
                    [queryParams]="{ user_ids: getUserIds(usersToShow$ | async) }">Add group</button>
                  <button
                    class="dropdown-item"
                    [disabled]="selectedUsers(usersToShow$ | async)?.length === 0"
                    [routerLink]="['users', 'remove-group']"
                    [queryParams]="{ user_ids: getUserIds(usersToShow$ | async) }">Remove group</button>
                </div>
              </div>
            </div>
            <div class="col-4" style="padding-top: 15px; padding-right: 25px;">
              <a [routerLink]="['users', 'create']" class="btn btn-primary pull-right">Create user</a>
            </div>
          </div>

          <gpf-users-table
            [users]="usersToShow$ | async">
            </gpf-users-table>
        </ng-template>
      </li>

      <li ngbNavItem id="groups">
        <a ngbNavLink>Groups</a>
        <ng-template ngbNavContent>
          <gpf-groups-table></gpf-groups-table>
        </ng-template>
      </li>
      <li ngbNavItem id="datasets">
        <a ngbNavLink>Datasets</a>
        <ng-template ngbNavContent>
          <gpf-datasets-table></gpf-datasets-table>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="card-block"></div>
  </div>
</div>
