<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="utf-8" />
        <title>
            GPF Reset password
        </title>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="{% static 'users_api/registration/favicon.ico' %}" rel="icon" type="image/x-icon">
        <link href="{% static 'users_api/registration/styles.css' %}" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="login-container">
            <div class="logo-header">
                <img class="logo" src="{% static 'users_api/registration/logo-64x64.png' %}">
                <label class="header-text">Genotypes and Phenotypes in Families</label>
            </div>
        
            {% if show_form %}
            <form method="post" action="{% url 'forgotten_password' %}">
                {% csrf_token %}

                <div>{{ form.email.errors }}</div>
                <div class="login-data-label">{{ form.email.label_tag }}</div>
                <div>{{ form.email }}</div>
                <input class="login-button" type="submit" value="Reset password">
            </form>
            {% endif %}
            
            {% if message != None %}
            <div class="message {{ message_type }}">{{ message }}</div>
            {% endif %}
        </div>
    </body>
</html>
