<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>
            GPF Login
        </title>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="/static/registration/favicon.ico" rel="icon" type="image/x-icon">
        <link href="/static/registration/styles.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body>
        <form method="post" action="{% url 'login_user' %}" style="text-align:center">
            {% csrf_token %}
            <table>
                <th>
                    <img src="/static/registration/logo-64x64.png">
                    <label>GPF: Genotypes and Phenotypes in Families</label>
                </th>
                <tr>
                    <td>
                        <div>{{ form.username.label_tag }}</div>
                        <div>{{ form.username }}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>{{ form.password.label_tag }}</div>
                        <div>{{ form.password }}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="login-button" type="submit" value="Login">
                        <input type="hidden" name="next" value="{{ next }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="">Forgotten password</a>
                    </td>
                </tr>
            </table>
        

        </form>
        
        {% if form.errors %}
        <div>Your username and password didn't match. Please try again.</div>
        {% endif %}
    </body>

</html>
