table {
  margin-left: auto;
  margin-right: auto;
  border-collapse:separate;
  border-spacing:10px;
}

.login-button {
  width: 200px;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

table {
  width: 600px;
}

img {
  height: 30px;
  padding-right: 6px;
  padding-bottom: 2px;
  vertical-align: middle;
}

th {
  text-align: center;
  padding-bottom: 10px;
}

th label {
  font-size: x-large 
}

td, th, input, .login-button {
  font-size: large;
  height: 40px;
}
