
body {
  margin-left: 15px;
}

header {
    margin-bottom: 0.75rem;
}

table {
  border-collapse:separate;
  margin: 0%;
  border-spacing: 0px;
}

table .message {
  width: calc(344px - 2.5rem);
  margin: 0px;
  margin-bottom: 10px;
}

.message {
  padding: 0.75rem 1.25rem;
  margin-top: 15px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: calc(346px - 2.5rem);
}

.message.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.message.warn {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.message.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.login-header {
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

.login-button {
  cursor: pointer;
  color: #fff;
  background-color: #2a6395;
  float: left;
  border: 0px;
}

.login-button-google {
  background-color: #db603a;
}

img {
  height: 30px;
  padding-right: 6px;
  padding-bottom: 2px;
  vertical-align: middle;
}

th {
  padding-bottom: 10px;
  float:left;
}

th label {
  font-size: x-large 
}

td, th, input, a, .login-button {
  font-size: large;
  height: 40px;
  margin-bottom: 10px;
  font-family: Roboto;
}

a, .login-button {
  width: 346px;
}

div, a {
  clear: left;
  float: left;
}

input {
  width: 320px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: 0 12px 0 12px;
}

input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
