
table {
  border-collapse:separate;
  margin: 0%;
  margin-left: 15px;
}

.login-button {
  width: 327px;
  cursor: pointer;
  color: #fff;
  background-color: #2a6395;
  float: left;
  margin-left: -1px;
}

img {
  height: 30px;
  padding-right: 6px;
  padding-bottom: 2px;
  vertical-align: middle;
}

th {
  padding-bottom: 10px;
  float:left;
}

th label {
  font-size: x-large 
}

td, th, input, a, .login-button {
  font-size: large;
  height: 40px;
  margin-bottom: 10px;
  font-family: Roboto;
}

div, a {
  clear: left;
  float: left;
}

input {
  width: 320px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

a {
  width: 327px;
}