<div *ngIf="field === 'pedigree'">
  <gpf-pedigree [family]="value" [pedigreeMaxHeight]="pedigreeMaxHeight"> </gpf-pedigree>
</div>

<span *ngIf="field === 'location'">
  <a target="_blank" [attr.href]="UCSCLink">{{ formattedValue }}</a>
</span>

<span *ngIf="field === 'effect_details'">
  <span
    class="material-symbols-outlined lg"
    id="help-icon"
    (mouseover)="showEffectDetails = true"
    (mouseout)="showEffectDetails = false"
    >info</span
  >
  <div *ngIf="showEffectDetails" class="keybinds-tooltip">{{ value }}</div>
</span>

<span *ngIf="field !== 'pedigree' && field !== 'location' && field !== 'effect_details'">{{ formattedValue }}</span>
