<div *ngIf="!errorModal">
  <div
    *ngIf="gene$ | async as gene"
    [ngClass]="{ 'compare-div': isInGeneCompare }"
    [style.height]="showTemplate ? '100%' : '100vh'">
    <ng-container *ngIf="isInGeneCompare">
      <div
        style="position: relative; width: 30px; display: flex; flex-direction: column"
        [style.width]="showTemplate ? 'unset' : '30px'">
        <div [attr.title]="geneSymbol" (click)="showTemplate = !showTemplate" class="minimize-elements-wrapper">
          <button class="minimize-button"><span class="material-symbols-outlined">remove</span></button>
          <span *ngIf="!showTemplate" class="minimize-gene-symbol">{{ geneSymbol }}</span>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="showTemplate">
      <div style="padding-left: 8px" class="page-wrapper">
        <div
          #stickySpan
          [ngClass]="isInGeneCompare && isHeaderSticky ? 'sticky' : ''"
          [ngStyle]="{ width: isInGeneCompare ? '100%' : '1455px' }"
          style="padding-bottom: 8px; padding-top: 4px">
          <h2 style="padding-left: 0">{{ geneSymbol }}</h2>
        </div>
        <div class="wrapper" [ngClass]="{ 'compare-wrapper': isInGeneCompare, compact: compactView }" #wrapperElement>
          <table id="links-table">
            <tr>
              <td style="border-right: 1px solid #dee2e6; padding: 0 24px; text-align: center">Links</td>
              <td *ngFor="let links of gene.geneLinks">
                <a [attr.href]="links.url" [id]="links.name + '-link'" target="_blank">{{ links.name }}</a>
              </td>
            </tr>
          </table>
        </div>

        <div [ngClass]="{ 'compare-wrapper': isInGeneCompare, 'compact': compactView }" class="wrapper">
          <table
            *ngFor="let genomicScoreCategory of config.genomicScores"
            [attr.id]="genomicScoreCategory.category"
            class="gpf-basic-table genomic-scores-table">
            <th [attr.colspan]="2">{{ genomicScoreCategory.displayName }}</th>
            <tr
              *ngFor="let score of genomicScoreCategory.scores"
              class="card-block"
              style="border-bottom: 1px solid #dee2e6">
              <ng-container *ngIf="genomicScoresGeneScores.length === gene.genomicScores.length">
                <td style="display: flex; flex-direction: column; align-items: center; border: 0; position: relative">
                  <gpf-helper-modal
                    style="scale: 85%; position: absolute; right: 2px; top: 2px"
                    [style.visibility]="
                      getGeneScoreByKey(genomicScoreCategory.category, score.scoreName).help ? 'visible' : 'hidden'
                    "
                    [modalContent]="
                      getGeneScoreByKey(genomicScoreCategory.category, score.scoreName).help
                    "></gpf-helper-modal>
                  <gpf-histogram
                    *ngIf="
                      genomicScoresGeneScores &&
                      getGeneScoreByKey(genomicScoreCategory.category, score.scoreName) as geneScore
                    "
                    [style.width]="histogramOptions.width"
                    [style.height]="histogramOptions.height"
                    [width]="histogramOptions.width"
                    [height]="histogramOptions.height"
                    [bins]="geneScore.bins"
                    [bars]="geneScore.bars"
                    [logScaleX]="geneScore.logScaleX"
                    [logScaleY]="geneScore.logScaleY"
                    [showMinMaxInput]="false"
                    [isInteractive]="false"
                    [singleScoreValue]="
                      getSingleScoreValue(gene.genomicScores, genomicScoreCategory.category, score.scoreName)
                    "
                    [marginLeft]="histogramOptions.marginLeft"
                    [marginTop]="histogramOptions.marginTop"
                    [smallValuesDesc]="geneScore.smallValuesDesc"
                    [largeValuesDesc]="geneScore.largeValuesDesc">
                  </gpf-histogram>
                  <span>{{ score.scoreName }}</span>
                </td>
              </ng-container>
            </tr>
          </table>
        </div>

        <div [ngClass]="{ 'compare-wrapper': isInGeneCompare, 'compact': compactView }" class="wrapper">
          <table
            *ngFor="let geneSetCategory of config.geneSets"
            [attr.id]="geneSetCategory.category"
            class="gpf-basic-table gene-sets-table">
            <th [attr.colspan]="2">{{ geneSetCategory.displayName }}</th>
            <tr *ngFor="let set of geneSetCategory.sets" class="card-block">
              <td
                style="max-width: 665px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis"
                [attr.title]="set.setId"
                >{{ set.setId }}</td
              >
              <td style="text-align: center; width: 55px">
                <span
                  style="font-size: 20px"
                  class="material-symbols-outlined"
                  *ngIf="gene.geneSets.indexOf(set.collectionId + '_' + set.setId) !== -1"
                  >check</span
                >
              </td>
            </tr>
          </table>
        </div>

        <div
          style="display: inline-flex; align-items: stretch; flex-wrap: wrap"
          [ngClass]="{ 'compare-wrapper': isInGeneCompare, 'compact': compactView }"
          class="wrapper">
          <ng-container *ngFor="let dataset of config.datasets">
            <table style="width: 100%" class="gpf-basic-table datasets-table">
              <thead>
                <tr class="card-block">
                  <th style="border-bottom: none" [attr.colspan]="dataset.personSets.length + 1">
                    <span>{{ dataset.displayName }}</span>
                  </th>
                </tr>
                <tr class="card-block">
                  <th style="border-bottom: none">Variant Statistics</th>
                  <th *ngFor="let personSet of dataset.personSets" style="text-align: center; border-bottom: none">
                    <span
                      class="vertical-text"
                      [attr.title]="'children with this phenotype: ' + personSet.childrenCount"
                      >{{ personSet.displayName }} ({{ personSet.childrenCount }})</span
                    >
                  </th>
                </tr>
              </thead>

              <tbody>
                <ng-container *ngFor="let statistic of dataset.statistics">
                  <tr class="card-block" [attr.id]="statistic.id">
                    <td>{{ statistic.description ? statistic.description : statistic.displayName }}</td>
                    <td style="text-align: center" *ngFor="let personSet of dataset.personSets">
                      <ng-container
                        *ngIf="getGeneDatasetValue(gene, dataset.id, personSet.id, statistic.id) as effectType">
                        <ng-container *ngIf="effectType.value.count !== 0">
                          <a
                            class="link-genotype-browser"
                            (click)="goToQuery(gene.geneSymbol, personSet, dataset.id, statistic)"
                            (middleclick)="goToQuery(gene.geneSymbol, personSet, dataset.id, statistic)">
                            <span style="white-space: nowrap"
                              >{{ effectType.value.count }} ({{ effectType.value.rate | number : '1.0-3' }})</span
                            >
                          </a>
                        </ng-container>
                        <ng-container *ngIf="effectType.value.count === 0"
                          ><span class="material-symbols-outlined sm">remove</span></ng-container
                        >
                      </ng-container>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div *ngIf="errorModal">
  <div style="display: flex; align-items: center" class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog error-modal">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: 0">
          <h5 class="modal-title">Error</h5>
        </div>
        <div class="modal-body">"{{ geneSymbol }}" is not found in the gene profiles database!</div>
        <div class="modal-footer" style="border-top: 0">
          <button type="button" class="btn btn-secondary" (click)="errorModalBack()">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
