<form>
  <div class="modal-header">
    <h4 class="modal-title">Password Reset</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="margin: 15px">
      <label>
        <span>Email</span>
        <input ngbAutofocus class="form-control" name="email" [(ngModel)]="email" type="text" />
      </label>
    </div>
    <div *ngIf="resetPasswordError" class="alert alert-danger">
      <span>{{ resetPasswordError }}</span>
    </div>
    <div *ngIf="resetPasswordSuccess" class="alert alert-info" role="alert">
      <span>Password successfully reset. Check your email for further instructions.</span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="resetPassword()">Recover</button>
  </div>
</form>
