<form style="padding: 20px; width: 100%">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span class="modal-close-button" aria-hidden="true">&times;</span>
  </button>

  <div style="margin-bottom: 15px">
    <h4 class="modal-title">Password Reset</h4>
  </div>

  <div style="padding-bottom: 15px">
    <label for="email-input">Email</label>
    <input
      ngbAutofocus
      id="email-input"
      class="form-control"
      name="email"
      [(ngModel)]="email"
      type="text"
      spellcheck="false" />
  </div>

  <div *ngIf="resetPasswordError" class="alert alert-danger">
    <span>{{ resetPasswordError }}</span>
  </div>

  <div *ngIf="resetPasswordSuccess" class="alert alert-info" role="alert">
    <span>Password successfully reset. Check your email for further instructions.</span>
  </div>

  <button style="width: 100%" type="submit" class="btn btn-primary" (click)="resetPassword()">Recover</button>
</form>
