#help-icon {
  color: #b4b4b4;
  font-size: 26px;
  vertical-align: bottom;
}

#help-icon:hover {
  cursor: pointer;
  color: steelblue;
}

::ng-deep .modal-content {
  width: fit-content;
}

#help-button {
  border: none;
  background: none;
  font-weight: 500;
  color: steelblue;
}

#help-button:hover {
  border: none;
  background-color: transparent;
  color: #b4b4b4;
}
