<div class="pheno-tool-measure-block form-block">
  <div class="row">
    <div class="col-lg-6">
      Proband Pheno Measure
  	  <gpf-pheno-measure-selector [(selectedMeasure)]="phenoToolMeasure.measure" (measuresChange)="measuresUpdate($event)">
      </gpf-pheno-measure-selector>
    </div>
    <div class="col-lg-6">
      Normalized by:
      <div *ngFor="let reg of getRegressionNames()">
          <label>
              <input
                type="checkbox"
                [checked]="phenoToolMeasure.normalizeBy.indexOf(reg) !== -1"
                (change)="onNormalizeByChange(regressions[reg], $event);">
              {{ regressions[reg].display_name }}
          </label>
      </div>
    </div>

    <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
  </div>
</div>
