<div class="pheno-tool-measure-block form-block">
  <div class="row">
    <div class="col-lg-6">
      Proband Pheno Measure
  	  <gpf-pheno-measure-selector [(selectedMeasure)]="phenoToolMeasure.measure" (measuresChange)="measuresUpdate($event)">
      </gpf-pheno-measure-selector>
    </div>
    <div class="col-lg-6">
      Normalized by:
      <div>
        <label>
          <input
            type="checkbox"
            [checked]="phenoToolMeasure.normalizeBy.indexOf('age') !== -1"
            (change)="onNormalizeByChange('age', $event);">
          age
        </label>
      </div>
      <div>
        <label>
          <input
            type="checkbox"
            [checked]="phenoToolMeasure.normalizeBy.indexOf('non-verbal iq') !== -1"
            (change)="onNormalizeByChange('non-verbal iq', $event);">
          non verbal IQ
        </label>
      </div>
    </div>

    <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
  </div>
</div>
