<div style="padding: 25px; white-space: nowrap;">
  <table *ngIf="config" class="table table-sm table-centered table-header-rotate">
    <thead>
      <tr>
        <th class="table-main-header" style="width: 160px; min-width: 140px; position: sticky; top: 0px">
          <span>Gene</span>
        </th>

        <ng-container *ngFor="let element of config.order">
          <ng-container *ngIf="element.section === 'geneSets'">
            <ng-container *ngIf="getGeneSetsCategory(element.id); let geneSetCategory">
              <th class="table-main-header category-border" style="position: sticky; top: 0px; max-width: 100px;" [attr.colspan]="geneSetCategory.sets.length">
                <div class="table-main-header-text" style="margin-right: 40px">
                  <gpf-sorting-buttons class="sorting-buttons" [id]="geneSetCategory.category + '_rank'" (sortEvent)="sort($event.id, $event.order)"></gpf-sorting-buttons>
                  <span [title]="geneSetCategory.displayName">{{geneSetCategory.displayName}}</span>
                </div>
                <button #columnFilteringButton
                  [attr.id]="geneSetCategory.category + '-button'"
                  (click)="openGeneSetCategoryDropdown(geneSetCategory)"
                  class="dropdown-toggle btn navbar-toggler">
                  <span style="font-size: 14px;">&#9776;</span>
                </button>
              </th>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="element.section === 'genomicScores'">
            <ng-container *ngIf="getGenomicScoresCategory(element.id); let genomicScoresCategory">
              <th class="table-main-header category-border" style="position: sticky; top: 0px; max-width: 100px;" [attr.colspan]="genomicScoresCategory.scores.length">
                <div class="table-main-header-text" style="margin-right: 30px">
                  <span [title]="genomicScoresCategory.displayName">{{genomicScoresCategory.displayName}}</span>
                </div>
                <button #columnFilteringButton
                  [attr.id]="genomicScoresCategory.category + '-button'"
                  (click)="openGenomicScoresCategoryDropdown(genomicScoresCategory)"
                  class="dropdown-toggle btn navbar-toggler">
                  <span style="font-size: 14px;">&#9776;</span>
                </button>
              </th>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="element.section === 'datasets'">
            <th *ngIf="getDataset(element.id); let dataset" class="table-main-header category-border" style="position: sticky; top: 0px" [attr.colspan]="calculateDatasetColspan(dataset)">
              <div class="table-main-header-text" style="margin-right: 30px">
                <span [title]="dataset.meta ? dataset.meta : ''">{{dataset.displayName}}</span>
              </div>
              <button #columnFilteringButton
                  [attr.id]="dataset.id + '-button'"
                  (click)="openDatasetDropdown(dataset, dataset.id)"
                  class="dropdown-toggle btn navbar-toggler"
                  style="float: right; outline: none; font-size: 18px; white-space: nowrap; border: 0; padding: 0; width: 18px; vertical-align: unset;">
                  <span style="font-size: 14px;">&#9776;</span>
              </button>
            </th>
          </ng-container>
        </ng-container>

      </tr>

      <tr style="height: 110px;">
        <th class="table-subheader" rowspan="2">
          <input #geneSearchInput (keyup)="sendKeystrokes(geneSearchInput.value)" id="gene-search-input"
            class="form-control" autocomplete="off" type="text" placeholder="Search">
        </th>

        <ng-container *ngFor="let element of config.order">
          <ng-container *ngIf="element.section === 'geneSets'">
            <ng-container *ngIf="getGeneSetsCategory(element.id); let geneSetCategory">
              <th class="table-subheader" style="white-space: normal; min-width: 100px;" rowspan="2" *ngFor="let geneSet of geneSetCategory.sets; let i = index" [ngClass] = "{'category-border': i === 0}">
                <span class="vertical-text" [title]="geneSet.meta ? geneSet.meta : ''">{{geneSet.setId}}</span>
                <gpf-sorting-buttons [id]="geneSet.collectionId + '_' + geneSet.setId" (sortEvent)="sort($event.id, $event.order)"></gpf-sorting-buttons>
              </th>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="element.section === 'genomicScores'">
            <ng-container *ngIf="getGenomicScoresCategory(element.id); let genomicScoresCategory">
              <th class="table-subheader" style="white-space: normal; min-width: 100px;"rowspan="2" *ngFor="let genomicScore of genomicScoresCategory.scores; let i = index" [ngClass] = "{'category-border': i === 0}">
                <span class="vertical-text" [title]="genomicScore.meta ? genomicScore.meta : ''">{{genomicScore.scoreName}}</span>
                <gpf-sorting-buttons [id]="genomicScoresCategory.category + '_' + genomicScore.scoreName" (sortEvent)="sort($event.id, $event.order)"></gpf-sorting-buttons>
              </th>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="element.section === 'datasets'">
            <ng-container *ngIf="getDataset(element.id); let dataset">
              <ng-container *ngFor="let personSet of dataset.personSets; let i = index">
                <th class="table-subheader" style="min-width: 100px;" [attr.colspan]="personSet.statistics.length" [ngClass] = "{'category-border': i === 0}">
                  <div class="table-main-header-text" style="margin-right: 30px">
                    <span [title]="personSet.description ? personSet.description : ''">{{personSet.displayName}} ({{personSet.childrenCount}})</span>
                  </div>
                  <button #columnFilteringButton
                  [attr.id]="dataset.id + '-' + personSet.id + '-button'"
                  (click)="openDatasetDropdown(dataset, dataset.id + '-' + personSet.id)"
                  class="dropdown-toggle btn navbar-toggler"
                  style="float: right; outline: none; font-size: 18px; white-space: nowrap; border: 0; padding: 0; width: 18px; vertical-align: unset;">
                    <span style="font-size: 14px;">&#9776;</span>
                  </button>
                </th>
              </ng-container>
            </ng-container>
          </ng-container>

        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let dataset of shownDatasets">
          <ng-container *ngFor="let personSet of dataset.personSets; let i = index">
            <td *ngFor="let statistic of personSet.statistics; let j = index" style="min-width: 100px;" class="effect-type-header" [ngClass] = "{'category-border': i === 0 && j === 0}">
              <span [title]="statistic.description ? statistic.description : ''">{{statistic.displayName}}</span>
              <gpf-sorting-buttons [id]="dataset.id + '_' + personSet.id + '_' + statistic.id" (sortEvent)="sort($event.id, $event.order)"></gpf-sorting-buttons>
            </td>
          </ng-container>
        </ng-container>
      </tr>
    </thead>

    <tbody *ngIf="genes">
      <tr *ngFor="let gene of genes" (click)="highlightRow($event)" (middleclick)="highlightRow($event)">
        <td class="link-td" (click)="emitCreateTabEvent($event, gene.geneSymbol)" (middleclick)="emitCreateTabEvent($event, gene.geneSymbol, false)">
          <span>{{gene.geneSymbol}}</span>
        </td>

        <ng-container *ngFor="let element of config.order">
          <ng-container *ngIf="element.section === 'geneSets'">
            <ng-container *ngIf="getGeneSetsCategory(element.id); let geneSetCategory">
              <td style="min-width: 70px" *ngFor="let geneSet of geneSetCategory.sets; let i = index" [ngClass] = "{'category-border': i === 0}">
                <ng-container *ngIf="gene.geneSets.indexOf(geneSet.collectionId + '_' + geneSet.setId) !== -1">&#10003;</ng-container>
              </td>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="element.section === 'genomicScores'">
            <ng-container *ngIf="getGenomicScoresCategory(element.id); let genomicScoresCategory">
              <td style="min-width: 70px" *ngFor="let genomicScore of genomicScoresCategory.scores; let i = index" [ngClass] = "{'category-border': i === 0}">
                <ng-container *ngIf="getGeneScoreValue(gene, genomicScoresCategory.category, genomicScore.scoreName) !== 'null' && getGeneScoreValue(gene, genomicScoresCategory.category, genomicScore.scoreName) !== 'NaN'">
                  <span>{{getGeneScoreValue(gene, genomicScoresCategory.category, genomicScore.scoreName)}}</span>
                </ng-container>
              </td>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="element.section === 'datasets'">
            <ng-container *ngIf="getDataset(element.id); let dataset">
              <ng-container *ngFor="let personSet of dataset.personSets; let i = index">
                <td [class.link-td]="getEffectTypeValue(gene, dataset.id, personSet.id, statistic.id).count"
                style="min-width: 70px;"
                *ngFor="let statistic of personSet.statistics; let j = index"
                [ngClass] = "{'category-border': i === 0 && j === 0}">
                  <ng-container *ngIf="getEffectTypeValue(gene, dataset.id, personSet.id, statistic.id) as value">
                    <div class="link-td" *ngIf="value.count !== 0" (click)="goToQuery(gene.geneSymbol, personSet, dataset.id, statistic)" (middleclick)="goToQuery(gene.geneSymbol, personSet, dataset.id, statistic)">
                      <span>{{value.count}} ({{value.rate | number : '1.0-3' }})</span>
                    </div>
                  </ng-container>
                </td>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>

<!-- Added ngbDropdownToggle buttons with display: none because bootstrap crashes on escape without an ngbDropdownToggle
Described in GPF-546 -->
<ng-container *ngFor="let geneSetCategory of shownGeneSetsCategories; let i = index">
  <div *ngIf="allGeneSetNames.get(geneSetCategory.category) && shownGeneSetNames.get(geneSetCategory.category)" style="position: sticky;" [style.bottom.px]="modalBottom">
    <span #dropdownSpan [attr.id]="geneSetCategory.category + '-span'" ngbDropdown>
      <button ngbDropdownToggle style="display: none;"></button>
      <gpf-multiple-select-menu ngbDropdownMenu [attr.id]="geneSetCategory.category  + '-dropdown'"
        [menuId]="'gene_set_category:' + geneSetCategory.category"
        [allItems]="allGeneSetNames.get(geneSetCategory.category)"
        [selectedItems]="shownGeneSetNames.get(geneSetCategory.category)"
        (applyEvent)="handleMultipleSelectMenuApplyEvent($event)"></gpf-multiple-select-menu>
    </span>
  </div>
</ng-container>

<ng-container *ngFor="let genomicScoresCategory of shownGenomicScoresCategories">
  <div *ngIf="allGenomicScoresNames.get(genomicScoresCategory.category) && shownGenomicScoresNames.get(genomicScoresCategory.category)" style="position: sticky;" [style.bottom.px]="modalBottom">
    <span #dropdownSpan [attr.id]="genomicScoresCategory.category + '-span'" ngbDropdown>
      <button ngbDropdownToggle style="display: none;"></button>
      <gpf-multiple-select-menu ngbDropdownMenu [attr.id]="genomicScoresCategory.category + '-dropdown'"
        [menuId]="'genomic_scores_category:' + genomicScoresCategory.category"
        [allItems]="allGenomicScoresNames.get(genomicScoresCategory.category)"
        [selectedItems]="shownGenomicScoresNames.get(genomicScoresCategory.category)"
        (applyEvent)="handleMultipleSelectMenuApplyEvent($event)"></gpf-multiple-select-menu>
    </span>
  </div>
</ng-container>

<ng-container *ngFor="let dataset of shownDatasets">
  <div *ngIf="allDatasetNames.get(dataset.displayName) && shownDatasetNames.get(dataset.displayName)" style="position: sticky;" [style.bottom.px]="modalBottom">
    <span #dropdownSpan [attr.id]="dataset.id + '-span'" ngbDropdown>
      <button ngbDropdownToggle style="display: none;"></button>
      <gpf-multiple-select-menu ngbDropdownMenu [attr.id]="dataset.id + '-dropdown'"
        [menuId]="'dataset:' + dataset.id"
        [allItems]="allPersonSetNames"
        [selectedItems]="shownPersonSetNames"
        (applyEvent)="handleMultipleSelectMenuApplyEvent($event)"></gpf-multiple-select-menu>
    </span>
  </div>
  <ng-container *ngFor="let personSet of dataset.personSets">
    <div *ngIf="allDatasetNames.get(dataset.displayName)?.get(personSet.displayName) && shownDatasetNames.get(dataset.displayName)?.get(personSet.displayName)" style="position: sticky;" [style.bottom.px]="modalBottom - 150">
      <span #dropdownSpan [attr.id]="dataset.id + '-' + personSet.id + '-span'" ngbDropdown>
        <button ngbDropdownToggle style="display: none;"></button>
        <gpf-multiple-select-menu ngbDropdownMenu [attr.id]="dataset.id + '-' + personSet.id + '-dropdown'"
          [menuId]="'dataset:' + dataset.id + ':' + personSet.id"
          [allItems]="allDatasetNames.get(dataset.displayName).get(personSet.displayName)"
          [selectedItems]="shownDatasetNames.get(dataset.displayName).get(personSet.displayName)"
          (applyEvent)="handleMultipleSelectMenuApplyEvent($event)"></gpf-multiple-select-menu>
      </span>
    </div>
  </ng-container>
</ng-container>
