<div style="padding: 25px;">
  <table *ngIf="config" class="table table-hover table-sm table-centered table-header-rotate" style="table-layout: fixed; min-width: 1500px;">
    <thead>
      <tr>
        <th class="table-main-header" style="width: 160px; position: sticky; top: 0px">
          <span>Gene</span>
        </th>

        <ng-container *ngFor="let geneSetCategory of shownGeneSetsCategories">
          <th class="table-main-header" style="position: sticky; top: 0px" [attr.colspan]="geneSetCategory['sets'].length" [style.width]="calculateColumnSize(geneSetCategory['sets'].length)">
            <span>
              {{geneSetCategory['displayName']}}
            </span>
            <!-- <button #columnFilteringButton id="gene-sets-button" (click)="openDropdown('gene-sets')" class="dropdown-toggle btn navbar-toggler" style="float: right; border: 1px solid #dddddd; outline: none; font-size: 18px; width: 40px;">
              <span style="font-size: 14px;">&#9776;</span>
            </button> -->
          </th>
        </ng-container>

        <ng-container *ngFor="let genomicScoresCategory of shownGenomicScoresCategories">
          <th class="table-main-header" style="position: sticky; top: 0px" [attr.colspan]="genomicScoresCategory['scores'].length" [style.width]="calculateColumnSize(genomicScoresCategory['scores'].length)">
            <span>
              {{genomicScoresCategory['displayName']}}
            </span>
            <!-- <button #columnFilteringButton id="autism-scores-button" (click)="openDropdown('autism-scores')" class="dropdown-toggle btn navbar-toggler" style="float: right; border: 1px solid #dddddd; outline: none; font-size: 18px; width: 40px;">
              <span style="font-size: 14px;">&#9776;</span>
            </button> -->
          </th>
        </ng-container>

        <th class="table-main-header" style="position: sticky; top: 0px" *ngFor="let dataset of config.datasets" [attr.colspan]="calculateDatasetColspan(dataset)">{{dataset.name}}</th>
      </tr>

      <tr style="height: 110px;">
        <th class="table-subheader" rowspan="2">
          <input #geneSearchInput (keyup)="sendKeystrokes(geneSearchInput.value)" id="gene-search-input"
            class="form-control" autocomplete="off" type="text" placeholder="Search gene" aria-label="Search gene">
        </th>

        <ng-container *ngFor="let geneSetCategory of shownGeneSetsCategories">
          <th class="table-subheader" rowspan="2" *ngFor="let geneSet of geneSetCategory['sets']">
            <span class="vertical-text">
              {{geneSet['setId']}}
            </span>
            <!-- <gpf-sorting-buttons [id]="geneSet" (sortEvent)="sort($event.id, $event.order)"></gpf-sorting-buttons> -->
          </th>
        </ng-container>

        <ng-container *ngFor="let genomicScoresCategory of shownGenomicScoresCategories">
          <th class="table-subheader" rowspan="2" *ngFor="let genomicScore of genomicScoresCategory['scores']">
            <span class="vertical-text">
              {{genomicScore['scoreName']}}
            </span>
            <!-- <gpf-sorting-buttons [id]="'autism_' + autismScore" (sortEvent)="sort($event.id, $event.order)"></gpf-sorting-buttons> -->
          </th>
        </ng-container>

        <ng-container *ngFor="let dataset of config.datasets">
          <th class="table-subheader" colspan="3" *ngFor="let personSet of dataset.personSets">{{personSet}}</th>
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let dataset of config.datasets">
          <ng-container *ngFor="let personSet of dataset.personSets">
            <td *ngFor="let effectType of dataset.effects" class="effect-type-header">
              {{effectType}}
              <!-- <gpf-sorting-buttons [id]="dataset.name + '_' + personSet + '_' + effectType" (sortEvent)="sort($event.id, $event.order)"></gpf-sorting-buttons> -->
            </td>
          </ng-container>
        </ng-container>
      </tr>
    </thead>
   


    <tbody *ngIf="genes">
      <tr *ngFor="let gene of genes">
        <td (click)="emitCreateTabEvent(gene.geneSymbol, true)" (middleclick)="emitCreateTabEvent(gene.geneSymbol, false)" style="cursor:pointer;color:#1a6393;">
          {{gene.geneSymbol}}
        </td>

        <ng-container *ngFor="let geneSetCategory of shownGeneSetsCategories">
          <td *ngFor="let geneSet of geneSetCategory['sets']">
            <span *ngIf="gene.geneSets.indexOf('main_' + geneSet['setId']) !== -1">&#10003;</span>
          </td>
        </ng-container>

        <ng-container *ngFor="let genomicScoresCategory of shownGenomicScoresCategories">
          <td *ngFor="let genomicScore of genomicScoresCategory['scores']">
            {{getGeneScoreValue(gene, genomicScoresCategory['category'], genomicScore['scoreName'])}}
          </td>
        </ng-container>

        <ng-container *ngFor="let study of gene.studies">
          <ng-container *ngFor="let personSet of study.personSets">
            <td *ngFor="let effectType of getMapValues(personSet.effectTypes)">
              <span *ngIf="effectType !== 0">{{effectType}}</span>
            </td>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>



  </table>
</div>

<!-- Added ngbDropdownToggle buttons with display: none because bootstrap crashes on escape without an ngbDropdownToggle
Described in GPF-546 -->
<!-- <div *ngIf="config" style="position: sticky;" [style.bottom.px]="modalBottom">
  <span #dropdownSpan id="gene-sets-span" ngbDropdown (openChange)="focusGeneSetsInput = $event;">
    <button ngbDropdownToggle style="display: none;"></button>
    <gpf-multiple-select-menu ngbDropdownMenu id="gene-sets-dropdown" [focusInput]="focusGeneSetsInput" [id]="'geneSets'" [allItems]="config.geneSets" [selectedItems]="shownGeneSets" [minSelectCount]="1" (applyEvent)="handleMultipleSelectMenuApplyEvent($event)"></gpf-multiple-select-menu>
  </span>
</div>

<div *ngIf="config" style="position: sticky;" [style.bottom.px]="modalBottom">
  <span #dropdownSpan id="autism-scores-span" ngbDropdown (openChange)="focusAutismScoresInput = $event;">
    <button ngbDropdownToggle style="display: none;"></button>
    <gpf-multiple-select-menu ngbDropdownMenu id="autism-scores-dropdown" [focusInput]="focusAutismScoresInput" [id]="'autismScores'" [allItems]="config.autismScores" [selectedItems]="shownAutismScores" [minSelectCount]="1" (applyEvent)="handleMultipleSelectMenuApplyEvent($event)"></gpf-multiple-select-menu>
  </span>
</div>

<div *ngIf="config" style="position: sticky;" [style.bottom.px]="modalBottom">
  <span #dropdownSpan id="protection-scores-span" ngbDropdown (openChange)="focusProtectionScoresInput = $event;">
    <button ngbDropdownToggle style="display: none;"></button>
    <gpf-multiple-select-menu ngbDropdownMenu id="protection-scores-dropdown" [focusInput]="focusProtectionScoresInput" [id]="'protectionScores'" [allItems]="config.protectionScores" [selectedItems]="shownProtectionScores" [minSelectCount]="1" (applyEvent)="handleMultipleSelectMenuApplyEvent($event)"></gpf-multiple-select-menu>
  </span>
</div> -->
