tr:nth-child(even) {
  background-color: #FAFAFA;
}

tr:hover td {
  background: #edf3ff
}

td {
  text-align: center;
  vertical-align: middle;
}

.table-main-header {
  text-align: center;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.vertical-text {
  word-break: break-word;
  writing-mode: vertical-rl;
  transform-origin: center center;
  transform: rotate(180deg);
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 80%;
}

.effect-type-header gpf-sorting-buttons {
  margin-left: 5px;
  position: relative;
  top: 5.5px;
  /* white-space: nowrap; */
}

.table-subheader {
  text-align: center;
  height: 150px;
  line-height: 130%;
}

.table-subheader span {
  text-align: start;
}

thead {
  background-color: #eeeeee;
}

td, th, .table-subheader, .table-main-header {
  border-bottom: none;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: none;
}

.category-border {
  border-left: 2px solid #d9d9d9;
}

.dropdown-toggle::after {
  content: none;
}

#gene-search-input:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

#gene-search-input {
  border-radius: 0;
}

thead th {
  position: sticky;
  top: 34px;
}

.effect-type-header {
  position: sticky;
  top: 184px;
}

.table-main-header {
  position: sticky;
  top: 0px;
  max-width: 100px;
}

.table-main-header-text {
  top: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sorting-buttons {
  right: 30px;
  display: inline-block;
  position: absolute;
  bottom: 5px
}

button.dropdown-toggle {
  display: inline-block;
  position:absolute;
  right: 10px;
  outline: none;
  font-size: 18px;
  border: 0;
  padding: 0;
  width: 20px;
  vertical-align: unset;
  bottom: 9px;
}

thead th, .effect-type-header {
  background-color: #eeeeee;
}

a, a:hover {
  color: #0056b3;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
