<div class="form-block">
  <div class="card">
    <ul
      ngbNav
      #nav="ngbNav"
      (navChange)="onNavChange()"
      class="navbar bg-light nav-pills"
      style="justify-content: flex-start">
      <div class="nav-title-custom">Study filters</div>
      <li [ngbNavItem]="'allStudies'" id="all-studies">
        <a ngbNavLink>All</a>
      </li>
      <li [ngbNavItem]="'studyNames'" id="study-names">
        <a ngbNavLink>Studies</a>
        <ng-template ngbNavContent>
          <div class="panel">
            <gpf-checkbox-list
              [items]="allStudies"
              [selectedItems]="selectedStudies"
              (itemsUpdateEvent)="updateSelectedStudies($event)">
            </gpf-checkbox-list>
            <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="card-block"></div>
  </div>
</div>
