.grid-container {
  grid-template-columns: 80% 20%;
  margin: 2rem;
  margin-top: 0;
  justify-content: center;
}

.table-toolbar {
  padding-top: 15px;
  margin-left: 22px;
  display: flex;
  justify-content: start;
}

.search-input {
  padding-right: 8px;
  border-radius: 0;
}

#new-credential-name-box {
  width: 250px;
}

#create-credential-button,
#create-credential-form-button,
.creation-error,
.search-input {
  margin-left: 10px;
  margin-bottom: 15px;
  height: 38px;
}

.creation-error {
  width: fit-content;
  text-align: center;
  padding: 8px;
  margin-top: 0;
}

input:invalid:focus {
  outline: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
  box-shadow: 0 0 0 4px rgba(244, 15, 15, 30%);
}

.credential-modal-title {
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  width: 122px;
  padding-right: 0;
}

.credential-modal-content {
  word-break: break-all;
  border-bottom: 1px solid #eee;
  padding: 0 15px 8px;
}

.copy-credentials-button {
  margin-right: 20px;
  display: flex;
  align-items: center;
  column-gap: 3px;
}

#copy-alert {
  background-color: #fff8c5c7;
  display: flex;
  min-height: 38px;
  align-items: center;
  border: 0;
  border-bottom: 1px solid #eaead2;
  height: 48px;
  font-size: 16px;
  margin-bottom: 8px;
}

#copy-alert span {
  margin-left: 16px;
  color: #4d4007de;
}

.modal-content {
  padding-bottom: 0 !important;
}

.credential-modal-title-wrapper {
  display: flex;
  flex-direction: row;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  align-items: center !important;
  height: 46px !important;
}

#cancel-button {
  background-color: transparent;
  border: none;
  margin-top: 5px;
}

#cancel-button > i {
  color: red;
}

#cancel-button > i:hover {
  color: rgb(255, 110, 110);
}

#edit-icon {
  font-size: 15px;
  padding: 2px 5px;
}

#edit-icon:hover {
  cursor: pointer;
}

#edit-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#rename-error {
  color: red;
  margin-bottom: 5px;
}
