.pedigree-container {
  margin: 16px;
}

#family-ids-list-wrapper {
  height: 100px;
}

#family-ids-list {
  max-height: 100px;
  height: 100px;
  overflow: auto;
  overflow-wrap: break-word;
  padding: 0 8px 24px;
}

#family-ids-list div {
  text-align: center;
}

#download-button {
  padding: 6px 11px 6px 12px;
}

#download-button i {
  color: #fff;
}
