<ng-template #pedigreeModal let-modal>
  <div class="pedigree-container">
    <gpf-pedigree-chart [scale]="pedigreeScale" [family]="family" [groupName]="groupName" [counterId]="counterId">
    </gpf-pedigree-chart>
  </div>

  <ng-container *ngIf="isInDatasetStatistics">
    <div style="padding-right: 8px">
      <form
        (ngSubmit)="onSubmit($event)"
        action="{{ configService.baseUrl }}common_reports/family_counters/download"
        method="post"
        style="float: right">
        <input ngbAutofocus name="queryData" type="hidden" />
        <button class="btn btn-md btn-primary" id="download-button">
          <i class="fa fa-download fa-lg"></i>
        </button>
      </form>
    </div>

    <hr />

    <div id="family-ids-list-wrapper" style="height: 100px">
      <div *ngIf="familyIdsList" id="family-ids-list">
        <div>{{ familyIdsList | join: ', ' }}</div>
      </div>
    </div>
  </ng-container>
</ng-template>

<div (click)="openModal(pedigreeModal)" class="svg-container">
  <gpf-pedigree-chart [family]="family" [groupName]="groupName" [counterId]="counterId"></gpf-pedigree-chart>
</div>
