<div style="padding-top: 20px;">
  <div class="card">
    <div class="card-header">Enrichment Models</div>
    <div class="card-block">
      <gpf-tabset>
        <ngb-tab title="Default">
            <template ngbTabContent>
              <p>Default</p>
            </template>
        </ngb-tab>
        <ngb-tab title="Select Models">
            <template ngbTabContent>
              <gpf-enrichment-models></gpf-enrichment-models>
            </template>
        </ngb-tab>
      </gpf-tabset>
    </div>
  </div>
</div>
