<div class="effect-card card">
  <div class="card-header card-title">Effect Types</div>
  <div class="card-block">
    <div class="btn-group btn-group-sm">
      <button
        (click)="selectButtonGroup('ALL')"
        class="btn btn-default">All</button>
      <button
        (click)="selectButtonGroup('NONE')"
        class="btn btn-default">None</button>
      <button
        (click)="selectButtonGroup('LGDS')"
        class="btn btn-default">LGDs</button>
      <button
        (click)="selectButtonGroup('NONSYNONYMOUS')"
        class="btn btn-default">Nonsynonymous</button>
      <button
        (click)="selectButtonGroup('UTRS')"
        class="btn btn-default">UTRs</button>
    </div>
    <div
      *ngFor="let column of columnGroups"
      class="effectypes-col">
      <em>{{column.name}}</em>

      <div
        *ngFor="let effect of effectTypesColumns.get(column.id)"
        class="checkbox">
        <label> <input type="checkbox"> {{effect}}
        </label>
      </div>
    </div>
  </div>
</div>