<div class="form-block">
  <div class="card">
      <div class="card-header card-title">
          Genomic scores
          <gpf-add-button
            [addFilter]="addFilter.bind(this)">
          </gpf-add-button>
      </div>
      <div class="card-block">
        <div style="padding: 5px" *ngFor="let score of genomicScoresState.genomicScoresState; trackBy: trackById; let i = index">
            <gpf-remove-button
              [field]="score"
              [removeFilter]="removeFilter.bind(this)">
            </gpf-remove-button>
            <span style="padding: 5px; display: block; overflow: hidden">
                <gpf-genomic-scores
                  [genomicScoreState]="score"
                  [errors]="errors && errors[i]"
                  [genomicMetrics]="dataset?.genotypeBrowser?.genomicMetrics">
                </gpf-genomic-scores>
            </span>
        </div>

      </div>
  </div>
</div>
