<div class="regions-block">
  <div class="card">
    <gpf-tabset>
      <div class="gpf-tabset-left" style="margin-right: 10px">
        Regions
      </div>
      <ngb-tab id="all-regions" title="All">
          <template ngbTabContent>
              <p>All Regions</p>
          </template>
      </ngb-tab>
      <ngb-tab id="regions-filter" title="Regions Filter">
          <template ngbTabContent>
              <gpf-regions-filter></gpf-regions-filter>
          </template>
      </ngb-tab>
    </gpf-tabset>
  </div>
</div>
