.dataset-selector {
  width: 380px;
}

#selected-dataset-name {
  width: 340px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-toggle::after {
  display: block;
  float: right;
  margin-top: -18px;
  margin-left: 345px;
}

.dataset-selector .dropdown-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataset-selector .dropdown-item.active {
  color: white;
}

.content {
  margin: 0;
  width: 100%;
  min-height: 100%;
  position: relative;
}

#datasets-dropdown-menu-button {
  display: grid;
  color: #000;
}

.show > #datasets-dropdown-menu-button,
#datasets-dropdown-menu-button:hover,
#datasets-dropdown-menu-button:active {
  color: #fff;
}

.show .dropdown-toggle {
  background-color: #6c757d;
  border-color: #6c757d;
}

.warning-alert {
  position: absolute;
  top: 70px;
  width: calc(100% - 30px);
  min-height: 480px;
  height: 100%;
  left: 15px;
  z-index: 100;
}

.disabled-tool {
  opacity: 35%;
  pointer-events: none;
  user-select: none;
}
