.dataset-selector {
	width: 310px;
}

.sidenav-container {
  display: flex;
  flex-direction: row;
  min-height: calc(100% - 50px);
}

.content {
  margin: 0;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.sidenav {
  padding: 20px;
  width: 350px;
}

.sidenav .nav-item {
  text-align: left;
  padding: 10px 0;
  /*padding-bottom:*/
}
