#view-menu-button {
  background: #2a6395;
  color: white;
  border: 1px solid #2a6395;
  border-radius: 0.3rem;
  padding: 5px 10px;
  margin-left: 10px;
}

.title-wrapper {
  width: auto;
  font-weight: bold;
  font-size: 16px;
}
