<div style="display: flex; flex-wrap: wrap">
  <div class="col-sm-9" style="margin-left: 12%">
    <div class="select-wrapper">
      <select class="form-control" [(ngModel)]="selectedGenomicScores" required>
        <option *ngFor="let genomicScores of genomicScoresArray" [ngValue]="genomicScores">
          <span>{{ genomicScores.desc ? genomicScores.desc : genomicScores.score }}</span>
        </option>
      </select>
      <span class="material-symbols-outlined select-dropdown-icon">arrow_drop_down</span>
    </div>
  </div>
  <div>
    <span
      [style.visibility]="this.genomicScoreState.score.help ? 'visible' : 'hidden'"
      class="material-symbols-outlined lg"
      id="help-icon"
      (click)="showHelp()"
      >info</span
    >
  </div>
  <div class="col-sm-12">
    <gpf-histogram
      *ngIf="selectedGenomicScores"
      [width]="800"
      [height]="145"
      [marginLeft]="180"
      [bins]="selectedGenomicScores.bins"
      [bars]="selectedGenomicScores.bars"
      [domainMin]="domainMin"
      [domainMax]="domainMax"
      [logScaleX]="selectedGenomicScores.logScaleX"
      [logScaleY]="selectedGenomicScores.logScaleY"
      [smallValuesDesc]="selectedGenomicScores.smallValuesDesc"
      [largeValuesDesc]="selectedGenomicScores.largeValuesDesc"
      [(rangeStart)]="rangeStart"
      [(rangeEnd)]="rangeEnd"
      style="display: block; margin-top: 17px">
    </gpf-histogram>
    <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
  </div>
</div>
