<div class="row">
    <div class="col-sm-3">
      <select class="form-control"
        [(ngModel)]="selectedGenomicScores"
         required>
        <option *ngFor="let genomicScores of genomicScoresArray" [ngValue]="genomicScores">
          {{ genomicScores.desc }}
        </option>
      </select>
    </div>
    <div class="col-sm-1">
      <img class="clickable" src="{{imgPathPrefix}}question_mark.svg" (click)="showHelp()">
    </div>
    <div class="col-sm-8">
      <gpf-histogram
        *ngIf="selectedGenomicScores"
        width="650" height="145"
        [bins]="selectedGenomicScores.bins"
        [bars]="selectedGenomicScores.bars"
        [domainMin]="domainMin"
        [domainMax]="domainMax"
        [logScaleX]="selectedGenomicScores.logScaleX"
        [logScaleY]="selectedGenomicScores.logScaleY"
        [rangesCounts]="rangesCounts | async"
        [(rangeStart)]="rangeStart" [(rangeEnd)]="rangeEnd">
      </gpf-histogram>
      <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
    </div>
</div>
