<form *ngIf="(users$ | async) as users">
  <div class="row justify-content-center">
    <div class="col-4">
      <p>Removing a group from users</p>
      <div *ngFor="let user of users">{{ user.name }} ({{ user.email }})</div>
    </div>
  </div>
  <div *ngIf="groupsToOptions(groups$ | async) as groupOptions" class="row justify-content-center mt-3">
    <div class="col-4">
      <div class="form-group">
        <label for="groups">Group</label>
        <div class="groupsInput" >
          <ng-multiselect-dropdown
            [settings]="dropdownSettings"
            [placeholder]="'Select group'"
            [data]="groupOptions"
            (onSelect)="changeSelectedGroup($event.text)"
            (onDeSelect)="clearSelectedGroup($event.text)"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-4">
      <button class="btn" routerLink="/management">Back</button>
      <button class="btn btn-primary" type="submit" (click)="submit()">Remove Group</button>
    </div>
  </div>
</form>
