<div class="genome-preview">
  @if (genotypePreviewVariantsArray) {
    <div>
      <gpf-table
        id="gpf-table"
        [dataSource]="genotypePreviewVariantsArray.genotypePreviews"
        style="display: inline-block; min-width: 1200px">
        @for (column of columns; track column) {
          <gpf-table-column [columnWidth]="singleColumnWidth">
            <gpf-table-header caption="{{ column.name }}"></gpf-table-header>
            <gpf-table-header>
              @for (slot of column.columns; track slot) {
                @if (slot.source !== 'pedigree' && slot.source !== 'full_effect_details') {
                  <gpf-table-subheader caption="{{ slot.name }}" [comparator]="slot.source | compare">
                  </gpf-table-subheader>
                }
              }
            </gpf-table-header>
            <gpf-table-content>
              @if (column.source) {
                <gpf-table-subcontent>
                  <gpf-genotype-preview-field
                    *gpfTableCellContent="let data"
                    [field]="column.source"
                    [value]="data.get(column.source)"
                    [format]="column.format"
                    [genome]="data.get('genome')">
                  </gpf-genotype-preview-field>
                </gpf-table-subcontent>
              } @else {
                @for (slot of column.columns; track slot) {
                  <gpf-table-subcontent>
                    @if (column.name !== 'genotype' || slot.source === 'pedigree') {
                      <gpf-genotype-preview-field
                        *gpfTableCellContent="let data"
                        [field]="slot.source"
                        [value]="data.get(slot.source)"
                        [format]="slot.format"
                        [genome]="data.get('genome')">
                      </gpf-genotype-preview-field>
                    }
                  </gpf-table-subcontent>
                }
              }
            </gpf-table-content>
          </gpf-table-column>
        }
        <gpf-legend *gpfTableLegend [legendItems]="legendItems"></gpf-legend>
      </gpf-table>
    </div>
  }
</div>
