<!-- <div *ngFor="let enrichmentResult of enrichmentResults?.results">
  {{ enrichmentResult }}
</div> -->
<table *ngIf="enrichmentResults">
  <tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th colspan="4">all</th>
    <th colspan="4">rec</th>
    <th colspan="4">male</th>
    <th colspan="4">female</th>
  </tr>
  <tr>
    <th style="max-width: 50px; width: 50px">&nbsp;</th>
    <th>&nbsp;</th>
    <th class="value-cell">N</th>
    <th class="value-cell">O</th>
    <th class="value-cell">E</th>
    <th class="value-cell">pV</th>
    <th class="value-cell">N</th>
    <th class="value-cell">O</th>
    <th class="value-cell">E</th>
    <th class="value-cell">pV</th>
    <th class="value-cell">N</th>
    <th class="value-cell">O</th>
    <th class="value-cell">E</th>
    <th class="value-cell">pV</th>
    <th class="value-cell">N</th>
    <th class="value-cell">O</th>
    <th class="value-cell">E</th>
    <th class="value-cell">pV</th>
  </tr>
  <ng-container *ngFor="let enrichmentResult of enrichmentResults.results">
    <tr>
      <td rowspan="4">{{ enrichmentResult.selector }}</td>
    </tr>
    <tr gpf-enrichment-table-row label="LGDs" [effectResult]="enrichmentResult.LGDs">
    </tr>
    <tr gpf-enrichment-table-row label="Missense" [effectResult]="enrichmentResult.missense">
    </tr>
    <tr gpf-enrichment-table-row label="Synonymous" [effectResult]="enrichmentResult.synonymous">
    </tr>
  </ng-container>


</table>
