<td>{{ label }}</td>
<td [style.background-color]="getBackgroundColor(effectResult.all)">
  <a class="link" (click)="goToQuery(effectResult.all.countFilter)" (middleclick)="goToQuery(effectResult.all.countFilter)">{{ effectResult.all.count | numberWithExp: "1.0-2" }}</a>
</td>
<td [style.background-color]="getBackgroundColor(effectResult.all)">
  <a class="link" (click)="goToQuery(effectResult.all.overlapFilter)" (middleclick)="goToQuery(effectResult.all.overlapFilter)">{{ effectResult.all.overlapped | numberWithExp: "1.0-2" }}</a>
</td>
<td [style.background-color]="getBackgroundColor(effectResult.all)">
  {{ effectResult.all.expected | numberWithExp: "1.2-2" }}
</td>
<td [style.background-color]="getBackgroundColor(effectResult.all)">
  {{ effectResult.all.pvalue | numberWithExp: "1.2-4" }}
</td>
<td [style.background-color]="getBackgroundColor(effectResult.rec)">
  <a class="link" (click)="goToQuery(effectResult.rec.countFilter)" (middleclick)="goToQuery(effectResult.rec.countFilter)">{{ effectResult.rec.count | numberWithExp: "1.0-2" }}</a>
</td>
<td [style.background-color]="getBackgroundColor(effectResult.rec)">
  <a class="link" (click)="goToQuery(effectResult.rec.overlapFilter)" (middleclick)="goToQuery(effectResult.rec.overlapFilter)">{{ effectResult.rec.overlapped | numberWithExp: "1.0-2" }}</a>
</td>
<td [style.background-color]="getBackgroundColor(effectResult.rec)">
  {{ effectResult.rec.expected  | numberWithExp: "1.2-2" }}
</td>
<td [style.background-color]="getBackgroundColor(effectResult.rec)">
  {{ effectResult.rec.pvalue | numberWithExp: "1.2-4" }}
</td>
<td [style.background-color]="getBackgroundColor(effectResult.male)">
  <a class="link" (click)="goToQuery(effectResult.male.countFilter)" (middleclick)="goToQuery(effectResult.male.countFilter)">{{ effectResult.male.count | numberWithExp: "1.0-2" }}</a>
</td>
<td [style.background-color]="getBackgroundColor(effectResult.male)">
  <a class="link" (click)="goToQuery(effectResult.male.overlapFilter)" (middleclick)="goToQuery(effectResult.male.overlapFilter)">{{ effectResult.male.overlapped | numberWithExp: "1.0-2" }}</a>
</td>
<td [style.background-color]="getBackgroundColor(effectResult.male)">
  {{ effectResult.male.expected | numberWithExp: "1.2-2" }}
</td>
<td [style.background-color]="getBackgroundColor(effectResult.male)">
  {{ effectResult.male.pvalue | numberWithExp: "1.2-4" }}
</td>
<td [style.background-color]="getBackgroundColor(effectResult.female)">
  <a class="link" (click)="goToQuery(effectResult.female.countFilter)" (middleclick)="goToQuery(effectResult.female.countFilter)">{{ effectResult.female.count | numberWithExp: "1.0-2" }}</a>
</td>
<td [style.background-color]="getBackgroundColor(effectResult.female)">
  <a class="link" (click)="goToQuery(effectResult.female.overlapFilter)" (middleclick)="goToQuery(effectResult.female.overlapFilter)">{{ effectResult.female.overlapped | numberWithExp: "1.0-2" }}</a>
</td>
<td [style.background-color]="getBackgroundColor(effectResult.female)">
  {{ effectResult.female.expected  | numberWithExp: "1.2-2" }}
</td>
<td [style.background-color]="getBackgroundColor(effectResult.female)">
  {{ effectResult.female.pvalue | numberWithExp: "1.2-4" }}
</td>
