<td>{{ label }}</td>
<td [style.background-color]="getBackgroundColor(effectResult.all)">
  <a [routerLink]="['/datasets', effectResult.all.countFilter.datasetId, 'browser', getStateObject(effectResult.all.countFilter) ]">{{ effectResult.all.count | numberWithExp: "1.0-2"  }}</a>
</td>
<td [style.background-color]="getBackgroundColor(effectResult.all)">
  <a [routerLink]="['/datasets', effectResult.all.overlapFilter.datasetId, 'browser', getStateObject(effectResult.all.overlapFilter) ]">{{ effectResult.all.overlapped | numberWithExp: "1.0-2"  }}</a>
</td>
<td [style.background-color]="getBackgroundColor(effectResult.all)">
  {{ effectResult.all.expected | numberWithExp: "1.2-2" }}
</td>
<td [style.background-color]="getBackgroundColor(effectResult.all)">
  {{ effectResult.all.pvalue | numberWithExp: "1.2-4"  }}
</td>
<td [style.background-color]="getBackgroundColor(effectResult.rec)">
  <a [routerLink]="['/datasets', effectResult.rec.countFilter.datasetId, 'browser', getStateObject(effectResult.rec.countFilter) ]">{{ effectResult.rec.count | numberWithExp: "1.0-2"  }}</a>
</td>
<td [style.background-color]="getBackgroundColor(effectResult.rec)">
  <a [routerLink]="['/datasets', effectResult.rec.overlapFilter.datasetId, 'browser', getStateObject(effectResult.rec.overlapFilter) ]">{{ effectResult.rec.overlapped | numberWithExp: "1.0-2" }}</a>
</td>
<td [style.background-color]="getBackgroundColor(effectResult.rec)">
  {{ effectResult.rec.expected  | numberWithExp: "1.2-2"}}
</td>
<td [style.background-color]="getBackgroundColor(effectResult.rec)">
  {{ effectResult.rec.pvalue | numberWithExp: "1.2-4"}}
</td>
<td [style.background-color]="getBackgroundColor(effectResult.male)">
  <a [routerLink]="['/datasets', effectResult.male.countFilter.datasetId, 'browser', getStateObject(effectResult.male.countFilter) ]">{{ effectResult.male.count | numberWithExp: "1.0-2"  }}</a>
</td>
<td [style.background-color]="getBackgroundColor(effectResult.male)">
  <a [routerLink]="['/datasets', effectResult.male.overlapFilter.datasetId, 'browser', getStateObject(effectResult.male.overlapFilter) ]">{{ effectResult.male.overlapped | numberWithExp: "1.0-2" }}</a>
</td>
<td [style.background-color]="getBackgroundColor(effectResult.male)">
  {{ effectResult.male.expected | numberWithExp: "1.2-2" }}
</td>
<td [style.background-color]="getBackgroundColor(effectResult.male)">
  {{ effectResult.male.pvalue | numberWithExp: "1.2-4"}}
</td>
<td [style.background-color]="getBackgroundColor(effectResult.female)">
  <a [routerLink]="['/datasets', effectResult.female.countFilter.datasetId, 'browser', getStateObject(effectResult.female.countFilter) ]">{{ effectResult.female.count | numberWithExp: "1.0-2"  }}</a>
</td>
<td [style.background-color]="getBackgroundColor(effectResult.female)">
  <a [routerLink]="['/datasets', effectResult.female.overlapFilter.datasetId, 'browser', getStateObject(effectResult.female.overlapFilter) ]">{{ effectResult.female.overlapped | numberWithExp: "1.0-2" }}</a>
</td>
<td [style.background-color]="getBackgroundColor(effectResult.female)">
  {{ effectResult.female.expected  | numberWithExp: "1.2-2"}}
</td>
<td [style.background-color]="getBackgroundColor(effectResult.female)">
  {{ effectResult.female.pvalue | numberWithExp: "1.2-4"}}
</td>
