
<div
  *ngIf="pedigreeSelectorSwitch()"
  class="pedigree-selector-card card">


  <div
    *ngIf="pedigreeSelectorSwitch() == 'single'"
    class="card-header card-title">{{ pedigreeState.pedigree?.name }}</div>
  <div
    *ngIf="pedigreeSelectorSwitch() == 'multi'"
    class="card-header card-title">
    <div class="btn-group">
      <div class="dropdown">
        <button
          style="font-weight: 500; padding: 0px; border: 0px;"
          class="btn btn-sm dropdown-toggle"
          type="button"
          id="pedigree-dropdown-menu-button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">{{ pedigreeState.pedigree?.name }}
        </button>
        <div
          class="dropdown-menu"
          aria-labelledby="pedigree-dropdown-menu-button">
          <a
            *ngFor="let pedigree of pedigrees; let i=index"
            class="dropdown-item"
            (click)="selectPedigreeClicked(i, $event)"
            href="#">{{ pedigree.name }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card-block">
    <div class="btn-group btn-group-sm">
      <button
        (click)="selectAll()"
        class="btn btn-default">All</button>
      <button
        (click)="selectNone()"
        class="btn btn-default">None</button>
    </div>
    <div
      *ngFor="let selectorValue of pedigreeState.pedigree?.domain"
      class="checkbox">
      <label> <input
        #checkbox
        type="checkbox"
        [checked]="pedigreeState.checkedValues.has(selectorValue.id)"
        (change)="pedigreeCheckValue(selectorValue, checkbox.checked)"> <span
        class="pedigree-icon"
        [style.background-color]="selectorValue.color"></span>
        {{ selectorValue.name }}
      </label>
    </div>
  </div>

  <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
</div>
