<div class="row" style="margin-left: 0px;">

  <div class="effect-card card" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="card-header card-title" style="font-family: Roboto; font-weight: 500;">Affected Status</div>
    <div class="card-block" style="padding: 20px;">
      <div style="display: inline; margin-right: 20px;"
        *ngFor="let affectedStatus of ['Affected only', 'Unaffected only', 'Affected and unaffected']; let i=index"
        class="checkbox">
        <input #affectedStatusCheckbox checked type="checkbox"
          (change)="checkAffectedStatus(affectedStatus, affectedStatusCheckbox.checked)"
          id="{{affectedStatus}}-checkbox">
        <span class="pedigree-icon" [style.background-color]="getAffectedStatusColor(affectedStatus)"
          style="opacity: 0.75;"></span>
        <label for="{{affectedStatus}}-checkbox" style="display: inline-block;vertical-align: middle;line-height: 95%;"
          [ngStyle]="{width: affectedStatus === 'Affected only' ? '70px' : 
                             affectedStatus === 'Unaffected only' ? '80px' :
                             affectedStatus === 'Affected and unaffected' ? '100px': {}}">
          {{ affectedStatus }}
        </label>
      </div>
    </div>
  </div>

  <div class="effect-card card" style="margin-top: 40px; margin-bottom: 40px; margin-left: 30px">
    <div class="card-header card-title" style="font-family: Roboto; font-weight: 500;">Effect Types</div>
    <div class="card-block" style="padding: 20px;padding-top: 22.75px; padding-bottom: 22.75px;">
      <div style="display: inline; margin-right: 20px;"
        *ngFor="let effect of ['LGDs', 'Missense', 'Synonymous', 'Other']; let i=index" class="checkbox">
        <label>
          <input #effectTypeCheckbox checked type="checkbox"
            (change)="checkEffectType(effect, effectTypeCheckbox.checked)">
          <svg id={{effect}}></svg>
          {{ effect }}
        </label>
      </div>
    </div>
  </div>

  <div class="effect-card card" style="margin-top: 40px; margin-bottom: 40px; margin-left: 30px">
    <div class="card-header card-title" style="font-family: Roboto; font-weight: 500;">Inheritance Type</div>
    <div class="card-block" style="padding: 20px;padding-top: 22.75px; padding-bottom: 22.75px;">
      <div style="display: inline; margin-right: 20px">
        <label>
          <input style="margin-right: 5px;" #denovoCheckbox checked type="checkbox"
            (click)="checkShowDenovo(denovoCheckbox.checked)">
          <svg id="denovo"></svg>
          Denovo
        </label>
      </div>
      <div style="display: inline; margin-right: 20px">
        <label>
          <input #transmittedCheckbox checked type="checkbox"
            (click)="checkShowTransmitted(transmittedCheckbox.checked)">
          <svg id="transmitted"></svg>
          Transmitted
        </label>
      </div>
    </div>
  </div>
</div>


<div style="padding: 30px; float: left">
  <div id="svg-container"></div>
</div>

<div *ngIf="this.gene" style="float: left;">
  <h2>{{ this.geneTableStats.geneSymbol }}</h2>
  <table>
    <tr>
      <td></td>
      <td>total</td>
      <td>selected</td>
    </tr>

    <tr>
      <td>summary variants</td>
      <td>{{ this.geneTableStats.totalSummaryVariants }}</td>
      <td>{{ this.geneTableStats.selectedSummaryVariants }}</td>
    </tr>

    <tr>
      <td>family variants</td>
      <td>{{ this.geneTableStats.totalFamilyVariants }}</td>
      <td>{{ this.geneTableStats.selectedFamilyVariants }}</td>
    </tr>

  </table>
  <div style="margin-right: 20px; margin-top: 20px" class="checkbox">
    <label>
      <input #checkbox type="checkbox" [checked]="condenseIntrons" (change)="toggleCondenseIntron()">
      Condense introns
    </label>
  </div>
</div>