<div [hidden]="!this.gene" class="row" style="margin-left: 0px;">
  <div class="effect-card card" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="card-header card-title" style="font-family: Roboto; font-weight: 500;">Affected Status</div>
    <div class="card-block">
      <div style="display: inline" *ngFor="let affectedStatus of ['Affected only', 'Unaffected only', 'Affected and unaffected']; let i=index" class="checkbox">
        <label style="padding: 15px; user-select: none">
          <input #affectedStatusCheckbox checked type="checkbox"
            (change)="checkAffectedStatus(affectedStatus, affectedStatusCheckbox.checked)"
            id="affectedStatus{{affectedStatus}}-checkbox">
          <span class="pedigree-icon" [style.background-color]="getAffectedStatusColor(affectedStatus)"
            style="opacity: 0.75;"></span>
          <label for="{{affectedStatus}}-checkbox" style="display: inline-block;vertical-align: middle;line-height: 95%;"
            [ngStyle]="{width: affectedStatus === 'Affected only' ? '70px' : 
                              affectedStatus === 'Unaffected only' ? '80px' :
                              affectedStatus === 'Affected and unaffected' ? '100px': {}}">
            {{ affectedStatus }}
          </label>
        </label>
      </div>
    </div>
  </div>

  <div class="effect-card card" style="margin-top: 40px; margin-bottom: 40px; margin-left: 30px">
    <div class="card-header card-title" style="font-family: Roboto; font-weight: 500;">Effect Types</div>
    <div class="card-block">
      <div style="display: inline" *ngFor="let effect of ['LGDs', 'Missense', 'Synonymous', 'CNV+', 'CNV-', 'Other']; let i=index" class="checkbox">
        <label style="padding: 15px; user-select: none">
          <input #effectTypeCheckbox checked type="checkbox"
            (change)="checkEffectType(effect, effectTypeCheckbox.checked)">
          <svg id={{effect}}></svg>
          {{ effect }}
        </label>
      </div>
    </div>
  </div>

  <div class="effect-card card" style="margin-top: 40px; margin-bottom: 40px; margin-left: 30px">
    <div class="card-header card-title" style="font-family: Roboto; font-weight: 500;">Inheritance Types</div>
    <div class="card-block">
      <div style="display: inline">
        <label style="padding: 15px; user-select: none">
          <input style="margin-right: 5px;" #denovoCheckbox checked type="checkbox"
            (click)="checkShowDenovo(denovoCheckbox.checked)">
          <svg id="denovo"></svg>
          <span style="margin-left: 10px">Denovo</span>
        </label>
      </div>
      <div style="display: inline">
        <label style="padding: 15px; user-select: none">
          <input #transmittedCheckbox checked type="checkbox"
            (click)="checkShowTransmitted(transmittedCheckbox.checked)">
          <svg id="transmitted"></svg>
          <span style="margin-left: 10px">Transmitted</span>
        </label>
      </div>
    </div>
  </div>

  <div class="effect-card card" style="margin-top: 40px; margin-bottom: 40px; margin-left: 30px">
    <div class="card-header card-title" style="font-family: Roboto; font-weight: 500;">Variant Types</div>
    <div class="card-block">
      <div style="display: inline" *ngFor="let variantType of ['sub', 'ins', 'del', 'CNV+', 'CNV-']; let i=index" class="checkbox">
        <label style="padding: 15px; user-select: none">
          <input #variantTypeCheckbox checked type="checkbox"
            (change)="checkVariantType(variantType, variantTypeCheckbox.checked)">
          {{ variantType }}
        </label>
      </div>
    </div>
  </div>
</div>


<div *ngIf="this.gene" style="padding: 0px 0px 30px 0px; float: left; width: 100%;">
  <div class="effect-card card">
    <div class="card-header card-title" style="font-family: Roboto; font-weight: 500; padding: 0px; border-bottom: none; position: relative; height: 40px;">
      <span class="header-item" style="left: 0;">
        <button type="button" class="astext" title="Undo (Ctrl+Z)" style="padding-left:20px; font-weight: bold;"
          [disabled]="!zoomHistory.canGoBackward" (click)="historyUndo()">&#x021FD;</button>
        <button type="button" class="astext" title="Redo (Ctrl+Y)" style="padding-left:7px; font-weight: bold;"
          [disabled]="!zoomHistory.canGoForward" (click)="historyRedo()">&#x021FE;</button>
        <button type="button" class="astext" title="Reset (Double-click)" style="padding-left:12px;"
          (click)="setDefaultScale(); redrawAndUpdateTable();">&#x021BB;</button>
      </span>

      <span class="header-item" style="left: 120px;">
        <label style="margin-left: 20px; font-size: 17px; font-weight: 1;">
          <input #hideTranscriptsCheckbox type="checkbox"
            (change)="checkHideTranscripts(hideTranscriptsCheckbox.checked)">
          Hide transcripts
        </label>
        <label style="margin-left: 15px; font-size: 17px; font-weight: 1;">
          <input #checkbox type="checkbox" [checked]="condenseIntrons" (change)="toggleCondenseIntron()">
          Condense introns
        </label>
      </span>

      <span class="header-item" style="float: left; font-size: 20px; font-weight: bold; left: 45%;">{{ this.geneTableStats.geneSymbol }}</span>

      <span class="header-item" style="right: 0;">
        <span style="margin-left: 20px; font-size: 17px; font-weight: 1;">Summary alleles:
          <span style="margin-left: 7px; background-color: #EEEEEE; padding: 2px; border: 1px solid rgba(0,0,0,.125);">
            {{ this.geneTableStats.selectedSummaryVariants }} / {{ this.geneTableStats.totalSummaryVariants }}</span>
        </span>
        <span style="margin-left: 40px; font-size: 17px; font-weight: 1;">Family variants:
          <span style="margin-left: 7px; background-color: #EEEEEE; padding: 2px; border: 1px solid rgba(0,0,0,.125);">
            {{ this.geneTableStats.selectedFamilyVariants }} / {{ this.geneTableStats.totalFamilyVariants }}</span>
        </span>
      </span>
    </div>
  </div>
  <div id="svg-container" style="border: 1px solid rgba(0,0,0,.125); border-top: none;"></div>
</div>
