<div class="row" style="margin-left: 0px;">

  <div class="effect-card card" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="card-header card-title" style="font-family: Roboto; font-weight: 500;">Affected Status</div>
    <div class="card-block" style="padding: 20px;">
      <div style="display: inline; margin-right: 20px;"
        *ngFor="let affectedStatus of ['Affected only', 'Unaffected only', 'Affected and unaffected']; let i=index"
        class="checkbox">
        <input #affectedStatusCheckbox checked type="checkbox"
          (change)="checkAffectedStatus(affectedStatus, affectedStatusCheckbox.checked)"
          id="{{affectedStatus}}-checkbox">
        <span class="pedigree-icon" [style.background-color]="getAffectedStatusColor(affectedStatus)"
          style="opacity: 0.75;"></span>
        <label for="{{affectedStatus}}-checkbox" style="display: inline-block;vertical-align: middle;line-height: 95%;"
          [ngStyle]="{width: affectedStatus === 'Affected only' ? '70px' : 
                             affectedStatus === 'Unaffected only' ? '80px' :
                             affectedStatus === 'Affected and unaffected' ? '100px': {}}">
          {{ affectedStatus }}
        </label>
      </div>
    </div>
  </div>

  <div class="effect-card card" style="margin-top: 40px; margin-bottom: 40px; margin-left: 30px">
    <div class="card-header card-title" style="font-family: Roboto; font-weight: 500;">Effect Types</div>
    <div class="card-block" style="padding: 20px;padding-top: 22.75px; padding-bottom: 22.75px;">
      <div style="display: inline; margin-right: 20px;"
        *ngFor="let effect of ['LGDs', 'Missense', 'Synonymous', 'Other']; let i=index" class="checkbox">
        <label>
          <input #effectTypeCheckbox checked type="checkbox"
            (change)="checkEffectType(effect, effectTypeCheckbox.checked)">
          <svg id={{effect}}></svg>
          {{ effect }}
        </label>
      </div>
    </div>
  </div>

  <div class="effect-card card" style="margin-top: 40px; margin-bottom: 40px; margin-left: 30px">
    <div class="card-header card-title" style="font-family: Roboto; font-weight: 500;">Inheritance Type</div>
    <div class="card-block" style="padding: 20px;padding-top: 22.75px; padding-bottom: 22.75px;">
      <div style="display: inline; margin-right: 20px">
        <label>
          <input style="margin-right: 5px;" #denovoCheckbox checked type="checkbox"
            (click)="checkShowDenovo(denovoCheckbox.checked)">
          <svg id="denovo"></svg>
          Denovo
        </label>
      </div>
      <div style="display: inline; margin-right: 20px">
        <label>
          <input #transmittedCheckbox checked type="checkbox"
            (click)="checkShowTransmitted(transmittedCheckbox.checked)">
          <svg id="transmitted"></svg>
          Transmitted
        </label>
      </div>
    </div>
  </div>
</div>


<div *ngIf="this.gene" style="padding: 0px 30px 30px 0px; float: left;">
  <div class="effect-card card">
    <div class="card-header card-title" style="font-family: Roboto; font-weight: 500; padding: 0px; border-bottom: none;">
      <button type="button" class="astext" style="padding-left:20px; font-weight: bold;" [disabled]="!zoomHistory.canGoBackward" (click)="historyUndo()">&#x021FD;</button>
      <button type="button" class="astext" style="padding-left:7px; font-weight: bold;" [disabled]="!zoomHistory.canGoForward" (click)="historyRedo()">&#x021FE;</button>
      <button type="button" class="astext" style="padding-left:12px;" (click)="setDefaultScale(); this.redraw();">&#x021BB;</button>

      <span style="margin-left: 50px; font-size: 20px; font-weight: bold; margin-left: 915px">{{ this.geneTableStats.geneSymbol }}</span>
      <span style="float: right; padding-top:7px; padding-right: 15px;">
        <span style="margin-left: 20px; font-size: 17px; font-weight: 1;">Summary variants:
          selected
          <span style="background-color: #EEEEEE; padding: 2px; border: 1px solid rgba(0,0,0,.125);"> {{ this.geneTableStats.selectedSummaryVariants }} /
          {{ this.geneTableStats.totalSummaryVariants }}</span>
        </span>
        <span style="margin-left: 40px; font-size: 17px; font-weight: 1;">Family variants:
          selected 
          <span style="background-color: #EEEEEE; padding: 2px; border: 1px solid rgba(0,0,0,.125);">{{ this.geneTableStats.selectedFamilyVariants }} /
          {{ this.geneTableStats.totalFamilyVariants }}</span>
        </span>
      </span>
    </div>
  </div>
  <div id="svg-container" style="border: 1px solid rgba(0,0,0,.125); border-top: none;"></div>
</div>

<div *ngIf="this.gene">
  <div *ngIf="this.gene">
    <div style="position: absolute; top: 943px; left: 44px; border: 1px solid rgba(0,0,0,.125); padding: 5px; border-radius: calc(.25rem - 1px)">
      <div class="checkbox">
        <label>
          <input #hideTranscriptsCheckbox type="checkbox" (change)="checkHideTranscripts(hideTranscriptsCheckbox.checked)">
          Hide transcripts
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input #checkbox type="checkbox" [checked]="condenseIntrons" (change)="toggleCondenseIntron()">
          Condense introns
        </label>
      </div>
    </div>
  </div>
</div>