.table-wrapper {
  display: flex;
  align-items: flex-start;
}

table {
  max-width: 750px;
  margin-right: 15px;
  margin-bottom: 15px;
}

#external-links {
  width: 200px;
}

.link {
  text-decoration: underline;
}
