.gene-sets-table, .genomic-scores-table, .datasets-table {
  width: 20%;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
}

#external-links {
  width: 200px;
}

.link {
  text-decoration: underline;
}
