<div class="genotype-block form-block">
  <div class="row row-eq-height">
    @if (dataset.genotypeBrowserConfig.hasPedigreeSelector) {
      <div class="col-lg-3">
        <gpf-pedigree-selector
          [hasZygosity]="dataset.hasZygosity"
          [collections]="dataset.personSetCollections.collections"></gpf-pedigree-selector>
      </div>
    }

    @if (dataset.genotypeBrowserConfig.hasPresentInChild) {
      <div class="col-lg-3">
        <gpf-present-in-child [hasZygosity]="dataset.hasZygosity"></gpf-present-in-child>
      </div>
    }

    @if (dataset.genotypeBrowserConfig.hasPresentInParent) {
      <div class="col-lg-3">
        <gpf-present-in-parent [hasZygosity]="dataset.hasZygosity"></gpf-present-in-parent>
      </div>
    }

    <div class="col-lg-3 panel-row">
      <gpf-gender [hasZygosity]="dataset.hasZygosity"></gpf-gender>
    </div>

    <div class="col-lg-6 panel-row">
      <gpf-effect-types [variantTypes]="variantTypesSet"></gpf-effect-types>
    </div>

    <div class="col-lg-3 panel-row">
      <gpf-variant-types [variantTypes]="variantTypesSet" [selectedVariantTypes]="selectedVariantTypesSet">
      </gpf-variant-types>
    </div>

    @if (dataset.genotypeBrowserConfig.hasStudyTypes) {
      <div class="col-lg-3">
        <gpf-study-types></gpf-study-types>
      </div>
    }

    <div class="col-lg-3 panel-row">
      @if (dataset.genotypeBrowserConfig.inheritanceTypeFilter?.length) {
        <gpf-inheritancetypes
          [inheritanceTypes]="inheritanceTypeFilterSet"
          [selectedValues]="selectedInheritanceTypeFilterValuesSet">
        </gpf-inheritancetypes>
      }
    </div>
  </div>
</div>
