<div style="padding: 25px;">

  <table *ngIf="config$ | async as config" class="table table-hover table-sm table-centered table-header-rotate">
    <thead>
      <tr>
        <th class="table-main-header">Gene</th>
        <th class="table-main-header" [attr.colspan]="shownGeneListsCount">Gene lists</th>
        <th class="table-main-header" [attr.colspan]="config.autismScores?.length">Autism scores</th>
        <th class="table-main-header" [attr.colspan]="config.protectionScores?.length">Protection scores</th>
        <th class="table-main-header" *ngFor="let dataset of config.datasets" [attr.colspan]="calculateDatasetColspan(dataset)">{{dataset.name}}</th>
      </tr>

      <tr style="height: 110px;">
        <th class="table-subheader" rowspan="2">Gene search</th>
        <th class="table-subheader" rowspan="2" *ngFor="let geneList of getShownGeneLists(config.geneLists)"><span class="vertical-text">{{geneList}}</span></th>
        <th class="table-subheader" rowspan="2" *ngFor="let autismScore of config.autismScores"><span class="vertical-text">{{autismScore}}</span></th>
        <th class="table-subheader" rowspan="2" *ngFor="let protectionScore of config.protectionScores"><span class="vertical-text">{{protectionScore}}</span></th>

        <ng-container *ngFor="let dataset of config.datasets">
          <th class="table-subheader" colspan="3" *ngFor="let personSet of dataset.personSets">{{personSet}}</th>
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let dataset of config.datasets">
          <ng-container *ngFor="let personSet of dataset.personSets">
            <td *ngFor="let effectType of dataset.effects">{{effectType}}</td>
          </ng-container>
        </ng-container>
      </tr>
    </thead>

    <tbody *ngIf="genes$ | async as genes">
      <tr *ngFor="let gene of genes">
        <td>{{gene.geneSymbol}}</td>
          <td *ngFor="let geneList of getShownGeneLists(config.geneLists)">
            <span *ngIf="gene.geneSets.indexOf(geneList) !== -1">&#10003;</span>
          </td>
        <td *ngFor="let autismScore of config.autismScores"> {{gene.autismScores.get(autismScore)}}</td>
        <td *ngFor="let protectionScore of config.protectionScores"> {{gene.protectionScores.get(protectionScore)}}</td>

        <ng-container *ngFor="let study of gene.studies">
          <ng-container *ngFor="let personSet of study.personSets">
            <td *ngFor="let effectType of personSet.effectTypes | keyvalue">{{effectType.value}}</td>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>

  </table>

  <button (click)="showOrHideGeneLists()">button</button>
</div>