td {
  text-align: center;
}

.table-main-header {
    text-align: center;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform-origin: center center;
  transform: rotate(180deg);
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 80%;
}

.effect-type-header gpf-sorting-buttons {
  position: relative;
  top: 5px;
  /* white-space: nowrap; */
}

.table-subheader {
  text-align: center;
  height: 150px;
  line-height: 130%;
}

.table-subheader span {
  text-align: start;
}

thead {
  background-color: #eeeeee;
}

td, th, .table-subheader, .table-main-header {
  border-bottom: none;
}

td, th {
  border: 1px solid #dddddd;
}

.dropdown-toggle::after {
  content: none;
}

#gene-search-input:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

#gene-search-input {
  border-radius: 0;
}