<div style="padding: 25px;">
  <table *ngIf="config" class="table table-hover table-sm table-centered table-header-rotate" style="table-layout: fixed; min-width: 1500px;">
    <thead>
      <tr>
        <th class="table-main-header" style="width: 160px; max-width: 160px">
          <span>Gene</span>
        </th>

        <th class="table-main-header" [attr.colspan]="shownGeneSets.length">
          <span>
            Gene sets
          </span>
          <span ngbDropdown (openChange)="focusGeneSetsInput = $event;">
            <button class="dropdown-toggle btn navbar-toggler" ngbDropdownToggle style="float: right; border: 1px solid #dddddd; outline: none; font-size: 18px; width: 40px;">
              <span style="font-size: 14px;">&#9776;</span>
            </button>
            <gpf-multiple-select-menu ngbDropdownMenu [focusInput]="focusGeneSetsInput" [id]="'geneSets'" [allItems]="config.geneSets" [selectedItems]="shownGeneSets" [minSelectCount]="1" (applyEvent)="handleMultipleSelectMenuApplyEvent($event)"></gpf-multiple-select-menu>
          </span>
        </th>

        <th class="table-main-header" [attr.colspan]="shownAutismScores.length">
          <span>
            Autism scores
          </span>
          <span ngbDropdown (openChange)="focusAutismScoresInput = $event;">
            <button class="dropdown-toggle btn navbar-toggler" ngbDropdownToggle style="float: right; border: 1px solid #dddddd; outline: none; font-size: 18px; width: 40px;">
              <span style="font-size: 14px;">&#9776;</span>
            </button>
            <gpf-multiple-select-menu ngbDropdownMenu [focusInput]="focusAutismScoresInput" [id]="'autismScores'" [allItems]="config.autismScores" [selectedItems]="shownAutismScores" [minSelectCount]="1" (applyEvent)="handleMultipleSelectMenuApplyEvent($event)"></gpf-multiple-select-menu>
          </span>
        </th>

        <th class="table-main-header" [attr.colspan]="shownProtectionScores.length">
          <span>
            Protection scores
          </span>
          <span ngbDropdown (openChange)="focusProtectionScoresInput = $event;">
            <button class="dropdown-toggle btn navbar-toggler" ngbDropdownToggle style="float: right; border: 1px solid #dddddd; outline: none; font-size: 18px; width: 40px;">
              <span style="font-size: 14px;">&#9776;</span>
            </button>
            <gpf-multiple-select-menu ngbDropdownMenu [focusInput]="focusProtectionScoresInput" [id]="'protectionScores'" [allItems]="config.protectionScores" [selectedItems]="shownProtectionScores" [minSelectCount]="1" (applyEvent)="handleMultipleSelectMenuApplyEvent($event)"></gpf-multiple-select-menu>
          </span>
        </th>

        <th class="table-main-header" *ngFor="let dataset of config.datasets" [attr.colspan]="calculateDatasetColspan(dataset)">{{dataset.name}}</th>
      </tr>

      <tr style="height: 110px;">
        <th class="table-subheader" rowspan="2">
          <input #geneSearchInput (keyup)="sendKeystrokes(geneSearchInput.value)" id="gene-search-input"
            class="form-control" autocomplete="off" type="text" placeholder="Search gene" aria-label="Search gene">
        </th>
        <th class="table-subheader" rowspan="2" *ngFor="let geneSet of shownGeneSets"><span class="vertical-text">{{geneSet}}</span></th>
        <th class="table-subheader" rowspan="2" *ngFor="let autismScore of shownAutismScores"><span class="vertical-text">{{autismScore}}</span></th>
        <th class="table-subheader" rowspan="2" *ngFor="let protectionScore of shownProtectionScores"><span class="vertical-text">{{protectionScore}}</span></th>

        <ng-container *ngFor="let dataset of config.datasets">
          <th class="table-subheader" colspan="3" *ngFor="let personSet of dataset.personSets">{{personSet}}</th>
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let dataset of config.datasets">
          <ng-container *ngFor="let personSet of dataset.personSets">
            <td *ngFor="let effectType of dataset.effects">{{effectType}}</td>
          </ng-container>
        </ng-container>
      </tr>
    </thead>

    <tbody *ngIf="genes">
      <tr *ngFor="let gene of genes">
        <td (click)="emitCreateTabEvent(gene.geneSymbol, true)" (middleclick)="emitCreateTabEvent(gene.geneSymbol, false)" style="cursor:pointer;color:#1a6393;">
          {{gene.geneSymbol}}
        </td>

        <td *ngFor="let geneSet of shownGeneSets">
          <span *ngIf="gene.geneSets.indexOf(geneSet) !== -1">&#10003;</span>
        </td>
        
        <td *ngFor="let autismScore of shownAutismScores"> {{gene.autismScores.get(autismScore)}}</td>
        <td *ngFor="let protectionScore of shownProtectionScores"> {{gene.protectionScores.get(protectionScore)}}</td>

        <ng-container *ngFor="let study of gene.studies">
          <ng-container *ngFor="let personSet of study.personSets">
            <td *ngFor="let effectType of personSet.effectTypes | keyvalue">{{effectType.value}}</td>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>

  </table>
</div>
