<div style="padding: 25px;">

  <table style="float: left; width: 100px" class="table table-bordered table-hover table-sm table-centered table-header-rotate">
    <thead>
      <th class="table-header" >Gene</th>
    </thead>
    <tr style="height: 150px; vertical-align: middle;">
      search gene
    </tr>
  </table>

  <div style="resize: horizontal; overflow: hidden; float: left; width: 265px; max-width: 265px; padding: none">
    <table style="float: left;" class="table table-bordered table-hover table-sm table-centered table-header-rotate">
      <thead>
        <tr>
          <th class="table-header" colspan="100" >Gene lists</th>
        </tr>
        <tr style="height: 150px;">
          <td *ngFor="let geneList of geneLists" style="vertical-align: middle; transform-origin: center center; transform: rotate(-90deg); padding: 0px 15px 0px 15px">{{ geneList }}</td>
        </tr>
      </thead>
    </table>
  </div>

  <table style="float: left; width: 200px;" class="table table-bordered table-hover table-sm table-centered table-header-rotate">
    <thead>
      <tr>
        <th class="table-header" colspan="100" >Autism score</th>
      </tr>
      <tr style="height: 150px">
        <td *ngFor="let autismScore of autismScores" style="vertical-align: middle; transform-origin: center center; transform: rotate(-90deg); padding: 0px 15px 0px 15px">{{ autismScore }}</td>
      </tr>
    </thead>
  </table>

  <table style="float: left; width: 200px" class="table table-bordered table-hover table-sm table-centered table-header-rotate">
    <thead>
      <tr>
        <th class="table-header" colspan="100" >Protection score</th>
      </tr>
      <tr style="height: 150px">
        <td *ngFor="let protectionScore of protectionScores" style="vertical-align: middle; transform-origin: center center; transform: rotate(-90deg); padding: 0px 15px 0px 15px">{{ protectionScore }}</td>
      </tr>
    </thead>
  </table>

</div>