#gene-scores-panel {
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}

#select-help-wrapper {
  display: flex;
  align-items: center;
}

select {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#view-menu-button {
  background: none;
  border: none;
  color: #b4b4b4;
}

.mat-mdc-menu-content {
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  padding: 0 !important;
}

.mat-mdc-menu-item {
  min-height: 40px !important;
}

.mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: none;
}

.selected-view {
  background-color: #2a6395 !important;
  color: #fff !important;
}
