#gene-scores-panel {
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}

#select-help-wrapper {
  display: flex;
  align-items: center;
}

select {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
