<div *ngIf="gene$ | async as gene" style="padding: 25px;">

  <h2>{{geneSymbol}}</h2>

  <table class="table table-bordered table-centered" style="width: 49%; float: left; margin-right: 15px;">
    <th [attr.colspan]="2" style="text-align: center;">Autism scores</th>
    <tr *ngFor="let autismScore of gene.autismScores | keyvalue; let i = index" class="card-block">
      <td style="vertical-align: middle;">{{formatScoreName(autismScore.key)}}</td>
      <td>
        <gpf-histogram *ngIf="autismScoreGeneWeights"
          width="650" height="145"
          [bins]="autismScoreGeneWeights[i].bins"
          [bars]="autismScoreGeneWeights[i].bars"
          [logScaleX]="autismScoreGeneWeights[i].logScaleX"
          [logScaleY]="autismScoreGeneWeights[i].logScaleY"
          [showMinMaxInput]="false"
          [isInteractive]="false">
        </gpf-histogram>
      </td>
    </tr>
  </table>

  <table class="table table-bordered table-centered" style="width: 49%; float: left; margin-right: 15px;">
    <th [attr.colspan]="2" style="text-align: center;">Protection scores</th>
    <tr *ngFor="let protectionScore of gene.protectionScores | keyvalue; let i = index" class="card-block">
      <td style="vertical-align: middle;">{{formatScoreName(protectionScore.key)}}</td>
      <td>
        <gpf-histogram *ngIf="protectionScoreGeneWeights"
          width="650" height="145"
          [bins]="protectionScoreGeneWeights[i].bins"
          [bars]="protectionScoreGeneWeights[i].bars"
          [logScaleX]="protectionScoreGeneWeights[i].logScaleX"
          [logScaleY]="protectionScoreGeneWeights[i].logScaleY"
          [showMinMaxInput]="false"
          [isInteractive]="false">
        </gpf-histogram>
      </td>
    </tr>
  </table>

  <table class="table table-bordered table-centered" style="width: 30%; float: left; margin-right: 15px;">
    <th [attr.colspan]="2" style="text-align: center;">Gene lists</th>
    <tr *ngFor="let geneList of geneLists" class="card-block">
      <td>{{geneList}}</td>
      <td>
        <span *ngIf="gene.geneSets.indexOf(geneList) !== -1">&#10003;</span>
      </td>
    </tr>
  </table>
</div>
