<div class="container">
  <div class="pheno-instrument-block form-block">
    <div class="row">
      <div class="col-lg-2">
        <label class="form-block-title" for="reports">Instrument</label>
      </div>

      <div class="col-lg-10">
        <select [ngModel]="selectedChanges$ | async" (ngModelChange)="emitInstrument($event)">
          <option *ngFor="let instrument of (instruments | async)?.instruments"
            [ngValue]="instrument">{{ instrument }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-block">
    <div class="row">
      <div [hidden]="!(measuresToShow$ | async)" class="col-lg-12">
        <gpf-pheno-browser-table [measures]="(measuresToShow$ | async)?.measures"></gpf-pheno-browser-table>
      </div>
    </div>
  </div>
</div>
