.pheno-instrument-block {
	padding: 20px;
	border: 1px solid rgba(0,0,0,.125);
	background-color: #fafafa;
}

.table-chart {
  width: 128px;
  height: 88px;
}

:host /deep/ .card-block {
	flex: none;
	padding: 0.75em 0 0;

}

:host /deep/ .card-block .btn-group {
    margin-bottom: 0.5em;
}

:host /deep/ .card-header {
    background-color: transparent;
    padding: 0 0 0.25em;
    font-weight: 500;

}

:host /deep/ .card {
	border: none;
	background-color: transparent;
	font-size: 0.9em;
}

:host /deep/ gpf-table {
	display: inline-block;
	width: 100%;
	margin-bottom: 50px;
}

:host /deep/ gpf-table-cell {
    height: 80px;
    max-height: 80px;
    border: 1px solid #dddddd;
    width: 150px;
    overflow: hidden;
    padding: 8px;
    text-align: center;
}

:host /deep/ gpf-table-header {
    width: 150px;
    height: 100px;
    border: 1px solid #dddddd;
    padding: 8px;
    font-size: 0.9em;
    background: #eee;
    font-weight: 500;
}
