<div style="padding: 30px">
  <div class="effect-card card">
    <div style="font-family: Roboto; font-weight: 500; border-bottom: none" class="card-header card-title"
      >Gene Symbol</div
    >
    <div class="card-block">
      <div ngbDropdown class="input-group panel" style="padding: 15px; align-items: baseline">
        <input
          ngbDropdownAnchor
          #searchBox
          id="search-box"
          placeholder="Search gene"
          autocomplete="off"
          spellcheck="false"
          [(ngModel)]="geneSymbol"
          (keyup)="openDropdown(); searchBoxInput$.next(geneSymbol)"
          (click)="reset(); geneSymbol = ''; showError = false"
          (keydown.enter)="submitGeneRequest()"
          (keydown.escape)="closeDropdown()" />

        <div ngbDropdownMenu id="genes-dropdown">
          <button
            *ngFor="let suggestion of geneSymbolSuggestions"
            class="dropdown-item"
            type="button"
            (click)="selectGeneSymbol(suggestion)"
            (keydown.enter)="selectGeneSymbol(suggestion); submitGeneRequest()">
            <span>{{ suggestion }}</span>
          </button>
        </div>

        <div style="padding-left: 16px">
          <label>
            <input
              (change)="reset()"
              style="margin-right: 6px"
              type="checkbox"
              id="coding-only-checkbox"
              [(ngModel)]="summaryVariantsFilter.codingOnly" />Coding only</label
          >
        </div>
      </div>

      <div
        [hidden]="!showError"
        class="alert alert-danger"
        role="alert"
        style="display: inline-block; margin: 14px; margin-top: 0px; width: 400px">
        <span>No such gene found!</span>
      </div>
    </div>
  </div>

  <div style="margin-top: 15px">
    <input type="button" style="width: 75px" class="btn btn-md btn-primary" value="Go" (click)="submitGeneRequest()" />
  </div>

  <div *ngIf="showResults">
    <div #filters id="filters" style="margin-left: 0px">
      <div id="affected-status-filters" class="effect-card card filter" *ngIf="geneBrowserConfig.hasAffectedStatus">
        <div class="card-header card-title">Affected Status</div>
        <div class="card-block">
          <div *ngFor="let affectedStatus of affectedStatusValues; let i = index" class="checkbox">
            <label class="filter-label">
              <input
                #affectedStatusCheckbox
                checked
                type="checkbox"
                id="affectedStatus{{ affectedStatus }}-checkbox"
                (change)="checkAffectedStatus(affectedStatus, affectedStatusCheckbox.checked); updateVariants()" />
              <span
                class="pedigree-icon"
                [style.background-color]="getAffectedStatusColor(affectedStatus)"
                style="opacity: 0.75"></span>
              <span
                style="display: inline-block; vertical-align: middle; line-height: 95%"
                [ngStyle]="{
                  width:
                    affectedStatus === 'Affected only'
                      ? '70px'
                      : affectedStatus === 'Unaffected only'
                      ? '80px'
                      : affectedStatus === 'Affected and unaffected'
                      ? '100px'
                      : {}
                }">
                <span>{{ affectedStatus }}</span>
              </span>
            </label>
          </div>
        </div>
      </div>

      <div id="effect-types-filters" class="effect-card card filter">
        <div class="card-header card-title">Effect Types</div>
        <div class="card-block">
          <div *ngFor="let effect of effectTypeValues; let i = index" class="checkbox">
            <label class="filter-label">
              <input
                #effectTypeCheckbox
                type="checkbox"
                [checked]="this.summaryVariantsFilter.isEffectTypeSelected(effect)"
                (change)="checkEffectType(effect, effectTypeCheckbox.checked); updateVariants()" />
              <svg id="{{ effect }}" width="20" height="20"></svg>
              <span>{{ effect }}</span>
            </label>
          </div>
        </div>
      </div>

      <div id="inheritance-types-filters" class="effect-card card filter">
        <div class="card-header card-title">Inheritance Types</div>
        <div class="card-block">
          <div class="checkbox">
            <label class="filter-label">
              <input
                #denovoCheckbox
                style="margin-right: 5px"
                checked
                type="checkbox"
                (click)="checkShowDenovo(denovoCheckbox.checked); updateVariants()" />
              <svg id="denovo" width="120" height="20"></svg>
              <span>Denovo</span>
            </label>
          </div>
          <div class="checkbox">
            <label class="filter-label">
              <input
                #transmittedCheckbox
                checked
                type="checkbox"
                (click)="checkShowTransmitted(transmittedCheckbox.checked); updateVariants()" />
              <svg id="transmitted" width="125" height="20"></svg>
              <span>Transmitted</span>
            </label>
          </div>
        </div>
      </div>

      <div id="variant-types-filters" class="effect-card card filter">
        <div class="card-header card-title">Variant Types</div>
        <div class="card-block">
          <div *ngFor="let variantType of variantTypeValues; let i = index" class="checkbox">
            <label class="filter-label">
              <input
                #variantTypeCheckbox
                checked
                type="checkbox"
                (change)="checkVariantType(variantType, variantTypeCheckbox.checked); updateVariants()" />
              <span>{{ variantType }}</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div>
      <gpf-gene-plot
        [gene]="selectedGene"
        [variantsArray]="summaryVariantsArrayFiltered"
        [condenseIntrons]="summaryVariantsFilter.codingOnly"
        [frequencyDomain]="[geneBrowserConfig.domainMin, geneBrowserConfig.domainMax]"
        [yAxisLabel]="geneBrowserConfig.frequencyName || geneBrowserConfig.frequencyColumn"
        [allVariantsCounts]="[
          summaryVariantsArray.totalSummaryAllelesCount,
          summaryVariantsArray.totalFamilyVariantsCount
        ]"
        (selectedRegion)="setSelectedRegion($event)"
        (selectedFrequencies)="setSelectedFrequencies($event)">
      </gpf-gene-plot>
      <div class="row" style="padding-top: 15px">
        <div class="col-12" *ngIf="selectedGene">
          <button class="btn btn-md btn-primary btn-right" id="download-summary-button" (click)="onDownloadSummary()">
            <span *ngIf="downloadInProgressSummary">Downloading...</span>
            <span *ngIf="!downloadInProgressSummary">Download Summary</span>
          </button>
        </div>
      </div>

      <hr />

      <div *ngIf="selectedDataset.studies?.length > 1" id="unique-family-variants-block" class="form-block">
        <div class="card">
          <ul ngbNav class="navbar bg-light nav-pills" style="justify-content: flex-start">
            <label
              for="unique-family-variants-checkbox"
              class="nav-title-custom"
              style="width: unset; margin-right: unset; padding-right: 10px"
              >Unique family variants</label
            >
            <li ngbNavItem style="display: flex">
              <input id="unique-family-variants-checkbox" type="checkbox" (click)="checkUniqueFamilyVariantsFilter()" />
            </li>
          </ul>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-6">
          <gpf-loading-spinner
            *ngIf="selectedGene"
            [loadingFinished]="familyLoadingFinished"
            [count]="genotypePreviewVariantsArray?.getVariantsCount(maxFamilyVariants)">
          </gpf-loading-spinner>
        </div>
        <div class="col-6" *ngIf="selectedGene">
          <button class="btn btn-md btn-primary btn-right" id="download-button" (click)="onDownload()">
            <span *ngIf="downloadInProgress">Downloading...</span>
            <span *ngIf="!downloadInProgress">Download</span>
          </button>
        </div>
      </div>

      <gpf-genotype-preview-table
        *ngIf="familyLoadingFinished"
        [columns]="selectedDataset?.genotypeBrowserConfig?.tableColumns"
        [genotypePreviewVariantsArray]="genotypePreviewVariantsArray"
        [legend]="legend">
      </gpf-genotype-preview-table>
    </div>
  </div>
</div>
