<div style="padding: 30px;" >
    <div class="effect-card card">
      <div style="font-family: Roboto; font-weight: 500; border-bottom: none;" class="card-header card-title">Gene Symbols</div>
        <div class="card-block">
          <gpf-gene-symbols></gpf-gene-symbols>
        </div>
    </div>

    <div class="effect-card card" style="margin-top: 20px;">
      <div class="card-header card-title">Effect Types</div>
      <div class="card-block" style="padding: 20px;">
        <div style="display: inline; margin-right: 20px;" *ngFor="let effect of ['LGDs', 'Missense', 'Synonymous', 'Other']; let i=index" class="checkbox">
        <label>
          <input #checkbox checked type="checkbox" (change)="checkEffectType(effect, checkbox.checked)">
          <span
            class="pedigree-icon"
            [style.background-color]="getVariantColor(effect)"
            style="opacity: 0.75;"
          ></span>
          {{ effect }}
        </label>
        </div>
      </div>
    </div>

    <div style="margin-top: 20px">
      <input type="button" class="btn btn-md btn-primary" value="Gene Preview" (click)="submitGeneRequest()">
    </div>

    <gpf-gene-visualization-unified
        [gene]="selectedGene"
        [variantsArray]="genotypePreviewVariantsArray"
        (updateShownTablePreviewVariantsArrayEvent)="updateShownTablePreviewVariantsArray($event)"
        [streamingFinished$]="queryService.streamingFinishedSubject">
    >
    </gpf-gene-visualization-unified>

    <div *ngIf="selectedDataset$ | async as dataset">
        <span *ngIf="shownTablePreviewVariantsArray && genotypePreviewInfo" id="variants-count-span">
          {{ shownTablePreviewVariantsArray.getVariantsCount(genotypePreviewInfo.maxVariantsCount) }}
        </span>
        <gpf-genotype-preview-table
            [columns]="dataset?.genotypeBrowserConfig?.columns"
            [genotypePreviewInfo]="genotypePreviewInfo"
            [genotypePreviewVariantsArray]="shownTablePreviewVariantsArray">
        </gpf-genotype-preview-table>
    </div>
</div>
