<div style="padding: 30px;" *ngIf="selectedDataset$ | async as dataset">
  <div *ngIf="dataset.accessRights">
      <div class="effect-card card">
        <div style="font-family: Roboto; font-weight: 500; border-bottom: none;" class="card-header card-title">Gene Symbols</div>
          <div class="card-block">
            <gpf-gene-symbol-with-search></gpf-gene-symbol-with-search>

            <div style="padding: 0px 10px 10px 20px">
              <input style="margin-right: 10px;" type="checkbox" id="coding-only-checkbox" [(ngModel)]="enableCodingOnly">
              <label for="coding-only-checkbox">Coding only</label>
            </div>
          </div>
      </div>

      <div style="margin-top: 15px">
        <input type="button" style="width: 75px" class="btn btn-md btn-primary" value="Go" (click)="submitGeneRequest()">
      </div>

    <div class="row" style="margin-left: 0px; margin-right: 0px">
      <gpf-gene-view
        style="width: 100%; min-width: 1300px; max-width: 2000px;"
        [gene]="selectedGene"
        [variantsArray]="summaryVariantsArray"
        (updateShownTablePreviewVariantsArrayEvent)="updateShownTablePreviewVariantsArray($event)"
        [streamingFinished$]="queryService.summaryStreamingFinishedSubject">
      </gpf-gene-view>
    </div>

    <gpf-loading-spinner
      *ngIf="selectedGene"
      [loadingFinished]="familyLoadingFinished"
      [count]="getFamilyVariantCounts()"
      [displayText]="'Loading variants...'">
   </gpf-loading-spinner>

    <gpf-genotype-preview-table
        [columns]="dataset?.genotypeBrowserConfig?.columns"
        [genotypePreviewInfo]="genotypePreviewInfo"
        [genotypePreviewVariantsArray]="genotypePreviewVariantsArray">
    </gpf-genotype-preview-table>
  </div>
</div>
