<html>

<head>
    <style>
        h3,
        h4 {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        .annotator_line {
            font-size: 14px;
            background-color: aquamarine;
            vertical-align: top;
        }

        .attribute_description {
            font-size: 14px;
        }

        .attribute_name {
            font-size: 20px;
        }

        .resource {
            background-color: rgb(233, 151, 151);
        }
    </style>
</head>

<body>
    <h1>Pipeline Documentation</h1>
    {%- if preambule is not none %}
    <h3>Preambule</h3>
    <ul>
        <li>Reference genome: {{preambule.reference_genome}}</li>
        <li>Description: {{preambule.description}}</li>
        <li>
            Metadata:
            <ul>
                {%- for k, v in preambule.metadata.items() %}
                <li>{{k}} = {{v}}</li>
                {%- endfor %}
            </ul>
        </li>
    </ul>
    {%- endif %}
    <table border="1">
        <tr>
            <th>Attribute</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        {%- for annotator_info in annotation_pipeline_info %}
        <tr class="annotator_line">
            <td>
                <p><b>Annotator</b></p>
                <p>type: {{annotator_info.type}}</p>
                <p>description: {{ markdown(annotator_info.documentation) }}</p>
            </td>
            <td colspan="2">
                <table border="3">
                    <tr>
                        {%- for genomic_resource in annotator_info.resources %}
                        <td class="resource">
                            <p><b>Resource</b></p>
                            <p>id: <a href="{{genomic_resource.get_url()}}/index.html">
                                    {{genomic_resource.get_id()}}</a></p>                            
                            <p>type: {{genomic_resource.get_type()}}</p>
                            <p>description: {{ markdown(genomic_resource.get_summary()) }}</p>
                        </td>
                        {%- endfor %}
                    </tr>
                </table>
            </td>
        </tr>

        {%- for attribute_info in annotator_info.attributes %}
        <tr class="attribute">
            <td>
                <div>
                    <p class="attribute_name">{{attribute_info.name}}</p>
                </div>
            </td>
            <td>
                <div class="attribute">
                    <p>{{attribute_info.type}}</p>
                </div>
            </td>
            <td>
                <div class="attribute_description">
                    <p>source: {{attribute_info.source}}</p>
                    {{markdown(attribute_info.documentation)}}
                </div>
            </td>
        </tr>
        {%- endfor %}


        {%- endfor %}
    </table>
    <html>
</body>