<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <style>
      * {
        font-family: Roboto, FontAwesome;
      }

      p {
        margin: 8px;
      }

      body {
        width: 70%;
        margin: auto;
      }

      h1,
      h2,
      h3,
      h4 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 24px;
      }

      .preambule-header,
      .annotator-list-header,
      .pipeline-header {
        margin-top: 40px;
        margin-bottom: 20px;
      }

      .preambule-header,
      .annotator-list-header {
        font-size: 30px;
      }

      .pipeline-header {
        font-size: 36px;
      }

      table {
        border-collapse: collapse;
      }

      th, td {
        padding: 10px;
      }

      th {
        font-size: 20px;
      }

      td {
        font-size: 18px;
      }

      .annotator-doc {
        display: flex;
        margin-bottom: 40px;
        flex-direction: row;
        border: 1px solid rgb(218,218,218);
      }

      .annotator-line {
        font-size: 18px;
        vertical-align: top;
        width: 40%;
        position: -webkit-sticky;
        align-self: flex-start;
        word-break: break-word;
      }

      .sticky-line {
        position: sticky;
        top: 0px;
      }

      .annotator {
        background-color: #eee;
        padding: 10px 8px;
      }

      .annotator-title {
        font-size: 24px;
        font-weight: 500;
      }

      .attribute-list {
        width: 60%;
        border-right: 1px solid rgb(218,218,218);
      }
      
      .attribute {
        padding: 0 0 20px;
        border-bottom: 1px solid rgb(218,218,218);
      }

      .attribute:last-child {
        border-bottom: none;
      }

      .attribute-name {
        font-size: 22px;
        font-weight: 500;
        padding: 10px 8px;
        word-break: break-word;
      }

      .resource-id {
        font-size: 18px;
        margin: 8px;
      }

      .attribute-type {
        font-size: 18px;
        padding: 10px 8px;
      }

      .attribute-description {
        font-size: 18px;
        margin-right: 20px;
      }

      .attribute-info {
        font-size: 24px;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #f7f7f7;
        margin-bottom: 12px;
      }

      .attribute-internal {
        background-color: #f7efe4;
      }

      .attribute-source {
        color: rgb(145,145,145);
      }

      .attribute-source {
        margin: 8px;
      }

      .no-description {
        font-style: italic;
        color: #9c9c9c;
        padding: 10px 8px;
      }

      .markdown {
        padding: 8px;
      }

      details, .resource, .annotator-description {
        padding: 10px 8px;
      }

      img {
        height: auto; 
        width: auto; 
        max-width: 95%; 
        max-height: 95%;
      }

      table, th, td {
        border:1px solid rgb(218,218,218);
      }

      th {
        background-color: #eee;
      }
    </style>
  </head>

  <body>
    <h1 class="pipeline-header">Pipeline Documentation</h1>
    {% if preambule is not none %}
    <h2 class="preambule-header">Preambule</h2>
    <table style="width: 100%">
    <tr>
      <th>Input reference genome</th>
      <td>{{preambule.input_reference_genome}}</td>
    </tr>
    <tr>
      <th>Title</th>
      <td>{{preambule.title}}</td>
    </tr>
    <tr>
      <th>Summary</th>
      <td>{{preambule.summary}}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{preambule.description}}</td>
    </tr>
    <tr>
      <th>Authors</th>
      <td>{{preambule.authors}}</td>
    </tr>
    <tr>
      <th>Metadata</th>
      <td>
        <ul>
            {%- for k, v in preambule.metadata.items() %}
            <li>{{k}} = {{v}}</li>
            {%- endfor %}
        </ul>
      </td>
    </tr>
    </table>
    {% endif %}

    <h2 class="annotator-list-header">Annotators</h2>
    {% for annotator_info in annotation_pipeline_info %}
    <div class="annotator-doc">
      <div class="attribute-list">
        {% for attribute_info in annotator_info.attributes %}
        <div class="attribute">
          <div class="attribute-info {{'attribute-internal' if attribute_info.internal }}">
            <div class="attribute-name">
              {{attribute_info.name + ' (Internal)' if attribute_info.internal else attribute_info.name}}
            </div>
            <div class="attribute-type">Type: {{attribute_info.type}}</div>
          </div>
          <div class="attribute-description">
            {{markdown(attribute_info.documentation)}}
            <div class="attribute-source">source: {{attribute_info.source}}</div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="annotator-line {{'sticky-line' if annotator_info.attributes|length > 1 }}">
        <div class="annotator">
          <div class="annotator-title">Annotator type: {{annotator_info.type}}</div>
        </div>
  
        {% if annotator_info.documentation %}
        <details>
          <summary>Description</summary>
          <div class="annotator-description">
            {{ markdown(annotator_info.documentation) }}
          </div>
        </details>
        {% else %}
        <div class="no-description">
          No description
        </div>
        {% endif %}

        {% for genomic_resource in annotator_info.resources %}
        <div class="resource">
          <div><b>Resource</b></div>
          <div>id: <a href="{{genomic_resource.get_url()}}/index.html">
                  {{genomic_resource.get_id()}}</a></div>                            
          <div>type: {{genomic_resource.get_type()}}</div>
          {% if genomic_resource.get_summary() %}
          <details>
            <summary>Description</summary>
            <div class="markdown">
              {{ markdown(genomic_resource.get_summary()) }}
            </div>
          </details>
          {% endif %}
        </div>
        {% endfor %}
      </div>
  
    </div>
    {% endfor %}
  </body>
<html>
