<div *ngIf="showLoading" class="overlay">
</div>
<div *ngIf="showLoading">
  <div class="dna">
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
    <div class="ele">
      <div class="dot"></div>
    </div>
  </div>
</div>
