.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: grey;
  opacity: 0.5;
}

img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #292b37;
  font-family: arial;
}

.dna {
  width: 360px;
  margin: 100px auto;
  perspective: 270px;
  transform-style: preserve-3d;
  letter-spacing: -5px;
}
.dna:after {
  letter-spacing: 5px;
  display: block;
  padding-top: 50px;
  color: white;
  text-align: center;
  content: 'loading...';
}

.ele {
  width: 6px;
  height: 6px;
  display: inline-block;
  animation: rotate 3s linear infinite;
  transform: rotateX(-360deg) translateZ(0);
  transform-style: preserve-3d;
  margin-left: 0px;
}
.ele:nth-of-type(2n) .dot:before {
  background: deepskyblue;
}

.dot {
  width: inherit;
  height: inherit;
  transform: translateZ(-20px);
  transform-style: preserve-3d;
}
.dot:before {
  content: '';
  width: inherit;
  height: inherit;
  display: block;
  background: #aaa;
  border-radius: 50%;
  animation: rotate 3s linear infinite reverse;
  transform: rotateX(-360deg) translateZ(0);
}

.ele:nth-of-type(1),
.ele:nth-of-type(1) .dot:before {
  animation-delay: -0.1s;
}

.ele:nth-of-type(1):nth-of-type(odd) {
  animation-delay: -1.6s;
}

.ele:nth-of-type(2),
.ele:nth-of-type(2) .dot:before {
  animation-delay: -0.2s;
}

.ele:nth-of-type(2):nth-of-type(odd) {
  animation-delay: -1.7s;
}

.ele:nth-of-type(3),
.ele:nth-of-type(3) .dot:before {
  animation-delay: -0.3s;
}

.ele:nth-of-type(3):nth-of-type(odd) {
  animation-delay: -1.8s;
}

.ele:nth-of-type(4),
.ele:nth-of-type(4) .dot:before {
  animation-delay: -0.4s;
}

.ele:nth-of-type(4):nth-of-type(odd) {
  animation-delay: -1.9s;
}

.ele:nth-of-type(5),
.ele:nth-of-type(5) .dot:before {
  animation-delay: -0.5s;
}

.ele:nth-of-type(5):nth-of-type(odd) {
  animation-delay: -2s;
}

.ele:nth-of-type(6),
.ele:nth-of-type(6) .dot:before {
  animation-delay: -0.6s;
}

.ele:nth-of-type(6):nth-of-type(odd) {
  animation-delay: -2.1s;
}

.ele:nth-of-type(7),
.ele:nth-of-type(7) .dot:before {
  animation-delay: -0.7s;
}

.ele:nth-of-type(7):nth-of-type(odd) {
  animation-delay: -2.2s;
}

.ele:nth-of-type(8),
.ele:nth-of-type(8) .dot:before {
  animation-delay: -0.8s;
}

.ele:nth-of-type(8):nth-of-type(odd) {
  animation-delay: -2.3s;
}

.ele:nth-of-type(9),
.ele:nth-of-type(9) .dot:before {
  animation-delay: -0.9s;
}

.ele:nth-of-type(9):nth-of-type(odd) {
  animation-delay: -2.4s;
}

.ele:nth-of-type(10),
.ele:nth-of-type(10) .dot:before {
  animation-delay: -1s;
}

.ele:nth-of-type(10):nth-of-type(odd) {
  animation-delay: -2.5s;
}

.ele:nth-of-type(11),
.ele:nth-of-type(11) .dot:before {
  animation-delay: -1.1s;
}

.ele:nth-of-type(11):nth-of-type(odd) {
  animation-delay: -2.6s;
}

.ele:nth-of-type(12),
.ele:nth-of-type(12) .dot:before {
  animation-delay: -1.2s;
}

.ele:nth-of-type(12):nth-of-type(odd) {
  animation-delay: -2.7s;
}

.ele:nth-of-type(13),
.ele:nth-of-type(13) .dot:before {
  animation-delay: -1.3s;
}

.ele:nth-of-type(13):nth-of-type(odd) {
  animation-delay: -2.8s;
}

.ele:nth-of-type(14),
.ele:nth-of-type(14) .dot:before {
  animation-delay: -1.4s;
}

.ele:nth-of-type(14):nth-of-type(odd) {
  animation-delay: -2.9s;
}

.ele:nth-of-type(15),
.ele:nth-of-type(15) .dot:before {
  animation-delay: -1.5s;
}

.ele:nth-of-type(15):nth-of-type(odd) {
  animation-delay: -3s;
}

.ele:nth-of-type(16),
.ele:nth-of-type(16) .dot:before {
  animation-delay: -1.6s;
}

.ele:nth-of-type(16):nth-of-type(odd) {
  animation-delay: -3.1s;
}

.ele:nth-of-type(17),
.ele:nth-of-type(17) .dot:before {
  animation-delay: -1.7s;
}

.ele:nth-of-type(17):nth-of-type(odd) {
  animation-delay: -3.2s;
}

.ele:nth-of-type(18),
.ele:nth-of-type(18) .dot:before {
  animation-delay: -1.8s;
}

.ele:nth-of-type(18):nth-of-type(odd) {
  animation-delay: -3.3s;
}

.ele:nth-of-type(19),
.ele:nth-of-type(19) .dot:before {
  animation-delay: -1.9s;
}

.ele:nth-of-type(19):nth-of-type(odd) {
  animation-delay: -3.4s;
}

.ele:nth-of-type(20),
.ele:nth-of-type(20) .dot:before {
  animation-delay: -2s;
}

.ele:nth-of-type(20):nth-of-type(odd) {
  animation-delay: -3.5s;
}

.ele:nth-of-type(21),
.ele:nth-of-type(21) .dot:before {
  animation-delay: -2.1s;
}

.ele:nth-of-type(21):nth-of-type(odd) {
  animation-delay: -3.6s;
}

.ele:nth-of-type(22),
.ele:nth-of-type(22) .dot:before {
  animation-delay: -2.2s;
}

.ele:nth-of-type(22):nth-of-type(odd) {
  animation-delay: -3.7s;
}

.ele:nth-of-type(23),
.ele:nth-of-type(23) .dot:before {
  animation-delay: -2.3s;
}

.ele:nth-of-type(23):nth-of-type(odd) {
  animation-delay: -3.8s;
}

.ele:nth-of-type(24),
.ele:nth-of-type(24) .dot:before {
  animation-delay: -2.4s;
}

.ele:nth-of-type(24):nth-of-type(odd) {
  animation-delay: -3.9s;
}

.ele:nth-of-type(25),
.ele:nth-of-type(25) .dot:before {
  animation-delay: -2.5s;
}

.ele:nth-of-type(25):nth-of-type(odd) {
  animation-delay: -4s;
}

.ele:nth-of-type(26),
.ele:nth-of-type(26) .dot:before {
  animation-delay: -2.6s;
}

.ele:nth-of-type(26):nth-of-type(odd) {
  animation-delay: -4.1s;
}

.ele:nth-of-type(27),
.ele:nth-of-type(27) .dot:before {
  animation-delay: -2.7s;
}

.ele:nth-of-type(27):nth-of-type(odd) {
  animation-delay: -4.2s;
}

.ele:nth-of-type(28),
.ele:nth-of-type(28) .dot:before {
  animation-delay: -2.8s;
}

.ele:nth-of-type(28):nth-of-type(odd) {
  animation-delay: -4.3s;
}

.ele:nth-of-type(29),
.ele:nth-of-type(29) .dot:before {
  animation-delay: -2.9s;
}

.ele:nth-of-type(29):nth-of-type(odd) {
  animation-delay: -4.4s;
}

.ele:nth-of-type(30),
.ele:nth-of-type(30) .dot:before {
  animation-delay: -3s;
}

.ele:nth-of-type(30):nth-of-type(odd) {
  animation-delay: -4.5s;
}

.ele:nth-of-type(31),
.ele:nth-of-type(31) .dot:before {
  animation-delay: -3.1s;
}

.ele:nth-of-type(31):nth-of-type(odd) {
  animation-delay: -4.6s;
}

.ele:nth-of-type(32),
.ele:nth-of-type(32) .dot:before {
  animation-delay: -3.2s;
}

.ele:nth-of-type(32):nth-of-type(odd) {
  animation-delay: -4.7s;
}

.ele:nth-of-type(33),
.ele:nth-of-type(33) .dot:before {
  animation-delay: -3.3s;
}

.ele:nth-of-type(33):nth-of-type(odd) {
  animation-delay: -4.8s;
}

.ele:nth-of-type(34),
.ele:nth-of-type(34) .dot:before {
  animation-delay: -3.4s;
}

.ele:nth-of-type(34):nth-of-type(odd) {
  animation-delay: -4.9s;
}

.ele:nth-of-type(35),
.ele:nth-of-type(35) .dot:before {
  animation-delay: -3.5s;
}

.ele:nth-of-type(35):nth-of-type(odd) {
  animation-delay: -5s;
}

.ele:nth-of-type(36),
.ele:nth-of-type(36) .dot:before {
  animation-delay: -3.6s;
}

.ele:nth-of-type(36):nth-of-type(odd) {
  animation-delay: -5.1s;
}

.ele:nth-of-type(37),
.ele:nth-of-type(37) .dot:before {
  animation-delay: -3.7s;
}

.ele:nth-of-type(37):nth-of-type(odd) {
  animation-delay: -5.2s;
}

.ele:nth-of-type(38),
.ele:nth-of-type(38) .dot:before {
  animation-delay: -3.8s;
}

.ele:nth-of-type(38):nth-of-type(odd) {
  animation-delay: -5.3s;
}

.ele:nth-of-type(39),
.ele:nth-of-type(39) .dot:before {
  animation-delay: -3.9s;
}

.ele:nth-of-type(39):nth-of-type(odd) {
  animation-delay: -5.4s;
}

.ele:nth-of-type(40),
.ele:nth-of-type(40) .dot:before {
  animation-delay: -4s;
}

.ele:nth-of-type(40):nth-of-type(odd) {
  animation-delay: -5.5s;
}

.ele:nth-of-type(41),
.ele:nth-of-type(41) .dot:before {
  animation-delay: -4.1s;
}

.ele:nth-of-type(41):nth-of-type(odd) {
  animation-delay: -5.6s;
}

.ele:nth-of-type(42),
.ele:nth-of-type(42) .dot:before {
  animation-delay: -4.2s;
}

.ele:nth-of-type(42):nth-of-type(odd) {
  animation-delay: -5.7s;
}

.ele:nth-of-type(43),
.ele:nth-of-type(43) .dot:before {
  animation-delay: -4.3s;
}

.ele:nth-of-type(43):nth-of-type(odd) {
  animation-delay: -5.8s;
}

.ele:nth-of-type(44),
.ele:nth-of-type(44) .dot:before {
  animation-delay: -4.4s;
}

.ele:nth-of-type(44):nth-of-type(odd) {
  animation-delay: -5.9s;
}

.ele:nth-of-type(45),
.ele:nth-of-type(45) .dot:before {
  animation-delay: -4.5s;
}

.ele:nth-of-type(45):nth-of-type(odd) {
  animation-delay: -6s;
}

.ele:nth-of-type(46),
.ele:nth-of-type(46) .dot:before {
  animation-delay: -4.6s;
}

.ele:nth-of-type(46):nth-of-type(odd) {
  animation-delay: -6.1s;
}

.ele:nth-of-type(47),
.ele:nth-of-type(47) .dot:before {
  animation-delay: -4.7s;
}

.ele:nth-of-type(47):nth-of-type(odd) {
  animation-delay: -6.2s;
}

.ele:nth-of-type(48),
.ele:nth-of-type(48) .dot:before {
  animation-delay: -4.8s;
}

.ele:nth-of-type(48):nth-of-type(odd) {
  animation-delay: -6.3s;
}

.ele:nth-of-type(49),
.ele:nth-of-type(49) .dot:before {
  animation-delay: -4.9s;
}

.ele:nth-of-type(49):nth-of-type(odd) {
  animation-delay: -6.4s;
}

.ele:nth-of-type(50),
.ele:nth-of-type(50) .dot:before {
  animation-delay: -5s;
}

.ele:nth-of-type(50):nth-of-type(odd) {
  animation-delay: -6.5s;
}

.ele:nth-of-type(51),
.ele:nth-of-type(51) .dot:before {
  animation-delay: -5.1s;
}

.ele:nth-of-type(51):nth-of-type(odd) {
  animation-delay: -6.6s;
}

.ele:nth-of-type(52),
.ele:nth-of-type(52) .dot:before {
  animation-delay: -5.2s;
}

.ele:nth-of-type(52):nth-of-type(odd) {
  animation-delay: -6.7s;
}

.ele:nth-of-type(53),
.ele:nth-of-type(53) .dot:before {
  animation-delay: -5.3s;
}

.ele:nth-of-type(53):nth-of-type(odd) {
  animation-delay: -6.8s;
}

.ele:nth-of-type(54),
.ele:nth-of-type(54) .dot:before {
  animation-delay: -5.4s;
}

.ele:nth-of-type(54):nth-of-type(odd) {
  animation-delay: -6.9s;
}

.ele:nth-of-type(55),
.ele:nth-of-type(55) .dot:before {
  animation-delay: -5.5s;
}

.ele:nth-of-type(55):nth-of-type(odd) {
  animation-delay: -7s;
}

.ele:nth-of-type(56),
.ele:nth-of-type(56) .dot:before {
  animation-delay: -5.6s;
}

.ele:nth-of-type(56):nth-of-type(odd) {
  animation-delay: -7.1s;
}

.ele:nth-of-type(57),
.ele:nth-of-type(57) .dot:before {
  animation-delay: -5.7s;
}

.ele:nth-of-type(57):nth-of-type(odd) {
  animation-delay: -7.2s;
}

.ele:nth-of-type(58),
.ele:nth-of-type(58) .dot:before {
  animation-delay: -5.8s;
}

.ele:nth-of-type(58):nth-of-type(odd) {
  animation-delay: -7.3s;
}

.ele:nth-of-type(59),
.ele:nth-of-type(59) .dot:before {
  animation-delay: -5.9s;
}

.ele:nth-of-type(59):nth-of-type(odd) {
  animation-delay: -7.4s;
}

.ele:nth-of-type(60),
.ele:nth-of-type(60) .dot:before {
  animation-delay: -6s;
}

.ele:nth-of-type(60):nth-of-type(odd) {
  animation-delay: -7.5s;
}

@keyframes rotate {
  to {
    transform: none;
  }
}
