<div class="row">
  <div class="col-sm-3">
    <div *ngFor="let categoricalPhenoFilter of categoricalPhenoFilters" class="categorical-filter">
      <gpf-categorical-filter [categoricalFilterConfig]=categoricalPhenoFilter>
      </gpf-categorical-filter>
    </div>
  </div>
  <div class="col-sm-9">
    <div>
      <div *ngFor="let continuousPhenoFilter of continuousPhenoFilters" >
        <gpf-multi-continuous-filter
          [continuousFilterConfig]=continuousPhenoFilter
          [datasetId]=datasetId>
        </gpf-multi-continuous-filter>
      </div>
    </div>
  </div>
</div>

<div *ngIf="errors?.length > 0" class="alert alert-danger" [class.flashing]="flashingAlert">
  <ul>
    <li *ngFor="let error of errors">
      {{ error }}
    </li>
  </ul>
</div>
