<div *ngIf="verifPathValid" class="card" style="padding: 25px; width: 484px; left: 20px;">
  <div>
    <h4>Reset Password</h4>
  </div>
  <div>
    <div >
      <div style="width: 350px; padding-bottom: 10px;">
        <div >New password:</div>
        <div>
          <input class="form-control" [(ngModel)]="password" type="password">
        </div>
      </div>
      <div style="width: 350px; padding-bottom: 30px;">
        <div>Confirm password:</div>
        <div>
            <input class="form-control" [(ngModel)]="confirmPassword" type="password">
        </div>
      </div>
    </div>

    <div *ngIf="resetPasswordError" class="alert alert-danger">
      {{ resetPasswordError }}
    </div>
  </div>

  <div>
    <button type="button" class="btn btn-secondary" (click)="resetPassword()">
      Reset Password
    </button>
  </div>
</div>