<form *ngIf="verifPathValid" style="padding: 20px; padding-top: 15px; width: 390px; left: 20px;">
  <div style="margin-bottom: 15px">
    <h4>Reset Password</h4>
  </div>

  <div style="width: 350px; padding-bottom: 10px;">
    <label for="new-password">New password:</label>
    <input [(ngModel)]="password" autofocus class="form-control" id="new-password" name="new-password" type="password" autocomplete="new-password">
  </div>

  <div style="width: 350px; padding-bottom: 15px;">
    <label for="confirm-password">Confirm password:</label>
    <input [(ngModel)]="confirmPassword" class="form-control" id="confirm-password" name="confirm-password" type="password">
  </div>

  <div *ngIf="resetPasswordError" class="alert alert-danger">
    {{ resetPasswordError }}
  </div>

  <button type="submit" class="btn btn-secondary" (click)="resetPassword()">
    Reset Password
  </button>
</form>
