<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Reset Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="display: table;">
      <div style="display: table-row;">
        <div style="display: table-cell;">New password:</div>
        <div style="display: table-cell;">
          <input class="form-control" [(ngModel)]="password" type="password">
        </div>
      </div>
      <div style="display: table-row;">
        <div style="display: table-cell;">Confirm password:</div>
        <div style="display: table-cell;">
            <input class="form-control" [(ngModel)]="confirmPassword" type="password">
        </div>
      </div>
    </div>
    <div *ngIf="resetPasswordError" class="alert alert-danger">
      {{ resetPasswordError }}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="resetPassword()">
      Reset Password
    </button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">
      Close
    </button>
  </div>
</ng-template>
