.message {
  padding: 0.75rem 1.25rem;
  margin-top: 15px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: calc(346px - 2.5rem);
}

.message.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.message.warn {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.message.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.login-container {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10%; 
  width: max-content;
  float: none;
}

.logo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-bottom: 35px;
}

.logo {
  height: 80px;
  width: 80px;
}

.header-text {
  font-weight: 1000;
  font-family: Roboto, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;
  text-align:center
}

#password-header {
  display: flex;
  flex-direction: row;
  column-gap: 145px;
  height: 25px;
}

#forgotten-password {
  text-decoration: none;
  width: initial;
  font-size: 14px;
  font-family: Roboto;
  color: #0645ad;
  align-self: flex-end;
}

#forgotten-password:hover {
  text-decoration: underline;
}

a:visited {
  color: #3981c0;
}

.login-data-label {
  font-size: 16px;
  font-family: Roboto;
}

.login-data-label:nth-child(1) {
  align-self: flex-end;
}

.login-button {
  cursor: pointer;
  color: #fff;
  background-color: #2a6395;
  float: left;
  border: 0px;
  margin-top: 20px;
  width: 346px;
}

input {
  width: 320px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: 0 12px 0 12px;
  font-size: large;
  height: 40px;
  margin-bottom: 10px;
  font-family: Roboto;
}

input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
