.form-control {
  border-radius: 0;
}

.form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

tr {
  background-color: #fff;
}

label {
  border: 1px solid #dedede;
}

.cdk-drag-placeholder {
  opacity: 0%;
}

tr > td {
  padding-bottom: 8px;
}

#check-uncheck-all-button {
  border-radius: 0;
}
