<div style="padding: 10px; min-width: 400px; display: grid;">
  <div style="width: 100%; padding-bottom: 5px">
    <button
      id="check-uncheck-all-button"
      type="button"
      class="btn btn-default"
      style="float: left; position: relative; width: 30%; margin-right: 2%"
      (click)="toggleCheckingAll()">{{ checkUncheckAllButtonName }}</button>
    <div class="search-input-wrapper" style="width: 68%">
      <input
        #searchInput
        class="search-input form-control"
        type="text"
        name="search"
        [(ngModel)]="searchText"
        (ngModelChange)="filterItems($event)"
        autocomplete="off" />
      <div class="search-placeholder-wrapper">
        <span class="search-placeholder-icon"></span>
        <span class="search-placeholder-text">Search</span>
      </div>
    </div>
  </div>

  <table cdkDropList (cdkDropListDropped)="drop($event)">
    <tr cdkDrag *ngFor="let item of filteredItems" style="height: 30px">
      <td>
        <label style="width: 100%">
          <input type="checkbox"
            [checked]="selectedItems.has(item)"
            (change)="toggleItem(item, $event)"
          />
          <span style="padding-left: 10px">{{ item }}</span>
        </label>
      </td>
    </tr>
    <td>
      <button
        type="submit"
        class="btn btn-secondary"
        style="width: 100%"
        (click)="apply()">Apply</button>
    </td>
  </table>
</div>
