<div style="padding: 10px; min-width: 400px; display: grid;">
  <div style="width: 100%; padding-bottom: 5px">
    <button type="button" class="btn btn-default" style="float: left; position: relative; width: 30%; margin-right: 2%;" (click)="toggleCheckingAll()">{{checkUncheckAllButtonName}}</button>
    <input #searchInput class="form-control" type="text" style="width: 68%;" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search...">
  </div>

  <table>
    <tr *ngFor="let item of checkboxDataArray | filter:searchText" style="height: 30px;">
      <td>
        <label style="width: 100%">
          <input type="checkbox" [checked]="item.isChecked" [(ngModel)]="item.isChecked">
          <span style="padding-left: 10px;">{{item.id}}</span>
        </label>
      </td>
    </tr>
    <td>
      <button type="submit" [disabled]="!isSelectionValid()" class="btn btn-secondary" style="width: 100%;" (click)="apply()">Apply</button>
    </td>
  </table>
</div>