<div>
  <div *ngFor="let familyObject of (familyObjectArray | async)?.objects"
    class="float-left family-counter-container family-counters-font">
    <span class="portion-separator"></span>
    <span class="gender-icon female" [style.background]="familyObject.color" [class.inverted]="shouldInvert(familyObject)">{{ familyObject.count?.female || 0 }}</span>
    <span class="separator">/</span>
    <span class="gender-icon male" [style.background]="familyObject.color" [class.inverted]="shouldInvert(familyObject)">{{ familyObject.count?.male || 0 }}</span>
    <span class="separator">/</span>
    <span>{{ familyObject.count?.all || 0 }}</span>
  </div>
</div>
