.family-counters-font {
  font-size: 0.9em;
}

.gender-icon {
  border: 1px solid black;
  height: 35px;
  width: 35px;
  display: inline-block;
}

.gender-icon.inverted {
  border: 1px solid white;
  color: white;
}

.gender-icon.female {
  border-radius: 40px;
}

.portion-separator {
  display: inline-block;
  width: 20px;
}

.separator {
  /*display: inline-block;*/
  font-size: 28px;
  line-height: 40px;
  /*height: 35px;*/
}

.family-counter-container {
  line-height: 35px;
  text-align: center;
}
