<div class="genome-preview">
    <div *ngIf="genotypePreviewsArray">
        <p class="overview">
          {{genotypePreviewsArray.total}} variants selected ({{ genotypePreviewsArray.genotypePreviews.length }} shown)
        </p>
        <gpf-table [dataSource]="genotypePreviewsArray.genotypePreviews" style="display: inline-block">
            <gpf-table-column>
                <gpf-table-header caption="family">
                </gpf-table-header>
                <gpf-table-header>
                    <gpf-table-subheader caption="familyId" field="familyId">
                    </gpf-table-subheader>
                    <gpf-table-subheader caption="stdy" field="study">
                    </gpf-table-subheader>
                </gpf-table-header>
                <gpf-table-cell-content field="familyId"></gpf-table-cell-content>
                <gpf-table-cell-content>
                    <span *gpfTableCellContent="let data">
                        <a target="_blank" href="">{{data.study}}</a>
                    </span>
                </gpf-table-cell-content>
            </gpf-table-column>
            <gpf-table-column>
                <gpf-table-header caption="variant">
                </gpf-table-header>
                <gpf-table-header>
                    <gpf-table-subheader caption="loc" field="location" [comparator]=locationComparator>
                    </gpf-table-subheader>
                    <gpf-table-subheader caption="var" field="variant"></gpf-table-subheader>
                </gpf-table-header>
                <gpf-table-cell-content>
                    <span *gpfTableCellContent="let data">
                        <a target="_blank" href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&amp;position=chr{{data.location}}">{{data.location}}</a>
                    </span>
                </gpf-table-cell-content>
                <gpf-table-cell-content field="variant"></gpf-table-cell-content>
            </gpf-table-column>
            <gpf-table-column>
                <gpf-table-header caption="genotype">
                </gpf-table-header>
                <gpf-table-header>
                    <gpf-table-subheader caption="ch" field="ch"></gpf-table-subheader>
                    <gpf-table-subheader caption="par" field="par"></gpf-table-subheader>
                </gpf-table-header>
                <gpf-table-cell-content>
                    <span *gpfTableCellContent="let data">
                        <gpf-pedigree-chart [pedigreeData]=data.pedigree></gpf-pedigree-chart>
                    </span>
                </gpf-table-cell-content>
            </gpf-table-column>
            <gpf-table-column>
                <gpf-table-header caption="effect">
                </gpf-table-header>
                <gpf-table-header>
                    <gpf-table-subheader caption="type" field="worstEffectType"></gpf-table-subheader>
                    <gpf-table-subheader caption="gene" field="genes"></gpf-table-subheader>
                </gpf-table-header>
                <gpf-table-cell-content field="worstEffectType"></gpf-table-cell-content>
                <gpf-table-cell-content field="genes"></gpf-table-cell-content>
            </gpf-table-column>
            <gpf-table-column>
                <gpf-table-header caption="allele freq">
                </gpf-table-header>
                <gpf-table-header>
                    <gpf-table-subheader caption="SSC" field="SSCfreq"></gpf-table-subheader>
                    <gpf-table-subheader caption="EVS" field="EVSfreq"></gpf-table-subheader>
                    <gpf-table-subheader caption="E65" field="E65freq"></gpf-table-subheader>
                </gpf-table-header>
                <gpf-table-cell-content>
                    <span *gpfTableCellContent="let data">{{data.SSCfreq === null ? "&nbsp;" : "SSC " + data.SSCfreq + "%"}}</span>
                </gpf-table-cell-content>
                <gpf-table-cell-content>
                    <span *gpfTableCellContent="let data">{{data.EVSfreq === null ? "&nbsp;" : "EVS " + data.EVSfreq + "%"}}</span>
                </gpf-table-cell-content>
                <gpf-table-cell-content>
                    <span *gpfTableCellContent="let data">{{data.E65freq === null ? "&nbsp;"  : "E65 " +  data.E65freq + "%"}}</span>
                </gpf-table-cell-content>
            </gpf-table-column>

            <gpf-table-column *ngFor="let column of phenoColumns">
                <gpf-table-header caption="{{ column.name }}">
                </gpf-table-header>
                <gpf-table-header>
                    <gpf-table-subheader *ngFor="let slot of column.slots" caption="{{ slot.name }}"
                      [comparator]=additionalDataComparator(slot.id)>
                    </gpf-table-subheader>
                </gpf-table-header>
                <gpf-table-cell-content *ngFor="let slot of column.slots">
                  <span *gpfTableCellContent="let data">{{ data.additionalData[slot.id] }}</span>
                </gpf-table-cell-content>
            </gpf-table-column>

            <div *gpfTableLegend style="text-align: left; border: 1px solid #dddddd; padding: 5px">
              <div *ngFor="let legendItem of genotypePreviewsArray.legend">
                <span class="pedigree-icon" [style.background-color]="legendItem.color"></span>
                {{ legendItem.name }}
              </div>
            </div>
        </gpf-table>
    </div>
</div>
