gpf-table {
	display: inline-block;
	width: 100%;
	margin-bottom: 50px;
}

.pedigree-icon {
    margin-bottom: -1px;
    margin-right: 3px;
    margin-left: 3px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 0.1px solid #aaaaaa;
}

.genome-preview {
	margin-top: 20px;
}

