.astext {
  font-size : 25px;
  background:none;
  border:none;
  margin:0;
  padding-right:5px;
  outline:none;
}

.header-item {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 15px; 
}
