<div class="card">
  <div
    class="card-header card-title">
    <span class="header-item">
      <button
        type="button"
        id="undo-button"
        class="astext"
        (click)="undo()"
        [disabled]="!zoomHistory?.canGoBackward"
        title="Undo (Ctrl+Z or Z)"
        style="padding-left: 20px; font-weight: bold">
        &#x021FD;
      </button>
      <button
        type="button"
        id="redo-button"
        class="astext"
        (click)="redo()"
        [disabled]="!zoomHistory?.canGoForward"
        title="Redo (Ctrl+Y or Y)"
        style="padding-left: 7px; font-weight: bold">
        &#x021FE;
      </button>
      <button
        type="button"
        id="reset-button"
        class="astext"
        (click)="reset()"
        title="Reset (Double-click or 5)"
        style="padding-left: 12px">
        &#x021BB;
      </button>
    </span>

    <span class="header-item" style="margin-left: -15%">
      <label style="font-size: 17px; margin-left: 30px">
        <input type="checkbox" [checked]="!showTranscripts" (change)="showTranscripts = !showTranscripts; redraw()" />
        <span class="checkbox-option">Hide transcripts</span>
      </label>
      <label style="font-size: 17px; margin-left: 10px">
        <input #checkbox type="checkbox" [checked]="condenseIntrons" (change)="toggleCondenseIntrons()" />
        <span class="checkbox-option">Condense introns</span>
      </label>
    </span>

    <span id="gene-title" class="header-item" style="font-size: 20px; font-weight: bold">
      <span [attr.title]="'Gene symbol: ' + gene.geneSymbol + '\n' + chromosomesTitle">{{ gene?.geneSymbol }}</span>
    </span>

    <span class="header-item">
      <span style="margin-right: 17px; font-size: 17px">
        <span>Summary alleles:</span>
        <span
          id="summary-alleles-count"
          style="margin-left: 7px; background-color: #eeeeee; padding: 2px; border: 1px solid rgba(0, 0, 0, 0.125)">
          <span>{{ this.variantsArray?.totalSummaryAllelesCount }} / {{ this.allVariantsCounts[0] }}</span>
        </span>
      </span>
      <span style="font-size: 17px"
        >Family variants:
        <span
          id="family-variants-count"
          style="margin-left: 7px; background-color: #eeeeee; padding: 2px; border: 1px solid rgba(0, 0, 0, 0.125)">
          <span>{{ this.variantsArray?.totalFamilyVariantsCount }} / {{ this.allVariantsCounts[1] }}</span>
        </span>
      </span>
    </span>
  </div>
  <div id="svg-container"></div>
</div>
