.astext {
  font-size: 25px;
  background: none;
  border: none;
  margin: 0;
  padding-right: 5px;
  outline: none;
}

.header-item {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 15px;
}

.checkbox-option {
  margin-left: 5px;
}

label {
  margin-left: 20px;
  padding: 7px;
  font-size: 17px;
  user-select: none;
}

.gene-plot-header {
  padding: 0px;
  position: relative;
  height: 40px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
}