.gene-plot-header-icon {
  font-size: 24px;
  background: none;
  border: none;
  margin: 0;
  outline: none;
  padding: 0;
  margin-left: 16px;
}

.header-item {
  display: flex;
  align-items: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 8px;
}

.checkbox-option {
  margin-left: 5px;
}

label {
  margin-left: 18px;
  user-select: none;
}

.gene-plot-header {
  padding: 0;
  position: relative;
  height: 43px;
  display: flex;
  align-content: space-between;
  flex-flow: column wrap;
  overflow: hidden;
}

#summary-alleles-count,
#family-variants-count {
  display: inline-grid;
  min-width: 150px;
  text-align: center;
}

#summary-alleles-count span,
#family-variants-count span {
  margin-left: 8px;
  background-color: #eee;
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 12.5%);
}
