.table-container {
  padding: 25px;
  white-space: nowrap;
  position: relative;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  box-sizing: border-box;
  flex: 1;
}

.row:nth-child(odd) {
  background-color: #fafafa;
}

.row:hover {
  background-color: #edf3ff;
}

.row-highlight {
  background-color: #ffffd6 !important;
}

.row-highlight:nth-child(even) {
  background-color: #f7f7cb !important;
}

.row-highlight:hover {
  background-color: #e4e9d7 !important;
}

.header {
  border-top: 1px solid #ddd;
}

.cell:nth-child(1) {
  border-left: 1px solid #ddd;
}

.cell {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  user-select: none;
  margin: 0;
  text-align: center;
}

.header > .cell {
  background-color: #eee;
}

multiple-select-menu {
  top: 50px;
}

gpf-sorting-buttons {
  margin-left: 5px;
  position: relative;
  top: 5.5px;
}

.dropdown-span {
  top: 100px;
  left: 100px;
  position: absolute;
}

.dropdown-toggle::after {
  content: none;
}

#gene-search-input {
  border-radius: 0;
}

#gene-search-input:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}
