<div class="table-container">
  <div class="header main-header">
    <ng-container *ngTemplateOutlet="recursiveListTmpl; context: { columns: config.columns }"></ng-container>
  </div>

  <ng-template #recursiveListTmpl let-columns="columns">
    <div
      class="header-cell"
      *ngFor="let column of columns"
      [ngStyle]="{ 'grid-template-rows': column.columns.length > 0 ? 'auto auto' : 'auto' }">
      <div class="header-cell-title" [ngClass]="{ leaf: column.columns.length === 0 }">
        {{ column.id }}
      </div>

      <div class="header" *ngIf="column.columns.length > 0">
        <ng-container *ngTemplateOutlet="recursiveListTmpl; context: { columns: column.columns }"></ng-container>
      </div>
    </div>
  </ng-template>
</div>
