<div *ngIf="config" class="table-container">
  <div class="header main-header">
    <ng-container
      *ngTemplateOutlet="recursiveListTmpl; context: { columns: config.columns, headerDepth: 0 }"></ng-container>
  </div>

  <ng-template #recursiveListTmpl let-columns="columns" let-headerDepth="headerDepth">
    <ng-container *ngFor="let column of columns">
      <div
        *ngIf="column.visible"
        class="header-cell"
        [ngStyle]="{ 'grid-template-rows': column.columns.length > 0 ? 'auto auto' : 'auto' }">
        <div
          class="cell header-title-cell"
          [ngClass]="{ leaf: column.columns.length === 0 || !column.visible }"
          [ngStyle]="{ top: headerDepth + 'px' }">
          {{ column.displayName }}
          <div *ngIf="column.id === 'geneSymbol'">
            <input
              #geneSearchInput
              (keyup)="sendKeystrokes(geneSearchInput.value)"
              id="gene-search-input"
              class="search-input form-control"
              autocomplete="off"
              type="text" />
            <div class="search-placeholder-wrapper" *ngIf="geneSearchInput.value === ''">
              <span class="search-placeholder-text">Search</span>
            </div>
            <span
              class="clear-search-icon"
              *ngIf="geneSearchInput.value !== ''"
              (click)="geneSearchInput.value = ''; sendKeystrokes('')">
            </span>
          </div>
          <ng-container *ngIf="column.columns.length !== 0">
            <button
              #columnFilteringButton
              [attr.id]="column.id + '-column-filtering-button'"
              class="dropdown-toggle btn navbar-toggler"
              (click)="openDropdown(column)">
              &#9776;
            </button>
          </ng-container>
          <gpf-sorting-buttons
            *ngIf="column.sortable"
            class="sorting-buttons"
            [id]="column.id"
            (sortEvent)="sort($event.id, $event.order)"></gpf-sorting-buttons>
        </div>

        <div class="header" *ngIf="column.columns.length > 0">
          <ng-container
            *ngTemplateOutlet="
              recursiveListTmpl;
              context: { columns: column.columns, headerDepth: headerDepth + 25 }
            "></ng-container>
        </div>
        <ng-container *ngIf="column.columns.length === 0 || !column.visible">
          <div *ngFor="let row of genes; let i = index" [ngClass]="['cell', 'row-'+i]" (click)="highlightRow(i)">
            {{ row[column.id] }}
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-template>
</div>

<span #dropdownSpan class="dropdown-span" ngbDropdown>
  <button ngbDropdownToggle style="display: none"></button>
  <!-- REFACTOR itemsSource -->
  <gpf-multiple-select-menu
    class="multiple-select-menu"
    ngbDropdownMenu
    (applyEvent)="filterColumns($event)"></gpf-multiple-select-menu>
</span>
