.table-container {
  padding: 10px;
}

.table-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.table-row:nth-child(odd) {
  background-color: #fafafa;
}

.table-row:hover {
  background-color: #edf3ff;
}

.row-highlight {
  background-color: #ffffd6 !important;
}

.row-highlight:nth-child(odd) {
  background-color: #f7f7cb !important;
}

.row-highlight:hover {
  background-color: #e4e9d7 !important;
}

.header {
  border-top: 1px solid #ddd;
}

.cell:nth-child(1) {
  border-left: 1px solid #ddd;
}

.cell {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  user-select: none;
  text-align: center;
}

.header > .cell {
  background-color: #eee;
}

.header-cell {
  max-width: 75%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

multiple-select-menu {
  top: 50px;
}

gpf-sorting-buttons {
  margin-left: 5px;
  position: relative;
  top: 5.5px;
}

.dropdown-span {
  top: 100px;
  left: 100px;
  position: absolute;
}

.dropdown-toggle::after {
  content: none;
}

#gene-search-input {
  border-radius: 0;
}

#gene-search-input:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

#highlighted-genes {
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  z-index: 101;
  padding: 8px;
  width: 250px;
}

.gene-cell,
.gene-cell:hover {
  color: #2372c6;
  cursor: pointer;
}

.gene-cell:hover {
  text-decoration: underline;
}