<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Gpfjs</title>

  <base href="/gpfjs/"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link href="/static/gpfjs/styles.79fe8445f93ad2d0c63a.bundle.css" rel="stylesheet"/></head>
<body>
  <gpf-root>Loading...</gpf-root>
<script type="text/javascript" src="/static/gpfjs/inline.88d05b651b9195bd78b6.bundle.js"></script><script type="text/javascript" src="/static/gpfjs/scripts.e1b2a263308a200bb80f.bundle.js"></script><script type="text/javascript" src="/static/gpfjs/vendor.24105914be0b4e029d56.bundle.js"></script><script type="text/javascript" src="/static/gpfjs/main.e06d7b970378b23ea1fd.bundle.js"></script></body>
</html>
