<div class="card">
  <div class="card-header card-title">{{ presentInRole.name }}</div>
  <div class="card-block">
    <div class="btn-group btn-group-sm">
      <button (click)="selectAll()"
        class="btn btn-default">All</button>
      <button (click)="selectNone()"
        class="btn btn-default">None</button>
    </div>
    <div class="checkbox" *ngFor="let role of presentInRole.roles">
      <label>
        <input #roleCheckbox
          type="checkbox"
          [checked]="presentInRoleSelector.selected.has(role)"
          (change)="presentInRoleCheckValue(role, roleCheckbox.checked)">
        {{ role }}
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input #neitherCheckbox
          type="checkbox"
          [checked]="presentInRoleSelector.selected.has('neither')"
          (change)="presentInRoleCheckValue('neither', neitherCheckbox.checked)">
        neither
      </label>
    </div>
  </div>

  <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
</div>
