<div>
  <gpf-checkbox-list
    [title]="'Present in Parent'"
    [items]="presentInParentValues"
    [selectedItems]="selectedValues"
    (itemsUpdateEvent)="updatePresentInParent($event)">
  </gpf-checkbox-list>

  @if (!selectedValues.size) {
    <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
  }

  <div>
    @if (hasZygosity) {
      <gpf-zygosity-filter [parentComponent]="'presentInParent'" style="width: 30%"></gpf-zygosity-filter>
    }

    @if (
      selectedValues.has('mother only') || selectedValues.has('father only') || selectedValues.has('mother and father')
    ) {
      <div>
        <em id="rarity-label">Rarity:</em>
        <div>
          @for (rarityType of rarityTypes; track rarityType) {
            <label id="rarity-options">
              <input
                type="radio"
                (change)="updateRarityType(rarityType)"
                value="rarityType"
                [checked]="selectedRarityType === rarityType" />
              <span style="margin-left: 5px">{{ rarityType }}</span>
            </label>
          }
        </div>
        @if (selectedRarityType === 'rare' || selectedRarityType === 'interval') {
          <div class="row">
            @if (selectedRarityType === 'interval') {
              <div id="interval-fields">
                <div class="field-wrapper">
                  <div class="label-field-wrapper">
                    <sup>From:</sup>
                    <input
                      type="number"
                      step="0.01"
                      class="fields"
                      [min]="0"
                      [max]="rarityIntervalEnd"
                      [ngModel]="rarityIntervalStart"
                      (ngModelChange)="updateRarityIntervalStart($event)" />
                  </div>
                  <span class="percent">%</span>
                </div>
                @if (selectedRarityType === 'interval') {
                  <span id="range-dash" class="material-symbols-outlined sm">maximize</span>
                }
                <div class="field-wrapper">
                  <div class="label-field-wrapper">
                    <sup>To:</sup>
                    <input
                      type="number"
                      step="0.01"
                      class="fields"
                      [min]="rarityIntervalStart"
                      [max]="100"
                      [ngModel]="rarityIntervalEnd"
                      (ngModelChange)="updateRarityIntervalEnd($event)" />
                  </div>
                  <span class="percent">%</span>
                </div>
              </div>
            }
            @if (selectedRarityType === 'rare') {
              <div id="max-field">
                <div class="field-wrapper">
                  <div class="label-field-wrapper">
                    <sup style="margin-right: 5px">Max:</sup>
                    <input
                      type="number"
                      step="0.01"
                      class="fields"
                      [min]="rarityIntervalStart"
                      [max]="100"
                      [ngModel]="rarityIntervalEnd"
                      (ngModelChange)="updateRarityIntervalEnd($event)" />
                  </div>
                  <span class="percent">%</span>
                </div>
              </div>
            }
          </div>
        }
        <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
      </div>
    }
  </div>
</div>
