#rarity-label {
  font-size: 14px;
}

#rarity-options {
  margin-left: 5px;
  display: flex;
}

#interval-fields {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 85px 30px 85px;
  grid-template-rows: 30px;
}

#range-dash {
  padding-left: 9px;
  padding-top: 13px;
}

#max-field {
  margin-top: 20px;
  height: 30px;
}

.fields {
  width: 75px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  padding: 0.18rem 0 0.18rem 0.375rem;
}

.fields:focus {
  box-shadow: 0 0 0 3px #c2dbfe;
  border-color: #a4c9fe;
  outline: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: 30px;
}

.percent {
  font-size: 18px;
  margin-left: 3px;
}

sup {
  top: -0.5rem;
  font-style: italic;
  color: #848484;
}

.label-field-wrapper {
  display: flex;
  flex-direction: column;
}

.field-wrapper {
  display: flex;
}

:host::ng-deep .alert {
  margin-top: 0;
  margin-bottom: 10px;
}
