<div class="grid-container">
  <div class="grid-header">Query name</div>
  <div class="grid-header">Query description</div>
  <div class="grid-header">Actions</div>
  <ng-container *ngFor="let query of queries">
    <div class="grid-cell" id="query-name-cell">{{ query.name }}</div>

    <div class="grid-cell" id="query-description-cell">{{ query.description }}</div>

    <div class="grid-cell" id="actions-cell">
      <a href="{{ query.url }}" title="Load" id="load-button" class="action-button">
        <i class="fa fa-external-link" aria-hidden="true"></i>
      </a>
      <button [cdkCopyToClipboard]="query.url" title="Copy link" id="copy-link-button" class="action-button">
        <i class="fa fa-link" aria-hidden="true"></i>
      </button>
      <button (click)="deleteQuery(query.uuid)" title="Delete" id="delete-button" class="action-button">
        <i aria-hidden="true" class="fa fa-thin fa-times"></i>
      </button>
    </div>
  </ng-container>
</div>
