<div class="phenotypes-card card">
    <div class="card-header card-title">Phenotypes</div>
    <div class="card-block">
        <div class="btn-group btn-group-sm">
          <button (click)="selectAll()" 
            class="btn btn-default">All</button>
          <button (click)="selectNone()" 
          class="btn btn-default">None</button>
        </div>
        <div *ngIf="phenotypes">
          <div *ngFor="let pheno of phenotypes; let i=index" 
                class="checkbox">
              <label>
                <input type="checkbox" [(checked)]="phenotypesCheck[i]">
                <span 
                    class="phenotype-icon" 
                    [style.background-color]="pheno.color"></span>
                    {{pheno.description}}
              </label>
          </div>
        </div>
    </div>
</div>
