<md-card class="genotype-card phenotype-card">
    <md-card-header>
        <md-card-title><h4>Phenotypes</h4></md-card-title>
    </md-card-header>
    <md-card-content>
        <div>
            <md-checkbox>
                <span class="phenotype-icon" style="background-color: #e35252;"></span>
                autism
            </md-checkbox>
        </div>
        <div>
            <md-checkbox>
                <span class="phenotype-icon"></span>
                unaffected
            </md-checkbox>
        </div>
    </md-card-content>
</md-card>