<div *ngIf="backgrounds" style="display:inline-block; width: 300px; padding: 15px">
  Background Models:
  <select class="form-control" style="width: 100%" [ngModel]="background" (ngModelChange)='changeBackground($event)'>
    <option *ngFor="let background of backgrounds" [ngValue]="background">{{ background.id }}</option>
  </select>
</div>
<div *ngIf="countings" style="display:inline-block; width: 300px; padding: 15px">
  Counting Models:
  <select class="form-control" style="width: 100%" [ngModel]="counting" (ngModelChange)='changeCounting($event)'>
    <option *ngFor="let counting of countings" [ngValue]="counting">{{ counting.id }}</option>
  </select>
</div>

<gpf-errors-alert [errors]="errors"></gpf-errors-alert>
