<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <ng-content select=".gpf-tabset-left"></ng-content>
  <ul [class]="'nav nav-' + type + ' justify-content-' + justify" style="width: 1140px" role="tablist">
    <li class="nav-item" *ngFor="let tab of tabs">
      <a [id]="tab.id" class="nav-link" [class.active]="tab.id === activeId" [class.disabled]="tab.disabled"
        href (click)="!!select(tab.id)" role="tab" [attr.aria-controls]="tab.id + '-panel'" [attr.aria-expanded]="tab.id === activeId">
        {{tab.title}}<template [ngTemplateOutlet]="tab.titleTpl?.templateRef"></template>
      </a>
    </li>
  </ul>
  <div style="position: absolute; right: 0px">
    <ng-content select=".gpf-tabset-right"></ng-content>
  </div>
</nav>

<div class="tab-content">
  <template ngFor let-tab [ngForOf]="tabs">
    <div class="tab-pane active" *ngIf="tab.id === activeId" role="tabpanel"
      [attr.aria-labelledby]="tab.id" id="{{tab.id}}-panel"
      [attr.aria-expanded]="tab.id === activeId">
      <template [ngTemplateOutlet]="tab.contentTpl.templateRef"></template>
    </div>
  </template>
</div>
