<nav class="navbar navbar-toggleable-md navbar-light navbar-expand-lg bg-light">

  <div class="form-block-title">
    <ng-content select=".gpf-tabset-left"></ng-content>
  </div>
  <ul [class]="'nav nav-pills' + ' justify-content-' + justify" style="width: 1140px" role="tablist">
    <li class="nav-item" *ngFor="let tab of tabs">
      <a [id]="tab.id" class="nav-link" [class.active]="tab.id === activeId" [class.disabled]="tab.disabled"
        href (click)="!!select(tab.id)" role="tab" [attr.aria-controls]="tab.id + '-panel'" [attr.aria-expanded]="tab.id === activeId">
        {{tab.title}}<ng-template [ngTemplateOutlet]="tab.titleTpl?.templateRef"></ng-template>
      </a>
    </li>
  </ul>
  <div style="position: absolute; right: 0px">
    <ng-content select=".gpf-tabset-right"></ng-content>
  </div>
</nav>

<div *ngIf="activeTab?.contentTpl?.templateRef" class="tab-content">
   <div class="tab-pane active" role="tabpanel"
     [attr.aria-labelledby]="activeTab.id" id="{{activeTab.id}}-panel"
     [attr.aria-expanded]="true">
     <ng-template #ngTemplateOutletContainer [ngTemplateOutlet]="activeTab.contentTpl.templateRef"></ng-template>
   </div>
</div>
