<div style="padding: 20px" id="pheno-filters-panel">
  <div class="row">
    @if (categoricalFilters?.length !== 0) {
      <div class="col-sm-3">
        @for (categoricalFilter of categoricalFilters; track categoricalFilter) {
          <div class="categorical-filter">
            <gpf-categorical-filter
              [isFamilyFilters]="isFamilyFilters"
              [categoricalFilter]="categoricalFilter"></gpf-categorical-filter>
          </div>
        }
      </div>
    }
    <div style="margin: auto" class="col-sm-9">
      <div>
        @for (continuousFilter of continuousFilters; track continuousFilter) {
          <div>
            <gpf-multi-continuous-filter
              [continuousFilter]="continuousFilter"
              [isFamilyFilters]="isFamilyFilters"
              [datasetId]="selectedDatasetId">
            </gpf-multi-continuous-filter>
          </div>
        }
      </div>
    </div>
  </div>
  <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
</div>
