.variant-report-block {
	padding: 20px;
	border: 1px solid rgba(0,0,0,.125);
	background-color: #fafafa;
}

.table-centered,
.table-centered th,
.table-centered td {
  text-align: center;
}

.container {
  font-size: 0.9em;
}

.centered {
  text-align: center;
}

.variants-report-content {
  width: 100%;
  padding: 30px;
}

.variants-report-selector {
  width: 20%;
  padding: 20px;
}

.pedigree-icon {
  margin-bottom: -1px;
  margin-right: 3px;
  margin-left: 3px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 0.1px solid #aaaaaa;
}

th.rotate > div {
  display: inline-block;
  position: relative;
  height: 210px;
  width: auto;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  writing-mode: vertical-lr;
  filter: flipv fliph;
  transform: rotate(180deg);
}

th.rotate {
  padding-bottom: 10px;
  vertical-align: bottom;
}