.effect-type-group-row {
  background-color: #dadada;
}

tr:hover {
  background-color: #edf3ff;
}

.effect-type-group-row:hover {
  background-color: #e3e5eb;
}

.variant-report-block {
  padding: 20px;
  border: 1px solid rgba(0 0 0 12.5%);
  background-color: #fafafa;
}

.table-centered,
.table-centered th,
.table-centered td {
  text-align: center;
}

.centered {
  text-align: center;
}

.variants-report-content {
  width: 100%;
  padding: 20px 30px 30px;
}

.variants-report-selector {
  width: 230px;
  padding: 16px 0;
}

th.rotate > div {
  display: inline-block;
  position: relative;
  height: 180px;
  width: auto;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  filter: flipv fliph;
  transform: rotate(180deg);
}

th.rotate {
  padding-bottom: 10px;
  vertical-align: bottom;
}

.column-header {
  word-break: break-word;
  writing-mode: vertical-rl;
  max-height: 210px;
  text-align: left;
  padding-bottom: 10px;
}

table {
  table-layout: fixed;
}

.groups-title {
  position: relative;
  text-align: left;
  padding-left: 12px;
  top: 25px;
}

.sex-title {
  position: relative;
  text-align: right;
  padding-right: 11px;
  top: -25px;
}

.first-header-cell {
  border-bottom: 1px;
  background-image:
    linear-gradient(
      to top right,
      white 49%,
      #dee2e6,
      white 51%
    );
}

#de-novo-variants-legend-report {
  padding-bottom: 10px;
}

#de-novo-variants-legend-report span {
  color: #6c757d !important;
  font-size: 80%;
  font-weight: 400;
}

#legend-wrapper {
  position: sticky;
  float: right;
  margin-top: 8px;
  margin-right: 16px;
  bottom: 10px;
}

.docked {
  width: 60px;
  background: #fff;
  padding: 10px;
  opacity: 75%;
  margin: -20px;
  left: 100%;
  margin-left: -50px;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  z-index: 99;
}

.effect-type-data-values {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

#total-number-of-families {
  text-align: center;
}

#families-by-number,
#families-by-pedigree {
  padding-bottom: 55px;
}

h5 {
  margin-bottom: 0;
}

#tags-wrapper {
  padding-bottom: 16px;
}

ng-multiselect-dropdown > span.selected-item {
  display: block;
  padding: 3px 26px 3px 5px;
  width: auto;
  border: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

#tags-selector {
  padding-bottom: 16px;
}

:host::ng-deep.dropdown-multiselect__caret {
  display: none !important;
}

:host::ng-deep.selected-item {
  color: black !important;
  background-color: #eee !important;
  border: 1px solid #ddd !important;
  box-shadow: none !important;
  max-width: unset !important;
  margin: 2px !important;
  text-align: center;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 28px;
  display: flex;
}

:host::ng-deep.selected-item span {
  width: 90% !important;
}

:host::ng-deep.selected-item a {
  color: black !important;
  opacity: 50% !important;
  float: right;
}

:host::ng-deep.dropdown-btn {
  min-height: 44px !important;
  padding: 5px !important;
  display: flex !important;
  flex-wrap: wrap !important;
  align-content: center !important;
}
