.effect-type-group-row {
  background-color: #dadada;
}

tr:hover {
  background-color: #edf3ff;
}

.effect-type-group-row:hover {
  background-color: #e3e5eb;
}

.variant-report-block {
  padding: 20px;
  border: 1px solid rgba(0 0 0 12.5%);
  background-color: #fafafa;
}

.table-centered,
.table-centered th,
.table-centered td {
  text-align: center;
}

.centered {
  text-align: center;
}

.variants-report-content {
  width: 100%;
  padding: 30px;
}

.variants-report-selector {
  width: 20%;
  padding: 20px;
}

th.rotate > div {
  display: inline-block;
  position: relative;
  height: 180px;
  width: auto;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  filter: flipv fliph;
  transform: rotate(180deg);
}

th.rotate {
  padding-bottom: 10px;
  vertical-align: bottom;
}

.column-header {
  word-break: break-word;
  writing-mode: vertical-rl;
  max-height: 210px;
  text-align: left;
  padding-bottom: 10px;
}

table {
  table-layout: fixed;
}

.groups-title {
  position: relative;
  text-align: left;
  padding-left: 12px;
  top: 25px;
}

.sex-title {
  position: relative;
  text-align: right;
  padding-right: 11px;
  top: -25px;
}

.first-header-cell {
  border-bottom: 1px;
  background-image:
    linear-gradient(
      to top right,
      white 49%,
      #dee2e6,
      white 51%
    );
}

.legend-report span {
  color: #6c757d !important;
  font-size: 80%;
  font-weight: 400;
}

.legend {
  position: fixed;
  bottom: 100px;
  right: 100px;
  background-color: white;
  text-align: left;
  border: 1px solid #ddd;
  padding: 5px;
}

.docked {
  width: 60px;
  background: #fff;
  padding: 10px;
  opacity: 75%;
  margin: -20px;
  left: 100%;
  margin-left: -50px;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  z-index: 99;
}

.effect-type-data-values {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
}
