<input
  matAutocompleteOrigin
  #categoricalValuesSearch="matAutocompleteOrigin"
  #categoricalValuesSearchTrigger="matAutocompleteTrigger"
  matInput
  [matAutocomplete]="categoricalValuesDropdown"
  [matAutocompleteConnectedTo]="categoricalValuesSearch"
  #searchBox
  id="search-box"
  placeholder="Search categorical value"
  autocomplete="off"
  [(ngModel)]="searchCategoricalValue"
  (keyup)="searchBoxInput$.next(searchCategoricalValue)"
  spellcheck="false"
  (focus)="categoricalValuesSearchTrigger.openPanel()"
  (keydown.enter)="categoricalValuesSearchTrigger.closePanel()" />

<mat-autocomplete #categoricalValuesDropdown="matAutocomplete" class="values-suggestions-dropdown">
  <mat-option
    *ngFor="let suggestion of valueSuggestions"
    class="dropdown-item"
    type="button"
    (click)="selectCategoricalValue(suggestion)"
    (onSelectionChange)="selectCategoricalValue(suggestion)"
    [value]="suggestion">
    <span>{{ suggestion }}</span>
  </mat-option>
</mat-autocomplete>

<div id="values-list">
  <span>Selected categorical values: </span>
  <div *ngFor="let selectedValue of selectedValues">
    <button (click)="removeFromSelected(selectedValue)" class="remove-value">
      <span [id]="'remove-' + selectedValue" class="material-symbols-outlined">close</span>
    </button>
    {{ selectedValue }}
  </div>
</div>
