<div>
  <gpf-checkbox-list
    [title]="'Present in Parent'"
    [items]="presentInParentValues"
    [selectedItems]="selectedValues"
    (itemsUpdateEvent)="updatePresentInParent($event)">
  </gpf-checkbox-list>

  <div *ngIf="selectedValues.has('mother only') || selectedValues.has('father only') || selectedValues.has('mother and father')">
    <div>Rarity:</div>
    <div>
      <ng-container *ngFor="let rarityType of rarityTypes">
        <input
          type="radio"
          (change)="updateRarityType(rarityType)"
          value="rarityType"
          [checked]="selectedRarityType === rarityType">{{rarityType}}
        <br *ngIf="rarityType === 'ultraRare'">
      </ng-container>
    </div>
    <div class="row" style="padding-left: 15px; padding-right: 15px;">
      <div *ngIf="selectedRarityType === 'interval'">
          <input
              type="number"
              step="0.01"
              min=0
              max="{{ rarityIntervalEnd }}"
              style="width: 63px"
              [ngModel]="rarityIntervalStart"
              (ngModelChange)="updateRarityIntervalStart($event)">%-
      </div>
      <div *ngIf="selectedRarityType === 'rare' || selectedRarityType === 'interval'">
          <span *ngIf="selectedRarityType === 'rare'">Max: </span>
          <input
              type="number"
              step="0.01"
              min="{{ rarityIntervalStart }}"
              max=100
              style="width: 63px"
              [ngModel]="rarityIntervalEnd"
              (ngModelChange)="updateRarityIntervalEnd($event)">%
      </div>
    </div>
  </div>

  <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
</div>
