<div ngbDropdown *ngIf="(userInfo$ | async)?.email" autoClose="outside" placement="top">
  <button
    (click)="focusNameInput()"
    [disabled]="disabled"
    id="save-query-dropdown-button"
    class="btn btn-default"
    ngbDropdownToggle>Save query</button
  >
  <div id="save-query-dropdown" ngbDropdownMenu aria-labelledby="dropdownQuerySave">
    <form (ngSubmit)="saveUserQuery(nameInput.value, descInput.value)" #queryStorageForm="ngForm" style="margin: 10px">
      <div class="form-group" style="margin-bottom: 16px">
        <label for="name">Query name</label>
        <input
          #nameInput
          type="text"
          class="form-control"
          id="name"
          required
          autocomplete="off"
          maxlength="256"
          style="width: 300px"
          spellcheck="false" />
        <div
          [hidden]="nameInput.value"
          class="alert alert-danger"
          style="padding-top: 5px; padding-bottom: 5px"
          >Query name is required</div
        >
      </div>

      <div class="form-group" style="margin-bottom: 16px">
        <label for="description">Query description</label>
        <textarea
          #descInput
          class="form-control"
          id="description"
          maxlength="1024"
          placeholder="A brief description of the query. (max. 1024 characters)"></textarea>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!nameInput.value">Save</button>
    </form>
  </div>
</div>
