<div class="panel" id="gene-symbols-panel">
    <div *ngIf="!enableSearch">
        <textarea type="text" [(ngModel)]="geneSymbols.geneSymbols" class="form-control">
        </textarea>
    </div>

    <div *ngIf="enableSearch" class="input-group" style="width: 100%; max-width: 100%;">
        <gpf-searchable-select
            style="width: 50%"
            (search)="searchBoxChange($event)"
            (selectItem)="geneSymbols.geneSymbols = $event"
            [data]="matchingGeneSymbols"
            caption="{{ geneSymbols?.geneSymbols }}"
            [enabledFocusOutSelect]="enableSearch"
        >
            <div *gpf-searchable-select-template="let geneSymbol">
            <span
                data-toggle="tooltip"
                data-placement="bottom"
                title="{{ geneSymbol | boldMatching: searchString}}"
                innerHtml="{{ geneSymbol | boldMatching: searchString}}">
            </span>
            </div>
        </gpf-searchable-select>
    </div>
    <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
</div>
