nav {
  border-bottom: 1px solid #dee2e6;
  padding: none;
  padding-left: 25px;
  -webkit-transition: background-color 250ms ease-out;
  -moz-transition: background-color 250ms ease-out;
  -o-transition: background-color 250ms ease-out;
  transition: background-color 250ms ease-out;
}

nav.tab-limit {
  background-color: rgb(255, 245, 245);
  -webkit-transition: background-color 250ms ease-out;
  -moz-transition: background-color 250ms ease-out;
  -o-transition: background-color 250ms ease-out;
  transition: background-color 250ms ease-out;
}

.nav-tabs {
  border-bottom: none;
}

.nav-link:hover:not(.active) {
  border-bottom: none;
  /* border-bottom: 1px solid #ffffff; */
}

.nav-link {
  color: #495057;
  margin-right: 0;
  min-width: 125px;
}

.nav-link.active{
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-item {
  margin-bottom: -1px;
}

span.close {
  font-size: 18px;
  top: 3px;
  left: 6px;
}

button::after {
  display: none;
}

button:click{
  outline-color: #000000
}

.keybinds-tooltip {
  border: 1px solid #dddddd;
  text-align: left;
  z-index: 10000;
  position: absolute;
  top: 33px;
  left: 51px;
  padding: 5px;
  background-color: #ffffff;
}

.keybinds-tooltip span {
  border: 1px solid rgba(126, 126, 126, 0.412);
  padding: 0px 5px 0px 5px;
}

.keybinds-icon {
  text-align: center;
  padding: 0px 3px 0px 26px;
}

#column-filtering-button {
  outline: none;
  font-size: 18px;
  white-space: nowrap;
  border: 0;
  padding: 0;
  width: 18px;
  vertical-align: unset;
}

.nav-link {
}
