nav {
  border-bottom: 1px solid #dee2e6;
  padding: none;
  padding-left: 25px;
  -webkit-transition: background-color 250ms ease-out;
  -moz-transition: background-color 250ms ease-out;
  -o-transition: background-color 250ms ease-out;
  transition: background-color 250ms ease-out;
}

nav.tab-limit {
  background-color: rgb(255, 245, 245);
  -webkit-transition: background-color 250ms ease-out;
  -moz-transition: background-color 250ms ease-out;
  -o-transition: background-color 250ms ease-out;
  transition: background-color 250ms ease-out;
}

#ngb-nav-0.active,
#ngb-nav-0:hover {
  border-left: 1px solid #dee2e6;
}

.nav-tabs {
  border-bottom: none;
  border-right: 1px solid #dee2e6;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: center;
}

.nav-link {
  position: relative;
  color: #495057;
  margin-right: 0;
  min-width: 125px;
  cursor: default;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-link:hover:not(.active) {
  border-bottom: none;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}

.nav-link.active {
  border-color: #dee2e6 #dee2e6 transparent;
  background-color: #f6f6f6;
  border-right-color: transparent;
  border-left-color: transparent;
}

.nav-item {
  margin-bottom: -1px;
}

.tab-close-icon {
  position: absolute;
  right: 2px;
  font-weight: lighter;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;

}

button::after {
  display: none;
}

button:click {
  outline-color: #000;
}

.keybinds-tooltip {
  border: 1px solid #ddd;
  text-align: left;
  z-index: 10000;
  position: absolute;
  top: 33px;
  left: 51px;
  padding: 5px;
  background-color: #fff;
}

.keybinds-tooltip span {
  border: 1px solid rgba(126, 126, 126, 41.2%);
  padding: 0 5px;
}

.keybinds-icon {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 8px;
}

#column-filtering-button {
  outline: none;
  font-size: 18px;
  white-space: nowrap;
  border: 0;
  padding: 0;
  width: 18px;
  vertical-align: unset;
}
