<div
  class="varianttypes-card card">
  <div class="card-header card-title">Variant Types</div>
  <div class="card-block">
    <div class="btn-group btn-group-sm">
      <button
        (click)="selectAll()"
        class="btn btn-default">All</button>
      <button
        (click)="selectNone()"
        class="btn btn-default">None</button>
    </div>
    <div class="checkbox">
      <label> <input
        #subCheckbox
        type="checkbox"
        [checked]="sub"
        (change)="variantTypesCheckValue('sub',subCheckbox.checked)"> sub
      </label>
    </div>
    <div class="checkbox">
      <label> <input
        #insCheckbox
        type="checkbox"
        [checked]="ins"
        (change)="variantTypesCheckValue('ins',insCheckbox.checked)"> ins
      </label>
    </div>
    <div class="checkbox">
      <label> <input
        #delCheckbox
        type="checkbox"
        [checked]="del"
        (change)="variantTypesCheckValue('del',delCheckbox.checked)"> del
      </label>
    </div>
  </div>
</div>
