<div class="varianttypes-card card">
  <div class="card-header card-title">Variant Types</div>
  <div class="card-block">
    <div class="btn-group btn-group-sm">
      <button
        (click)="selectAll()"
        class="btn btn-default">All</button>
      <button
        (click)="selectNone()"
        class="btn btn-default">None</button>
    </div>
    <div class="checkbox">
      <label> <input
        type="checkbox"
        [(ngModel)]="sub"> sub
      </label>
    </div>
    <div class="checkbox">
      <label> <input
        type="checkbox"
        [(ngModel)]="ins"> ins
      </label>
    </div>
    <div class="checkbox">
      <label> <input
        type="checkbox"
        [(ngModel)]="del"> del
      </label>
    </div>
  </div>
</div>