<span style="font-weight: bold;">
    <div style="float: left; clear: left; padding-left: 10px; height: 100%;">
        <div style="height: 100%; display: table; ">
            <div style="height: 100%; display: table-cell; vertical-align: middle; ">
                <template *ngIf="columnInfo.headerTemplateRef" [ngTemplateOutlet]="columnInfo.headerTemplateRef">
                </template>
                <span *ngIf="columnInfo.header">{{ columnInfo.header }}</span>
            </div>
        </div>
    </div>

    <div style="float: right; clear: right; margin-right: 0px; height: 100%">
        <div style="height: 100%; display: table; ">
            <div *ngFor="let child of columnInfo.subcolumnsChildren" style="display: table-row;">
                <div style="display: table-cell; vertical-align: middle; cursor: pointer; text-align: right" (click)="onSortClick(child)">
                    <template *ngIf="child.headerTemplateRef" [ngTemplateOutlet]="child.headerTemplateRef">
                    </template>
                    <span *ngIf="!child.headerTemplateRef">{{ child.header }}</span>
                    <img *ngIf="sortingInfo?.sortBySubcolumn != child"
                        src="{{imgPathPrefix}}bg.gif" style="height: 12px;">
                    <img *ngIf="sortingInfo?.sortBySubcolumn == child && sortingInfo?.sortOrderAsc"
                        src="{{imgPathPrefix}}asc.gif" style="height: 12px;">
                    <img *ngIf="sortingInfo?.sortBySubcolumn == child && !sortingInfo?.sortOrderAsc"
                        src="{{imgPathPrefix}}desc.gif" style="height: 12px;">
                </div>
            </div>

        </div>
    </div>
</span>
