gpf-table-view-cell {
    display: table-cell;
}

gpf-table-view-empty-cell {
    display: table-cell;
}

gpf-table-view-header-cell {
    display: table-cell;
}

gpf-table-view-cell {
    height: 111px;
    max-height: 111px;
    border: 1px solid #dddddd;
    width: 150px;
    max-width: 150px;
    overflow: hidden;
    padding: 8px;
    text-align: center;
}
