<span style="font-weight: bold;">
    <div style="float: left; clear: left; padding-left: 10px; height: 100%;">
        <div style="height: 100%; display: table; ">
            <div style="height: 100%; display: table-cell; vertical-align: middle; ">
                <gpf-custom-template *ngIf="headerTemplateRef" [templateRef]=headerTemplateRef>
                </gpf-custom-template>
                <span *ngIf="columnInfo.header">{{ columnInfo.header }}</span>
            </div>
        </div>
    </div>
    
    <div style="float: right; clear: right; margin-right: 0px; height: 100%">
        <div style="height: 100%; display: table; ">
            <div *ngFor="let child of columnInfo.subcolumnsChildren" style="display: table-row;">
                <div style="display: table-cell; vertical-align: middle; cursor: pointer; text-align: right" (click)="onSortClick(child)">
                    <gpf-custom-template *ngIf="child.headerTemplateRef" [templateRef]=child.headerTemplateRef></gpf-custom-template>
                    <span *ngIf="!child.headerTemplateRef">{{ child.header }}</span>
                    <img *ngIf="sortingInfo?.sortBySubcolumn != child" src="bg.gif" style="height: 12px;">
                    <img *ngIf="sortingInfo?.sortBySubcolumn == child && sortingInfo?.sortOrderAsc" src="asc.gif" style="height: 12px;">
                    <img *ngIf="sortingInfo?.sortBySubcolumn == child && !sortingInfo?.sortOrderAsc" src="desc.gif" style="height: 12px;">
                </div>
            </div>

        </div>
    </div>
</span>

