<div #table style="display: table; border-collapse: collapse;" [style.height]="totalTableHeight + 'px'">
    <div style="display: table-row;" [style.visibility] = "showFloatingHeader() ? 'hidden' : 'visible'">
        <gpf-table-header *ngFor="let column of columnsChildren"
            [columnInfo]="column"
            [(sortingInfo)]="sortingInfo"
            style="vertical-align: middle">
        </gpf-table-header>
    </div>
    <div style="display: table-row;" [style.height]="beforeDataCellHeight + 'px'">
        <td *ngFor="let column of columnsChildren">
        </td>
    </div>
    <div #row style="display: table-row;" *ngFor="let data of visibleData">
        <gpf-table-cell *ngFor="let column of columnsChildren"
            [columnInfo]="column"
            [data]=data
            style="vertical-align: middle">
        </gpf-table-cell>
    </div>
    <div style="display: table-row;">
        <td *ngFor="let column of columnsChildren">
        </td>
    </div>
</div>

<div style="display: table; border-collapse: collapse; position: fixed; top: 0px;  background-color: white;" [style.visibility] = "showFloatingHeader() ? 'visible' : 'hidden'">
    <div style="display: table-row;">
        <gpf-table-header *ngFor="let column of columnsChildren"
            [columnInfo]="column"
            [(sortingInfo)]="sortingInfo"
            style="vertical-align: middle">
        </gpf-table-header>
    </div>
</div>


<div style="position: fixed; bottom: 100px; right: 100px; background-color: white;" [style.visibility] = "showFloatingHeader() ? 'visible' : 'hidden'">
    <gpf-custom-template *ngIf="legend.templateRef" [templateRef]=legend.templateRef>
    </gpf-custom-template>
</div>
