.container {
  margin-top: 20px;
}

#edit-container {
  display: flex;
}

#edit-description {
  display: flex;
  position: relative;
}

#empty-description {
  padding-top: 7px;
}

#empty-description > span {
  font-style: italic;
  opacity: 75%;
  margin-right: 558px;
}

#edit-icon {
  padding: 6px;
  cursor: pointer;
  margin-top: 5px;
}

:host::ng-deep.md-header {
  margin-bottom: 8px;
}

:host::ng-deep.md-header .btn-sm {
  background-color: unset;
  width: 30px;
  height: 30px;
  border: 1px solid transparent !important;
  border-radius: 0%;
}

:host::ng-deep.btn-sm:hover {
  background-color: #eee;
  border: 1px solid rgb(197, 197, 197) !important;
  border-radius: 0%;
}

:host::ng-deep.btn-sm:disabled {
  background-color: unset;
  border: none;
  outline: none;
  cursor: not-allowed;
}

:host::ng-deep.md-header .btn-sm[title="Preview"] {
  height: 30px;
  width: 90px;
  background-color: #2a6395;
  border: none;
}

:host::ng-deep.btn-sm[title="Preview"]:hover,
:host::ng-deep.btn-sm[title="Preview"]:focus {
  background-color: #2a6395;
}

:host::ng-deep.btn-sm.active[title="Preview"] {
  background-color: #0b355a !important;
}
