@if (selectedDataset) {
  <div class="container">
    <gpf-genes-block></gpf-genes-block>
    <gpf-regions-block></gpf-regions-block>
    <gpf-genotype-block [dataset]="selectedDataset"></gpf-genotype-block>
    @if (selectedDataset?.genotypeBrowserConfig?.hasStudyFilters) {
      <gpf-study-filters-block [dataset]="selectedDataset"> </gpf-study-filters-block>
    }
    <gpf-genomic-scores-block></gpf-genomic-scores-block>
    @if (selectedDataset?.genotypeBrowserConfig?.hasFamilyFilters) {
      <gpf-family-filters-block [dataset]="selectedDataset"> </gpf-family-filters-block>
    }
    @if (selectedDataset?.genotypeBrowserConfig?.hasPersonFilters) {
      <gpf-person-filters-block [dataset]="selectedDataset"> </gpf-person-filters-block>
    }
    <gpf-unique-family-variants-filter></gpf-unique-family-variants-filter>
    <div class="form-block">
      <form
        id="dl-form"
        (ngSubmit)="onSubmit($event)"
        action="{{ configService.baseUrl }}genotype_browser/query-download"
        method="post">
        <input name="queryData" type="hidden" />
        <button
          class="btn btn-md btn-primary btn-right"
          id="download-button"
          [disabled]="disableQueryButtons"
          type="submit"
          >Download</button
        >
      </form>
      <div class="button">
        <input
          type="button"
          [disabled]="disableQueryButtons"
          class="btn btn-md btn-primary"
          id="table-preview-button"
          value="Table Preview"
          (click)="submitQuery()" />
        <gpf-save-query [disabled]="disableQueryButtons" queryType="genotype"></gpf-save-query>
      </div>
    </div>
  </div>
}
@if (genotypePreviewVariantsArray) {
  <div class="genotype-browser-results">
    <hr />
    @if (variantsCountDisplay) {
      <gpf-loading-spinner [loadingFinished]="loadingFinished" [count]="variantsCountDisplay" [verboseMode]="true">
      </gpf-loading-spinner>
    }
    @if (showTable) {
      <gpf-genotype-preview-table
        [columns]="selectedDataset?.genotypeBrowserConfig?.tableColumns"
        [genotypePreviewVariantsArray]="genotypePreviewVariantsArray"
        [legend]="legend">
      </gpf-genotype-preview-table>
    }
  </div>
}
