ul {
  list-style-type: none;
}

li {
  margin-bottom: 20px;
  margin-top: 20px;
}

a {
  color: #0645ad;
  text-decoration: none;
  font-weight: 1000;
  margin-right: 5px;
}

:host::ng-deep markdown:not(#main-description) p {
  display: inline;
}
