.gender-icon {
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: white;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.gender-icon.male {
    border-radius: 0px;
}

.gender-icon.female {
    border-radius: 40px;
}
