<div class="gender-card panel panel-default">
    <div class="panel-heading">Child Gender</div>
    <div class="panel-body">
        <div class="btn-group">
            <button (click)="selectAll()" 
                class="btn btn-xs btn-default">All</button>
            <button (click)="selectNone()" 
                class="btn btn-xs btn-default">None</button>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="male">
            <span class="gender-icon male" ></span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="female">
            <span class="gender-icon female"></span>
          </label>
        </div>
    </div>
</div>