<div class="card" style="width: 200px; padding-left: 20px; padding-right: 20px; top: 22px; float: right;">
    <div class="card-header card-title" style="font-weight: unset">Family Types:</div>
    <div class="card-block">
        <div *ngFor="let item of allFamilyTypes" style="padding-right: 30px;">
            <label style="width:100%">
                <input type="checkbox"
                [checked]="familyTypes.familyTypes.indexOf(item) !== -1"
                (change)="checkFamilyType(item, familyTypes.familyTypes.indexOf(item) !== -1)">
                <span style="padding-left: 3px;">{{item}}</span>
            </label>
        </div>
        <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
    </div>
</div>