<div class="row">
  <div class="col-12 mt-3">
    <gpf-table [dataSource]="users" style="display: inline-block">
      <gpf-table-column>
        <gpf-table-subcolumn header="Selected" [sortable]="false" field="selected">
          <div *gpfTableCellContent="let data">
            <input type="checkbox" [(ngModel)]="data.selected" />
          </div>
        </gpf-table-subcolumn>
      </gpf-table-column>
      <gpf-table-column>
        <gpf-table-subcolumn header="Name" field="user.name">
          <div *gpfTableCellContent="let data">
            {{ data.user.name }}
          </div>
        </gpf-table-subcolumn>
      </gpf-table-column>
      <gpf-table-column>
        <gpf-table-subcolumn header="Email" field="email">
          <div *gpfTableCellContent="let data">
            <a [routerLink]="['/management/users', data.user.id]">{{ data.user.email }}</a>
          </div>
        </gpf-table-subcolumn>
      </gpf-table-column>
      <gpf-table-column>
        <gpf-table-subcolumn header="Groups" [sortable]="false">
          <span *gpfTableCellContent="let data">
            <div *ngFor="let group of data.user.groups">
              <ng-template #removeGroupConfirm>
                <div class="content-fluid text-center">
                  <div class="row">
                    <div class="col-12">
                      Removing the group '{{ group }}' could change which datasets {{ data.user.name }} ({{ data.user.email }}) has access to.
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12 text-center">
                      <button (click)="removeGroup(data.user, group)" class="btn btn-danger px-5">Remove group</button>
                    </div>
                  </div>
                </div>
              </ng-template>
              <span>{{ group }} <button
                *ngIf="!isDefaultGroup(data.user, group)"
                class="btn badge badge-pill badge-danger"
                container="body"
                triggers="focus:blur"
                popoverTitle="Are you sure?"
                [ngbPopover]="removeGroupConfirm">x</button>
              </span>
            </div>
          </span>
        </gpf-table-subcolumn>
      </gpf-table-column>
      <gpf-table-column>
        <gpf-table-subcolumn header="Has password" field="user.hasPassword">
          <span *gpfTableCellContent="let data">
            <span *ngIf="data.user.hasPassword">
              <i class="fa fa-check" aria-hidden="true"></i>
            </span>
          </span>
        </gpf-table-subcolumn>
      </gpf-table-column>

      <gpf-table-column>
        <gpf-table-subcolumn header="Actions" [sortable]="false">
          <span *gpfTableCellContent="let data" class="action-buttons">
            <gpf-users-actions [user]="data.user"></gpf-users-actions>
          </span>
        </gpf-table-subcolumn>
      </gpf-table-column>
    </gpf-table>
    <div *ngIf="users?.length === 0">
      No results
    </div>
  </div>
</div>
