.action-buttons .btn {
  cursor: pointer;
  color: #2a6395;
}

.action-buttons .btn:hover {
  color: white;
  background-color: #2a6395;
  border-color: #2a6395;
}

.select-unselect-all {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.grid-header {
  min-height: 2rem;
  line-height: 2rem;
  border: 1px solid #ddd;
  background-color: #eee;
  text-align: center;
  font-weight: bold;
}

.grid-cell {
  min-height: 6rem;
  border: 1px solid #ddd;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete-button {
  border: none;
  background: none;
  color: blue;
}
