<div class="row">
  <div class="col-12 mt-3">
    <gpf-table [dataSource]="(users$ | async)" style="display: inline-block">
      <gpf-table-column>
        <gpf-table-subcolumn header="Email" field="email">
          <div *gpfTableCellContent="let data">
            <a [routerLink]="['/management/users', data.id]">{{ data.email }}</a>
          </div>
        </gpf-table-subcolumn>
      </gpf-table-column>
      <gpf-table-column>
        <gpf-table-subcolumn header="Name" field="name"></gpf-table-subcolumn>
      </gpf-table-column>
      <gpf-table-column>
        <gpf-table-subcolumn header="Groups" field="groups">
          <span *gpfTableCellContent="let data">
            <div *ngFor="let group of data.groups">
              {{ group.name }}
            </div>
          </span>
        </gpf-table-subcolumn>
      </gpf-table-column>
      <gpf-table-column>
        <gpf-table-subcolumn header="Has password" field="hasPassword"></gpf-table-subcolumn>
      </gpf-table-column>
      <gpf-table-column>
        <gpf-table-subcolumn header="Actions"  [sortable]="false">
          <span *gpfTableCellContent="let data">
            <button class="btn btn-sm" ngbTooltip="Remove password" container="body">
              <i class="fa fa-ban" aria-hidden="true"></i>
            </button>
            <button class="btn btn-sm" ngbTooltip="Reset password" container="body">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
            <button class="btn btn-sm btn-danger" ngbTooltip="Delete user" container="body">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </span>
        </gpf-table-subcolumn>
      </gpf-table-column>
    </gpf-table>
  </div>
</div>
