@if (showFloatingHeader) {
  <div class="table-header-sticky-div">
    <gpf-table-view-header
      style="display: table-header-group"
      [columns]="columnsChildren"
      [(sortingInfo)]="sortingInfo">
    </gpf-table-view-header>
  </div>
}

<div #table style="width: 100%; display: table; border-collapse: collapse">
  <gpf-table-view-header
    #header
    id="gpf-table-view-header"
    style="display: table-header-group"
    [columns]="columnsChildren"
    [(sortingInfo)]="sortingInfo">
  </gpf-table-view-header>
  <div [style.display]="beforeDataCellHeight ? 'table-row' : 'none'" [style.height]="beforeDataCellHeight + 'px'">
    @for (column of columnsChildren; track column) {
      <td></td>
    }
  </div>
  @for (data of tableData; track data) {
    <div #rows style="display: table-row" class="table-row">
      @for (column of columnsChildren; track column) {
        <gpf-table-view-cell
          #cells
          [columnInfo]="column"
          [data]="data"
          [noScrollOptimization]="noScrollOptimization"
          [style.width]="column.columnWidth || null"
          [style.min-width]="column.columnWidth || null"
          [style.max-width]="column.columnWidth || null"
          style="vertical-align: middle">
        </gpf-table-view-cell>
      }
    </div>
  }
  <div style="display: table-row">
    @for (column of columnsChildren; track column) {
      <gpf-table-view-empty-cell [columnInfo]="column"> </gpf-table-view-empty-cell>
    }
  </div>
  <div [style.display]="afterDataCellHeight ? 'table-row' : 'none'" [style.height]="afterDataCellHeight + 'px'">
    @for (column of columnsChildren; track column) {
      <td></td>
    }
  </div>
</div>

@if (tableData.length === 0) {
  <div>
    <gpf-nothing-found-row [width]="tableWidth" style="height: 100%"></gpf-nothing-found-row>
  </div>
}

@if (showLegend && tableData.length > 0) {
  <div id="legend-wrapper">
    @if (legend?.templateRef) {
      <ng-template [ngTemplateOutlet]="legend.templateRef"></ng-template>
    }
  </div>
}
