#loading-dropdown-text {
  font-style: italic;
  text-align: center;
  opacity: 75%;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#clear-measure-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#clear-pheno-measure-icon {
  padding-top: 5px;
  height: 10px;
}
