#loading-dropdown-text {
  font-style: italic;
  text-align: center;
  opacity: 75%;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#clear-measure-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

::ng-deep .ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
