<div ngbDropdown class="input-group" style="display: inline-flex; flex-wrap: nowrap">
  <input
    ngbDropdownAnchor
    #searchBox
    id="search-box"
    placeholder="Select or start typing to search"
    autocomplete="off"
    spellcheck="false"
    [(ngModel)]="searchString"
    (keyup)="openDropdown(); searchBoxChange()"
    (click)="clear(); openDropdown(); searchBoxChange()"
    (keydown.escape)="closeDropdown()"
    style="width: 100%" />
  <div ngbDropdownMenu style="z-index: 3; width: 100%; max-height: 200px; overflow-y: scroll">
    <button
      *ngFor="let measure of filteredMeasures"
      class="dropdown-item"
      type="button"
      (click)="selectMeasure(measure)"
      (keydown.enter)="selectMeasure(measure)">
      <span innerHtml="{{ measure.name | boldMatching: searchString }}"></span>
    </button>
  </div>
  <div class="input-group-append">
    <button class="btn btn-secondary" style="border-top-left-radius: 0; border-bottom-left-radius: 0" (click)="clear()">&times;</button>
  </div>
</div>
