<div>
  <div class="input-group" style="display: inline-flex; flex-wrap: nowrap">
    <input
      #measuresSearchBox
      id="search-box"
      placeholder="Select or start typing to search"
      autocomplete="off"
      spellcheck="false"
      [(ngModel)]="searchString"
      (keyup)="loadDropdownData()"
      (mousedown)="clear()"
      (focus)="showDropdown = true"
      (blur)="showDropdown = false"
      (keydown.escape)="showDropdown = false; measuresSearchBox.blur(); clear()"
      style="width: 100%" />

    <div class="input-group-append">
      <button (click)="clear()" class="btn btn-secondary clear-button" id="clear-measure-button"
        ><span id="clear-pheno-measure-icon" class="material-symbols-outlined sm">close</span></button
      >
    </div>

    <div class="measures-dropdown" *ngIf="showDropdown">
      <div class="status-info" *ngIf="filteredMeasures.length === 0">{{
        loadingMeasures || loadingDropdown ? 'Loading...' : 'Nothing found'
      }}</div>
      <cdk-virtual-scroll-viewport itemSize="35" style="height: 240px; max-height: 240px; overflow-x: hidden">
        <div
          *cdkVirtualFor="let measure of filteredMeasures"
          class="dropdown-item"
          type="button"
          (mousedown)="selectMeasure(measure)"
          (onSelectionChange)="selectMeasure(measure)"
          [title]="measure.name">
          <span [innerHTML]="isSelected ? measure.name : (measure.name | boldMatching : searchString)"></span>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>
