<div
  matAutocompleteOrigin
  #phenoMeasureSearch="matAutocompleteOrigin"
  class="input-group"
  style="display: inline-flex; flex-wrap: nowrap">
  <input
    matInput
    [matAutocomplete]="measuresDropdown"
    [matAutocompleteConnectedTo]="phenoMeasureSearch"
    #triggeMeasuresDropdown="matAutocompleteTrigger"
    #measuresSearchBox
    id="search-box"
    placeholder="Select or start typing to search"
    autocomplete="off"
    spellcheck="false"
    [(ngModel)]="searchString"
    (keyup)="loadDropdownData()"
    (mousedown)="clear()"
    style="width: 100%" />

  <mat-autocomplete autoActiveFirstOption #measuresDropdown="matAutocomplete" class="measures-dropdown">
    <ng-container *ngIf="filteredMeasures.length === 0">
      <mat-option [disabled]="true" class="status-info" *ngIf="loadingMeasures || loadingDropdown"
        >Loading...</mat-option
      >
      <mat-option [disabled]="true" class="status-info" *ngIf="!(loadingMeasures || loadingDropdown)"
        >Nothing found</mat-option
      >
    </ng-container>
    <mat-option
      *ngFor="let measure of filteredMeasures"
      class="dropdown-item"
      type="button"
      (click)="selectMeasure(measure)"
      (onSelectionChange)="selectMeasure(measure)"
      [value]="measure.name"
      [title]="measure.name">
      <span [innerHTML]="isSelected ? measure.name : (measure.name | boldMatching : searchString)"></span>
    </mat-option>
  </mat-autocomplete>

  <div class="input-group-append">
    <button (click)="clear()" class="btn btn-secondary clear-button" id="clear-measure-button"
      ><span id="clear-pheno-measure-icon" class="material-symbols-outlined sm">close</span></button
    >
  </div>
</div>
