<div *ngIf="displayedUsername" class="row justify-content-end dropdown">
  <div class="align-self-center">
    <span class="username-field">{{ displayedUsername }}</span>
    <button class="btn btn-sm" (click)="logout()">Logout</button>
  </div>
</div>

<div *ngIf="!displayedUsername" class="row justify-content-end dropdown">
  <div>
    <button #dropdownButton (click)="hideDropdown = !hideDropdown"
      class="btn btn-secondary dropdown-toggle" type="button">
      Login
    </button>
    <div #dialog class="open row" [hidden]="hideDropdown">
      <form>
        <div class="row">
          <div class="col-12">

            <div class="form-group">
              <label for="username">Username</label>
              <input name="username" id="username" class="form-control" [(ngModel)]="username" type="text">
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="form-group">
              <label for="password">Password</label>
              <input name="password" id="password" class="form-control" [(ngModel)]="password" type="password">
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <button class="btn btn-primary" style="width: 100%" (click)="login()">
              Login
            </button>
          </div>
        </div>
        <div class="row mt-1 justify-content-center">
          <div class="col-11">
            <!-- <div class="centered-buttons"> -->
              <button class="btn btn-sm btn-link" (click)="showRegister()">
                Register
              </button>
              <button class="btn btn-sm btn-link" (click)="showForgotPassword()">
                Forgotten password
              </button>
            <!-- </div> -->
          </div>
        </div>
        <div *ngIf="loginError" class="row mt-1">
            <div class="col-12">
              <div class="alert alert-danger">
                Wrong username or password
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
