.open {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: block;
  float: left;
  min-width: 300px;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #292b2c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  right: 0;
  left: auto;
  padding: 20px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #00FF00;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.submitted-email-input {
  opacity: 77%;
  cursor: pointer;
}
