<div class="chromosome">
  <div class="chromosome-name">{{chromosome.id}}</div>
  <svg [attr.width]="svgWidth" [attr.height]="svgHeight">
    <g>
      <defs>
        <clipPath id="colorClipLeft{{chromosome.id}}">
          <rect [attr.height]="chromosomeHeight" [attr.width]="leftWidth" [attr.x]="startingPoint" [attr.y]="starWidth * maxTopStackIndex" rx="5" ry="15" stroke="black" stroke-width="1" style="fill: grey;">
          </rect>
        </clipPath>
        <clipPath id="colorClipRight{{chromosome.id}}">
          <rect [attr.height]="chromosomeHeight" [attr.width]="rightWidth" [attr.x]="startingPoint + leftWidth" [attr.y]="starWidth * maxTopStackIndex" rx="5" ry="15" stroke="black" stroke-width="1" style="fill: grey;">
          </rect>
        </clipPath>
      </defs>

      <rect [attr.height]="chromosomeHeight" [attr.width]="leftWidth" [attr.x]="startingPoint" [attr.y]="starWidth * maxTopStackIndex" rx="5" ry="15" stroke="black" stroke-width="1" style="fill: grey;">
      </rect>

      <rect [attr.height]="chromosomeHeight" [attr.width]="rightWidth" [attr.x]="startingPoint + leftWidth" [attr.y]="starWidth * maxTopStackIndex" rx="5" ry="15" stroke="black" stroke-width="1" style="fill: grey;">
      </rect>

      <rect *ngFor="let band of leftBands" [attr.clip-path]="'url(#colorClipLeft' + chromosome.id + ')'" [attr.height]="band.height" [attr.width]="band.width" [attr.x]="band.x" [attr.y]="band.y" [style.fill]="band.color">
      </rect>

      <rect *ngFor="let band of rightBands" [attr.clip-path]="'url(#colorClipRight' + chromosome.id + ')'" [attr.height]="band.height" [attr.width]="band.width" [attr.x]="band.x" [attr.y]="band.y" [style.fill]="band.color">
      </rect>

      <path
        attr.d="M {{variant.x}} {{variant.proband ? (maxTopStackIndex - variant.stackIndex) * starWidth : chromosomeHeight + (maxTopStackIndex + variant.stackIndex - 1) * starWidth}} {{baseStarPathDescription}}"
        [style.fill]="variant.color"
        on-mouseover="hoveredVariant = variant"
        [ngbPopover]="popoverContent"
        triggers="mouseenter:mouseleave"
        container="body"
        >
      </path>
    </g>
  </svg>
  <ng-template #popoverContent>
    <div>{{hoveredVariant.genes}}</div>
    <div>{{hoveredVariant.location}}</div>
  </ng-template>
</div>
