<gpf-table [dataSource]="measures" style="display: inline-block">
    <gpf-table-column>
        <gpf-table-header caption="Proband Pheno Measure" field="measureName"></gpf-table-header>
        <gpf-table-content>
            <span *gpfTableCellContent="let data">
                <div ngbTooltip="{{data.measureName}}">{{ data.measureName }}</div>
            </span>
        </gpf-table-content>
    </gpf-table-column>
    <gpf-table-column>
        <gpf-table-header caption="Pheno Measure Values"></gpf-table-header>
        <gpf-table-content>
            <span *gpfTableCellContent="let data">
                <a [class.clickable]="!!data.figureDistribution" (click)="openModal(content, data.figureDistribution)">
                    <img *ngIf="data.figureDistributionSmall" class="table-chart" [src]="data.figureDistributionSmall" />
                </a>
            </span>
        </gpf-table-content>
    </gpf-table-column>
    <gpf-table-column>
        <gpf-table-header>
            <gpf-table-subheader caption="Measure Type" field="measureType"></gpf-table-subheader>
            <gpf-table-subheader caption="Values Domain"></gpf-table-subheader>
        </gpf-table-header>
        <gpf-table-content>
            <gpf-table-subcontent field="measureType"></gpf-table-subcontent>
            <gpf-table-subcontent field="valuesDomain"></gpf-table-subcontent>
        </gpf-table-content>
    </gpf-table-column>
    <gpf-table-column>
        <gpf-table-header caption="Correlation by Non-Verbal IQ"></gpf-table-header>
        <gpf-table-content>
            <span *gpfTableCellContent="let data">
                <a [class.clickable]="!!data.figureCorrelationNviq" (click)="openModal(content, data.figureCorrelationNviq)">
                    <img *ngIf="data.figureCorrelationNviqSmall" class="table-chart" [src]="data.figureCorrelationNviqSmall" />
                </a>
            </span>
        </gpf-table-content>
    </gpf-table-column>
    <gpf-table-column header="P Value">
        <gpf-table-header caption="P Value">
            <gpf-table-subheader caption="male" field="pvalueCorrelationNviqMale"></gpf-table-subheader>
            <gpf-table-subheader caption="female" field="pvalueCorrelationNviqFemale"></gpf-table-subheader>
        </gpf-table-header>
        <gpf-table-content>
            <gpf-table-subcontent>
                <span class="expanded-span"
                   *gpfTableCellContent="let data"
                   [style.background-color]="getBackgroundColor(data.pvalueCorrelationNviqMale)">
                  {{ data.pvalueCorrelationNviqMale | numberWithExp: "1.2-4" }}
                </span>
            </gpf-table-subcontent>
            <gpf-table-subcontent>
                <span class="expanded-span"
                   *gpfTableCellContent="let data"
                   [style.background-color]="getBackgroundColor(data.pvalueCorrelationNviqFemale)">
                  {{ data.pvalueCorrelationNviqFemale | numberWithExp: "1.2-4" }}
                </span>
            </gpf-table-subcontent>
        </gpf-table-content>
    </gpf-table-column>
    <gpf-table-column>
        <gpf-table-header caption="Correlation by Age"></gpf-table-header>
        <gpf-table-content>
            <span *gpfTableCellContent="let data">
                <a [class.clickable]="!!data.figureCorrelationAge" (click)="openModal(content, data.figureCorrelationAge)">
                    <img *ngIf="data.figureCorrelationAgeSmall" class="table-chart" [src]="data.figureCorrelationAgeSmall" />
                </a>
            </span>
        </gpf-table-content>
    </gpf-table-column>
    <gpf-table-column>
        <gpf-table-header caption="P Value">
            <gpf-table-subheader caption="male" field="pvalueCorrelationAgeMale"></gpf-table-subheader>
            <gpf-table-subheader caption="female" field="pvalueCorrelationAgeFemale"></gpf-table-subheader>
        </gpf-table-header>
        <gpf-table-content>
            <gpf-table-subcontent>
                <span class="expanded-span"
                  *gpfTableCellContent="let data"
                  [style.background-color]="getBackgroundColor(data.pvalueCorrelationAgeMale)">
                  {{ data.pvalueCorrelationAgeMale | numberWithExp: "1.2-4" }}
                </span>
            </gpf-table-subcontent>
            <gpf-table-subcontent>
                <span class="expanded-span"
                  *gpfTableCellContent="let data"
                  [style.background-color]="getBackgroundColor(data.pvalueCorrelationAgeFemale)">
                  {{ data.pvalueCorrelationAgeFemale | numberWithExp: "1.2-4" }}
                </span>
            </gpf-table-subcontent>
        </gpf-table-content>
    </gpf-table-column>
</gpf-table>
