<gpf-table [dataSource]="measures.measures" style="display: inline-block">
    <gpf-table-column>
        <gpf-table-header caption="Instrument" field="instrumentName"></gpf-table-header>
        <gpf-table-content>
            <span *gpfTableCellContent="let data">
                <div ngbTooltip="{{data.instrumentName}}">{{ data.instrumentName }}</div>
            </span>
        </gpf-table-content>
    </gpf-table-column>
    <gpf-table-column>
        <gpf-table-header caption="Proband Pheno Measure" field="measureName"></gpf-table-header>
        <gpf-table-content>
            <span *gpfTableCellContent="let data">
                <div ngbTooltip="{{data.measureName}}">{{ data.measureName }}</div>
            </span>
        </gpf-table-content>
    </gpf-table-column>
    <gpf-table-column *ngIf="measures.hasDescriptions">
        <gpf-table-header caption="Measure Description" field="description"></gpf-table-header>
        <gpf-table-content>
            <span *gpfTableCellContent="let data">
            <div ngbTooltip="{{data.description}}">{{ data.description }}</div>
            </span>
        </gpf-table-content>
    </gpf-table-column>
    <gpf-table-column>
        <gpf-table-header caption="Pheno Measure Values"></gpf-table-header>
        <gpf-table-content>
            <span *gpfTableCellContent="let data">
                <a [class.clickable]="!!data.figureDistribution" (click)="openModal(content, data.figureDistribution)">
                    <img *ngIf="data.figureDistributionSmall" class="table-chart" [src]="data.figureDistributionSmall" />
                </a>
            </span>
        </gpf-table-content>
    </gpf-table-column>
    <gpf-table-column>
        <gpf-table-header>
            <gpf-table-subheader caption="Measure Type" field="measureType"></gpf-table-subheader>
            <gpf-table-subheader caption="Values Domain"></gpf-table-subheader>
        </gpf-table-header>
        <gpf-table-content>
            <gpf-table-subcontent field="measureType"></gpf-table-subcontent>
            <gpf-table-subcontent field="valuesDomain"></gpf-table-subcontent>
        </gpf-table-content>
    </gpf-table-column>
    <div *ngFor="let regressionId of getRegressionIds()">
        <gpf-table-column>
            <gpf-table-header caption="Regression by {{getRegressionName(regressionId)}}"></gpf-table-header>
            <gpf-table-content>
                <span *gpfTableCellContent="let data">
                    <a [class.clickable]="!!data.regressions.getReg(regressionId).figureRegression" (click)="openModal(content, data.regressions.getReg(regressionId).figureRegression)">
                        <img *ngIf="data.regressions.getReg(regressionId).figureRegressionSmall" class="table-chart" [src]="data.regressions.getReg(regressionId).figureRegressionSmall" />
                    </a>
                </span>
            </gpf-table-content>
        </gpf-table-column>
        <gpf-table-column>
            <gpf-table-header caption="P Value">
                <gpf-table-subheader caption="male" field="pvalueRegressionMale"></gpf-table-subheader>
                <gpf-table-subheader caption="female" field="pvalueRegressionFemale"></gpf-table-subheader>
            </gpf-table-header>
            <gpf-table-content>
                <gpf-table-subcontent>
                    <span class="expanded-span"
                     *gpfTableCellContent="let data"
                      [style.background-color]="getBackgroundColor(data.regressions.getReg(regressionId).pvalueRegressionMale)">
                      {{ data.regressions.getReg(regressionId).pvalueRegressionMale | numberWithExp: "1.2-4" }}
                    </span>
                </gpf-table-subcontent>
                <gpf-table-subcontent>
                    <span class="expanded-span"
                     *gpfTableCellContent="let data"
                      [style.background-color]="getBackgroundColor(data.regressions.getReg(regressionId).pvalueRegressionFemale)">
                      {{ data.regressions.getReg(regressionId).pvalueRegressionFemale | numberWithExp: "1.2-4" }}
                    </span>
                </gpf-table-subcontent>
            </gpf-table-content>
        </gpf-table-column>
    </div>
</gpf-table>
