<gpf-table [dataSource]="measures" style="display: inline-block">
  <gpf-table-column>
    <gpf-table-subcolumn header="Proband Pheno Measure" field="measureName"></gpf-table-subcolumn>
  </gpf-table-column>
  <gpf-table-column>
    <gpf-table-subcolumn [sortable]="false" header="Pheno Measure Values" field="figureDistributionSmall">
      <span *gpf-table-cell-content="let data">
        <a [class.clickable]="!!data.figureDistribution" (click)="openModal(content, data.figureDistribution)">
          <img *ngIf="data.figureDistributionSmall" class="table-chart" [src]="data.figureDistributionSmall" />
        </a>
      </span>
    </gpf-table-subcolumn>
  </gpf-table-column>
  <gpf-table-column>
    <gpf-table-subcolumn header="Minimum" field="valuesDomain" [comparator]="minDomainComparator">
      <span *gpf-table-cell-content="let data">
        {{ data.valuesDomain[0] }}
      </span>
    </gpf-table-subcolumn>
    <gpf-table-subcolumn header="Maximum" field="valuesDomain" [comparator]="maxDomainComparator">
      <span *gpf-table-cell-content="let data">
        {{ data.valuesDomain[1] }}
      </span>
    </gpf-table-subcolumn>
  </gpf-table-column>
  <gpf-table-column>
    <gpf-table-subcolumn
      [sortable]="false"
      header="Correlation by Non-Verbal IQ"
      field="figureCorrelationNviqSmall">
      <span *gpf-table-cell-content="let data">
        <a [class.clickable]="!!data.figureCorrelationNviq" (click)="openModal(content, data.figureCorrelationNviq)">
          <img *ngIf="data.figureCorrelationNviqSmall" class="table-chart" [src]="data.figureCorrelationNviqSmall" />
        </a>
      </span>
    </gpf-table-subcolumn>
  </gpf-table-column>
  <gpf-table-column header="P Value">
    <gpf-table-subcolumn header="male" field="pvalueCorrelationNviqMale">
        <span class="expanded-span"
           *gpf-table-cell-content="let data"
           [style.background-color]="getBackgroundColor(data.pvalueCorrelationNviqMale)">
          {{ data.pvalueCorrelationNviqMale | numberWithExp: "1.2-4" }}
        </span>
    </gpf-table-subcolumn>
    <gpf-table-subcolumn header="female" field="pvalueCorrelationNviqFemale">
        <span class="expanded-span"
           *gpf-table-cell-content="let data"
           [style.background-color]="getBackgroundColor(data.pvalueCorrelationNviqFemale)">
          {{ data.pvalueCorrelationNviqFemale | numberWithExp: "1.2-4" }}
        </span></gpf-table-subcolumn>
  </gpf-table-column>
  <gpf-table-column>
    <gpf-table-subcolumn
      [sortable]="false"
      header="Correlation by Age"
      field="figureCorrelationAgeSmall">
      <span *gpf-table-cell-content="let data">
        <a [class.clickable]="!!data.figureCorrelationAge" (click)="openModal(content, data.figureCorrelationAge)">
          <img *ngIf="data.figureCorrelationAgeSmall" class="table-chart" [src]="data.figureCorrelationAgeSmall" />
        </a>
      </span>
    </gpf-table-subcolumn>
  </gpf-table-column>
  <gpf-table-column header="P Value">
    <gpf-table-subcolumn header="male" field="pvalueCorrelationAgeMale">
        <span class="expanded-span"
          *gpf-table-cell-content="let data"
          [style.background-color]="getBackgroundColor(data.pvalueCorrelationAgeMale)">
          {{ data.pvalueCorrelationAgeMale | numberWithExp: "1.2-4" }}
        </span>
    </gpf-table-subcolumn>
    <gpf-table-subcolumn header="female" field="pvalueCorrelationAgeFemale">
        <span class="expanded-span"
          *gpf-table-cell-content="let data"
          [style.background-color]="getBackgroundColor(data.pvalueCorrelationAgeFemale)">
          {{ data.pvalueCorrelationAgeFemale | numberWithExp: "1.2-4" }}
        </span>
    </gpf-table-subcolumn>
  </gpf-table-column>
</gpf-table>
