<div class="input-group" style="width: 100%; max-width: 100%;">
  <input [hidden]="caption" #searchBox id="search-box"
    (keyup)="searchBoxChange(searchBox.value)"
    style="width: 100%"
    placeholder="Select or start typing to search"
    (click)="searchBox.value=''; onFocus($event)" />

  <span [hidden]="!caption" id="selected-value"
    style="width: 100%"
    class="clickable"
    (click)="searchBox.value = ''; onFocus($event)">{{ caption }}</span>

  <span ngbDropdown placement="bottom-right" class="input-group-btn" style="position: static">
    <button type="button" class="btn" ngbDropdownToggle>
      <span class="caret"></span>
    </button>
    <div ngbDropdownMenu style="width: 100%; overflow-x: hidden; max-height: 300px; overflow-y: scroll;">
      <button *ngFor="let element of data"
        class="dropdown-item"
        type="button"
        style="cursor: pointer"
        (click)="onSelect(element)">
        <ng-template *ngIf="template?.templateRef" [ngTemplateOutlet]="template.templateRef" [ngTemplateOutletContext]="{$implicit: element}">
        </ng-template>
       </button>
    </div>
  </span>
</div>
