<div class="input-group mr-3">
  <div ngbDropdown role="group" style="width: 100%" placement="bottom-right" class="input-group-append">
    <input style="width: 100%"
      [hidden]="caption" #searchBox id="search-box" autocomplete="off"
      (focusout)="enabledFocusOutSelect === true && onSelect(searchBox.value)"
      (keyup)="searchBoxChange(searchBox.value)"
      placeholder="Select or start typing to search"
      (click)="searchBox.value=''; onFocus($event)" />
    <span style="width: 100%"
      [hidden]="!caption" id="selected-value"
      class="clickable"
      (click)="searchBox.value = ''; onFocus($event)">
      {{ caption }}
    </span>
    <button type="button" class="btn btn-secondary dropdown-toggle-split" ngbDropdownToggle>
      <span class="caret"></span>
    </button>
    <div ngbDropdownMenu style="width: 100%; overflow-x: hidden; max-height: 300px; overflow-y: scroll;">
      <button *ngFor="let element of data"
        class="dropdown-item"
        type="button"
        style="cursor: pointer"
        (click)="onSelect(element)">
        <ng-template *ngIf="template?.templateRef" [ngTemplateOutlet]="template.templateRef" [ngTemplateOutletContext]="{$implicit: element}">
        </ng-template>
      </button>
    </div>
  </div>
</div>
