#bg {
  height: 12px;
  width: 12px;
}

#asc {
  height: 12px;
  width: 12px;
}

#desc {
  height: 12px;
  width: 12px;
}

#sorting-buttons {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
