span {
  padding: 5px;
  line-height: 30px;
  height: 30px;
}

img {
  height: 30px;
}

#add-filter {
  margin: -10px -16px;
  padding: 10px 16px;
  border: 0;
  vertical-align: baseline;
  height: auto;
  display: inline-block;
}
