<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="utf-8" />
        <title>
            GPF Login
        </title>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="{% static 'users_api/registration/favicon.ico' %}" rel="icon" type="image/x-icon">
        <link href="{% static 'users_api/registration/styles.css' %}" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <img src="{% static 'users_api/registration/logo-64x64.png' %}">
            <label class="login-header">GPF: Genotypes and Phenotypes in Families</label>
        </header>

        {% if form != None %}
        <form method="post" action="{% url 'reset_password' %}" style="text-align:center">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <div>{{ form.new_password1.label_tag }}</div>
                        <div>{{ form.new_password1 }}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>{{ form.new_password2.label_tag }}</div>
                        <div>{{ form.new_password2 }}</div>
                    </td>
                </tr>
                {% if form.new_password1.errors != None or form.new_password2.errors != None %}
                <tr>
                    <td>
                        {% for errors in form.errors.values %}
                        {% for error in errors %}
                        <div class="message error">{{ error }}</div>
                        {% endfor %}
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        <input class="login-button" type="submit" value="Reset password">
                    </td>
                </tr>
            </table>


        </form>
        {% endif %}
        {% if message != None %}
        <div class="message warn">{{ message }}</div>
        {% endif %}

    </body>

</html>
