<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="utf-8" />
        <title>
            GPF New password
        </title>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="{% static 'users_api/registration/favicon.ico' %}" rel="icon" type="image/x-icon">
        <link href="{% static 'users_api/registration/styles.css' %}" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body>

        <div class="login-container">
            <div class="logo-header">
                <img class="logo" src="{% static 'users_api/registration/logo-64x64.png' %}">
                <label class="header-text">Genotypes and Phenotypes in Families</label>
            </div>
        
            {% if form != None %}
            <form method="post" action="{% url 'set_password' %}">
                {% csrf_token %}
        
                <div class="login-data-label">{{ form.new_password1.label_tag }}</div>
                <div>{{ form.new_password1 }}</div>
            
                <div class="login-data-label">{{ form.new_password2.label_tag }}</div>
                <div>{{ form.new_password2 }}</div>
                    
                {% if form.errors %}
                    {% for errors in form.errors.values %}
                    {% for error in errors %}
                    <div class="message error">{{ error }}</div>
                    {% endfor %}
                    {% endfor %}
                {% endif %}

                <input class="login-button" type="submit" value="Set password">
            </form>
            {% endif %}

            {% if message != None %}
            <div class="message warn">{{ message }}</div>
            {% endif %}
        </div>
    </body>

</html>
