<div class="row">
  <div class="col-12 mt-3">
    @if (groups) {
      <div class="grid-container">
        <div class="grid-header">Groups</div>
        <div class="grid-header">Users</div>
        <div class="grid-header">Datasets</div>
        <div class="grid-header">Actions</div>
        @for (group of groups; track group) {
          <div class="grid-cell" [attr.id]="group.name + '-group-cell'">
            <span>{{ group.name }}</span>
            @if (!group.users.length && !group.datasets.length) {
              <span id="group-deletion-warning" class="alert alert-warning"
                >Empty groups with no users or datasets will be deleted!</span
              >
            }
          </div>
          <div class="grid-cell list-cell" [attr.id]="group.name + '-users-cell'">
            <div class="item-list" [attr.id]="group.name + '-users-list'">
              @for (user of group.users; track user) {
                <div class="item-wrapper" [attr.id]="user + '-list-item'">
                  <span class="item" [title]="user">{{ user }}</span>
                  @if (!(group.name === 'admin' && currentUserEmail === user)) {
                    <gpf-confirm-button
                      (clicked)="removeUser(group, user)"
                      class="remove-group-button"
                      confirmText="Remove"
                      title="Remove user"
                      message="Remove user?"
                      [iconStyle]="{ name: 'close', class: 'material-symbols-outlined sm bold' }">
                    </gpf-confirm-button>
                  }
                </div>
              }
            </div>
            <gpf-item-add-menu
              [id]="group.name"
              [getItems]="getUserNamesFunction(group)"
              (addedItem)="addUser(group, $event)"></gpf-item-add-menu>
          </div>
          <div class="grid-cell list-cell" [attr.id]="group.name + '-datasets-cell'">
            <div class="item-list" [attr.id]="group.name + '-datasets-list'">
              @for (dataset of group.datasets; track dataset) {
                <div class="item-wrapper" [attr.id]="dataset.datasetName + '-list-item'">
                  <span class="item" [title]="dataset.datasetName">{{ dataset.datasetName }}</span>
                  @if (group.name !== 'any_dataset' && group.name !== dataset.datasetId) {
                    <gpf-confirm-button
                      (clicked)="removeDataset(group, dataset.datasetId)"
                      confirmText="Remove"
                      title="Remove dataset"
                      message="Remove dataset?"
                      [iconStyle]="{ name: 'close', class: 'material-symbols-outlined sm bold' }">
                    </gpf-confirm-button>
                  }
                </div>
              }
            </div>
            <gpf-item-add-menu
              [id]="group.name"
              [getItems]="getDatasetNamesFunction(group)"
              (addedItem)="addDataset(group, $event)"></gpf-item-add-menu>
          </div>
          <div class="grid-cell" [attr.id]="group.name + '-actions-cell'">
            @if (group.name !== 'admin') {
              <gpf-confirm-button
                [attr.id]="group.name + '-delete-group-button'"
                (clicked)="deleteGroup(group)"
                confirmText="Delete"
                title="Delete group"
                message="Delete group?"
                [iconStyle]="{ name: 'close', class: 'material-symbols-outlined' }">
              </gpf-confirm-button>
            }
          </div>
        }
      </div>
    }
  </div>
</div>
