.legend {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 101;
    padding: 8px;
    padding-top: 4px;
    width: 328px;
    padding-right: 12px;
}

#legend-button {
    margin: 8px 2px 2px;
    width: 100%;
    height: 40px;
    border-radius: 0;
}
