#legend {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 8px;
  position: absolute;
  bottom: 44px;
}

#legend-items-wrapper {
  margin-bottom: 8px;
  min-width: 220px;
}

.legend-item {
  margin-bottom: 6px;
  direction: ltr;
  white-space: nowrap;
}

#expand-legend-button {
  margin: 0;
  width: 100%;
  min-width: 220px;
  height: 44px;
  border-radius: 0;
  position: relative;
  outline: none;
  background-color: #138496 !important;
  border-color: #117a8b !important;
  color: #fff;
}

.select-dropdown-icon {
  transform: rotate(180deg);
  position: absolute;
  top: 18px;
  right: 12px;
}

#expand-legend-button-wrapper {
  background-color: #fff;
}
