<div
  *ngIf="datasetService.getSelectedDataset().studies?.length !== null" id="unique-family-variants-block" class="form-block"
>
  <div class="card">
    <ul ngbNav class="navbar bg-light nav-pills" style="justify-content: flex-start">
      <label
        for="unique-family-variants-checkbox"
        class="nav-title-custom"
        style="width: unset; margin-right: unset; padding-right: 10px"
        >Unique family variants</label
      >
      <li ngbNavItem style="display: flex">
        <input id="unique-family-variants-checkbox" type="checkbox" [(ngModel)]="filterValue" />
      </li>
    </ul>
  </div>
</div>
