<div class="container">
  <gpf-genes-block></gpf-genes-block>
  <gpf-regions-block></gpf-regions-block>
  <gpf-genotype-block></gpf-genotype-block>
  <gpf-missense-scores-block
    *ngIf="selectedDataset"
    [datasetConfig]="selectedDataset">
  </gpf-missense-scores-block>
  <gpf-family-filters-block
    *ngIf="selectedDataset?.genotypeBrowser?.hasFamilyFilters"
    [datasetConfig]="selectedDataset"
    [genotypeBrowserState]="genotypeBrowserState">
  </gpf-family-filters-block>

  <div class="form-block">
	  <form
	      (ngSubmit)="onSubmit($event)"
	      action="{{ configService.baseUrl }}genotype_browser/download" method="post">
	    <input name="queryData" type="hidden">
	    <button class="btn btn-md btn-primary btn-right" type="submit">Download</button>
	  </form>
	  <input type="button" class="btn btn-md btn-primary" value="Preview" (click)="submitQuery()">
  </div>
</div>
<div class="genotype-browser-results">
    <gpf-genotype-preview-table
        [additionalColumns]="selectedDataset?.genotypeBrowser?.additionalColumns"
        [genotypePreviewsArray]=genotypePreviewsArray>
    </gpf-genotype-preview-table>
</div>
