.genotype-browser-results {
  padding: 30px;
  width: 100%;
  white-space: nowrap;
}

.genotype-browser-results .chromosomes-preview {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.genotype-browser-results .overview {
  border-top: 1px solid rgba(0, 0, 0, 12.5%);
  padding-top: 20px;
  vertical-align: middle;
}

.button {
  display: flex;
}