.genotype-browser-results {
	padding: 30px;
	width: 100%;
}

.genotype-browser-results .chromosomes-preview {
  display: block;
  margin: 0 auto;
  width: fit-content;
}


.genotype-browser-results .overview {
  border-top: 1px solid rgba(0,0,0,0.125);
  padding-top: 20px;
  font-size: 0.75em;
  font-weight: 500;
}

.button {
  display: flex;
}
.button > input, gpf-save-query-button {
  display: inline-block;
  margin-left: 0.3%;
  margin-right: 0.3%;
}