<div class="container">
  <gpf-genes-block></gpf-genes-block>
  <gpf-regions-block></gpf-regions-block>
  <gpf-genotype-block></gpf-genotype-block>
  <gpf-family-filters-block
    [advancedFilters]="selectedDataset?.genotypeBrowser?.phenoFilters"
    [datasetId]=selectedDataset?.id>
  </gpf-family-filters-block>

  <input type="button" value="Preview" (click)="submitQuery()">
  <form
      (ngSubmit)="onSubmit($event)"
      action="{{ configService.baseUrl }}genotype_browser/download" method="post">
    <input name="queryData" type="hidden">
    <button type="submit">Download</button>
  </form>

</div>

<div class="">
  <gpf-genotype-preview-table
    [phenoColumns]="selectedDataset?.genotypeBrowser?.phenoColumns"
    [genotypePreviewsArray]=genotypePreviewsArray>
  </gpf-genotype-preview-table>
</div>
