<div class="row">
  <div class="col-sm-3">
    <select class="row-sm-3 form-control" [(ngModel)]="selectedGeneSetsCollection" required style="width: 100%" >
      <option *ngFor="let collection of geneSetsCollections" [ngValue]="collection">{{collection.desc}}</option>
    </select>
    <!-- style="text-align: left; border: 1px solid #dddddd; width: 100%" -->
    <ngb-accordion *ngIf="selectedGeneSetsCollection?.types" activeIds="denovo-geneset-type-0" destroyOnHide="false"
        #acc="ngbAccordion" class="gene-sets-types row-sm-3">
      <ngb-panel *ngFor="let type of selectedGeneSetsCollection.types; let i = index" id="denovo-geneset-type-{{i}}">
        <ng-template ngbPanelTitle *ngIf="selectedGeneSetsCollection?.types?.length > 1">
          <span class="dropdown-toggle btn-sm">{{ getGeneSetName(type, 30) }}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div *ngFor="let phenotype of type.phenotypes">
            <input type="checkbox" [ngModel]="isSelectedGeneType(type.datasetId, type.peopleGroupId, phenotype.id)" (ngModelChange)="setSelectedGeneType(type.datasetId, type.peopleGroupId, phenotype.id, $event); onSearch()">
            <span class="pedigree-icon" [style.background-color]="phenotype.color"></span>
            {{ phenotype.name }}
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>

  <div class="col-sm-9">
    <gpf-searchable-select
      (search)="onSearch($event)"
      (selectItem)="onSelect($event)"
      [data]="geneSets"
      caption="{{ selectedGeneSet ? selectedGeneSet.name + '(' + selectedGeneSet.count + '): ' + selectedGeneSet.desc : '' }}">
      <div *gpf-searchable-select-template="let element">
        <span
          data-toggle="tooltip"
          data-placement="bottom"
          title="{{element.name}} ({{element.count}}): {{ element.desc }}"
          innerHtml="{{element.name | boldMatching: searchQuery}} ({{element.count}}): {{ element.desc | boldMatching: searchQuery }} ">
        </span>
      </div>
    </gpf-searchable-select>
    <div *ngIf="selectedGeneSet">
      Count: {{ selectedGeneSet.count }}
      (<a href="{{ getDownloadLink(selectedGeneSet) }}">Download</a>)
    </div>

    <gpf-errors-alert [errors]="errors"></gpf-errors-alert>
  </div>
</div>
