.text-wrap {
  white-space: normal;
}

.gene-sets-types {
  display: block;
  margin-top: 15px;
}

#selected-collection {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep .sets-dropdown {
  border-radius: 0.375rem !important;
  border: 1px solid rgba(0, 0, 0, 17%);
  border-top: none;
  padding: 0 !important;
  box-shadow: none;
}

/*  overrides pedigree modal; TO FIX */
::ng-deep .modal-dialog-centered {
  justify-content: center;
}

::ng-deep .modal-content {
  width: fit-content;
}

#content-wrapper {
  width: 1000px;
  height: 650px;
  overflow-y: scroll;
  padding: 15px;
}

#open-modal-button {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  padding: 6px 12px;
  margin-top: 20px;
}
