.pedigree-icon {
    margin-bottom: -1px;
    margin-right: 3px;
    margin-left: 3px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 0.1px solid #aaaaaa;
}

.text-wrap {
    white-space: normal;
}

.gene-sets-types {
    display: block;
    margin-top: 15px;
}
    
::ng-deep .card-header {
    padding: .1rem .2rem;
}
