<div style="padding: 20px" id="pheno-filters-panel">
  <div>
    <gpf-pheno-measure-selector [datasetId]="selectedDatasetId" (selectedMeasureChange)="addMeasure($event)">
    </gpf-pheno-measure-selector>
  </div>

  <ng-container *ngFor="let histogram of selectedMeasureHistograms">
    <gpf-person-filter
      [selectedMeasure]="histogram.measureHistogram"
      [initialState]="histogram.state"
      (updateState)="addToState($event)"></gpf-person-filter>

    <div>
      <gpf-remove-button
        [field]="histogram.measureHistogram.measure"
        (removeFilter)="removeFromState($event)"></gpf-remove-button>
    </div>
  </ng-container>
  <!-- <gpf-errors-alert [errors]="errors"></gpf-errors-alert> -->
</div>
